<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">会员</a></span><span class="title2">VIP尊享</span></p>
    </div>
    <div class="notice-list">
        <div class="notice-listContent">
            <p class="wei_name">如何获得：</p>
            <p class="wei_text">1.一次性消费满5000元或一年内累计消费满10000元,可申请办理VIP卡<br />
                2.如之前是微会员，将自动升级成VIP卡</p>
            <p class="wei_name">会员权益：</p>
            <p class="wei_text">1.购物九折优惠<br />
                2.每年生日当月赠送一次1000元生日特惠券<br />
                3.新增VIP 300元返店券（首次新增VIP赠送）<br />
                4.积分回馈活动<br />
                5.VIP特供产品购买权<br />
                6.定期免费获赠本品牌时尚资讯杂志<br />
                7.特殊节日回馈活动<br />
            </p>
            <p class="wei_name">温馨提示：</p>
            <p class="wei_text">在微信平台或至门店完善个人信息，可获得额外积分奖励，享受个性化的回馈项目</p>
            <div class="blank"></div>
        </div>
    </div>
</div>