<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">会员</a></span><span class="title3">微会员尊享</span></p>
    </div>
    <div class="notice-list">
        <div class="notice-listContent">
            <p class="wei_name">如何获得：</p>
            <p class="wei_text">1.关注LaVico朗维高微信服务号，在线申请会员卡<br />
                2.至门店消费，验证手机号码，填写资料，即可拥有会员卡</p>
            <p class="wei_name">会员权益：</p>
            <p class="wei_text">1.享受购物积分以及积分回馈礼品或现金券<br />
                2.可享会员专属优惠活动</p>
            <p class="wei_name">温馨提示：</p>
            <p class="wei_text">在微信平台或至门店完善个人信息，可获得额外积分奖励，享受个性化的回馈项目</p>
            <div class="blank"></div>
        </div>
    </div>
</div>
