<div class="wrapper">

        <if condition="{@bindStatus=='bind'}"
            <if condition="{@type=='0'}">
                   <div class="vip-card"><img src="/lavico/public/images/type-3-1.jpg" /></div>
            <elseif condition="{@type == '1'}"/>
                    <div class="vip-card"><img src="/lavico/public/images/type-1.jpg" /></div>
                    <div class="vip-card-num" style="color: #999;">{@MEMBER_ID}</div>
            <elseif condition="{@type=='2'}"/>
                    <div class="vip-card"><img src="/lavico/public/images/type-2.jpg" /></div>
                    <div class="vip-card-num" style="color: #999;">{@MEMBER_ID}</div>
            <elseif condition="{@type=='3'}"/>
                    <div class="vip-card"><img src="/lavico/public/images/type-3.jpg" /></div>
                     <div class="vip-card-num" style="color: #999;">{@MEMBER_ID}</div>
            <else/>
                <div class="vip-card"><img src="/lavico/public/images/type-3-1.jpg" /></div>
            </if>
        <else/>
            <div class="vip-card"><img src="/lavico/public/images/type-3-1.jpg" /></div>
        </if>
        <script>
            $(function () {
                function vip_card() {
                    var vip_Win = $(window).height() / 4;
                    $(".vip-card-num").css("top", vip_Win);
                }
            })
                
        </script>
        <div class="member">
        <div class="member-content">
            <if condition="@bindStatus == 'bind'">
                <div class="radius">
                    <ul class="list">
                        <li><a id="announcement" href="{@announcement}">会员公告</a></li>
                        <li><a id="coupon" href="{@coupon}">专属礼券<span id="count" class="suba">(正加载)</span></a></li>
                        <li><a id="points" href="{@reedem}">积分/兑换</a></li>
                        <li><a id="buy" href="{@buy}">消费记录</a></li>
                        <li class="border-none"><a id="fav" href="{@fav}">收藏清单</a></li>
                    </ul>
                </div>
            </if>
            <div class="radius radius1">
                <div class="title">会员特权</div>
                <ul class="list">
                    <li id="weiCard"><a href="{@weiCard}">微会员尊享<span class="suba">(享受积分回馈)</span></a></li>
                    <li id="vipCard"><a href="{@vipCard}">VIP尊享<span class="suba">(享受九折优惠和积分)</span></a></li>
                    <li id="goldCard" class="border-none"><a href="{@goldCard}">白金VIP卡尊享<span class="suba">(享受八五折优惠和积分)</span></a></li>
                </ul>
            </div>

            <if condition="@bindStatus == 'bind'">
                <div class="radius radius1">
                    <ul class="list">
                        <li><a id="info" href="{@info}">个人资料<span class="suba">(完善资料可奖励积分)</span></a></li>
                        <li class="border-none"><a id="unbind" href="{@unbind}">解绑会员卡</a></li>
                    </ul>
                </div>
            <else/>
                <div class="radius radius1">
                    <ul class="list">
                        <li><a id="info"  class="yellow" href="{@register}">申领会员卡</a></li>
                        <li class="border-none"><a id="unbind" class="yellow" href="{@bind}">绑定会员卡</a></li>
                    </ul>
                </div>
            </if>

            <div class="radius radius1">
                <ul class="list">
                    <li class="border-none"><a id="store" href="{@store}">门店查询</a></li>
                </ul>
            </div>
            <div class="blank"></div>
        </div>
    </div>
</div>
<input type="hidden" id="wxid" name="wxid" value="{@wxid}" />
<input type="hidden" id="bindStatus" name="bindStatus" value="{@bindStatus}" />
<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>