<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=0">

<meta name="mobileoptimized" content="0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta content="telephone=no" name="format-detection" />

<!--<script type="text/javascript" src="/lavico/public/js/jquery-1.11.0.min.js"></script>-->
<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />
<!--Content Start-->
<!-- 正文会显示在 <views> 标签处 -->
<views/>
<!--footer start-->

