<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!--<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=0">-->
<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale=1, user-scalable=no">
<meta name="mobileoptimized" content="0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta content="telephone=no" name="format-detection" />

<!--<script type="text/javascript" src="/lavico/public/js/jquery-1.11.0.min.js"></script>-->
<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />
<!--Content Start-->
<!-- 正文会显示在 <views> 标签处 -->
<views/>
<!--footer start-->
<!--弹出窗口-->

<div class="popup popupStyle1" style="z-index: 2000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle1').trigger('save', []);$('.popupStyle1').hide();">保存</a>
        <a href="javascript:" onclick="$('.popupStyle1').trigger('cancel', []);$('.popupStyle1').hide();">取消</a>
    </div>
</div>

<div class="popup popupStyle2" style="z-index: 2000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle2').trigger('confirm', []);$('.popupStyle2').hide();">确定</a>
    </div>
</div>


<div class="popup popupStyle3" style="z-index: 2000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle3').trigger('yes', []);$('.popupStyle3').hide();">好</a>
        <a href="javascript:" onclick="$('.popupStyle3').trigger('no', []);$('.popupStyle3').hide();">不好</a>
    </div>
</div>

<script>
    window.popupStyle1 = {}
    window.popupStyle1.on = function(title,cb){
        $(".popupStyle1").find("p").text(title)
        $(".popupStyle1").show()
        $('.popupStyle1').on("save", function(event) {
            cb("save")
        });
        $('.popupStyle1').on("cancel", function(event) {
            cb("cancel")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margon-top", -popupHig / 2);
    }
    window.popupStyle2 = {}
    window.popupStyle2.on = function(title,cb){
        $(".popupStyle2").find("p").text(title)
        $(".popupStyle2").show()
        $('.popupStyle2').on("confirm", function(event) {
            cb("confirm")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margon-top", -popupHig / 2);
    }
    window.popupStyle3 = {}
    window.popupStyle3.on = function(title,cb){
        $(".popupStyle3").find("p").text(title)
        $(".popupStyle3").show()
        $('.popupStyle3').on("yes", function(event) {
            cb("yes")
        });
        $('.popupStyle3').on("no", function(event) {
            cb("no")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margon-top", -popupHig / 2);
    }

    // 使用方法

    /*

     window.popupStyle2.on("请先申领或绑定会员卡",function(event){

     if(event == "confirm"){
     location.href="/lavico/member/card_blank/register?wxid="+$("#wxid").val()
     }
     })


     */
</script>


