<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=0">

<meta name="mobileoptimized" content="0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta content="telephone=no" name="format-detection" />

<!--<script type="text/javascript" src="/lavico/public/js/jquery-1.11.0.min.js"></script>-->
<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />

<script>
    window.onload = function () {
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1;
        if (isAndroid) {
            var bo = lowerAndroid(4.0);
            if (bo) {
               alert("版本小于3")
            }
        }
        function lowerAndroid(n) {
            var bo = false;
            var ua = navigator.userAgent.toLowerCase();
            var version = ua.substr(ua.indexOf('android') + 8, 3);
            if (ua.indexOf("android"))
                if (parseFloat(version) < n)
                    bo = true;
            return bo;
        }
    }
</script>

<!--Content Start-->
<!-- 正文会显示在 <views> 标签处 -->
<views/>
<!--footer start-->

