<script src='/lavico/public/js/newAddTheme.js' type='text/javascript'></script>
<style>
    .borderLine{
        border:1px solid black
    }
    .chooseSty{
        list-style:none;
        line-height:60px;
    }
    #containerHide{
        display: none;
    }
</style>
<script>
function addOptions(){
    $("div[name='optionSet']").append($("div[name='hiddenOption']").find("div[name='oneOption']").clone());
}
function addGift(){
    $("div[name='setGift']:last").append($("div[name='hideSetGift']").find("div[name='scoreMinMaxOne']").clone());
}
function setGiftDel(alink){
    $(alink).parent().remove();
}
function delChoose(btnDelChoose){
    $(btnDelChoose).parent().parent().remove();
}
function addChoose(btnAddChoose){
    if($(btnAddChoose).prev().find("li:visible").length<6){
        $(btnAddChoose).prev().append($("div[name='hideAddChoose']").find("li").clone());
    }
}
function addMutilChoose(btnAddMutil){
    if($(btnAddMutil).prev().find('div[name=mutilOne]').length<6){
        $(btnAddMutil).prev().append($("div[name=hideMutilOne]").find("div[name=mutilOne]").clone());
    }
}
function delMutilOneF(btnDel){
    $(btnDel).parent().remove();
}
function delNewOption(btnDelOption){
    $(btnDelOption).parent().remove();
}
function changeType(btnSelect){
    if($(btnSelect).val()==0){
        $(btnSelect).parent().find("div[name=sinple]").show();
        $(btnSelect).parent().find("div[name=mutilWDiv]").hide();
        $(btnSelect).parent().find("div[name=simpleAnswer]").hide();
    }else if($(btnSelect).val()==1){
        $(btnSelect).parent().find("div[name=sinple]").hide();
        $(btnSelect).parent().find("div[name=mutilWDiv]").show();
        $(btnSelect).parent().find("div[name=simpleAnswer]").hide();
    }else{
        $(btnSelect).parent().find("div[name=sinple]").hide();
        $(btnSelect).parent().find("div[name=mutilWDiv]").hide();
        $(btnSelect).parent().find("div[name=simpleAnswer]").show();
    }
}
</script>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/lavico/answerQuestion/themeList" class="stay">题组列表</a> <em></em></li>
    <li class="active"><span>添加题目</span></li>
</ul>


<div name='container' class="index-data mb20">
<div class="panel-heading index-icon-1"><span class="box-title">基础设置</span></div>
                                                                             <div name='themeDic' class="box-container" style="padding: 15px">
题目：<input type='text' name='themeName' class="form-control input-sm" style="width: 150px">&nbsp;&nbsp;
开始时间:<input type='text' name='beginTime' class="form-control input-sm" style="width: 100px">&nbsp;&nbsp;
结束时间:<input type='text' name='endTime' class="form-control input-sm" style="width: 100px">&nbsp;&nbsp;是否开启:
<select name='isOpen'>
<option value='0'>关</option>
<option value='1' selected='selected'>开</option>
</select><br/>
</div>
</div>
<div class="panel-heading index-icon-1"><span class="box-title">题目设置</span></div>
<div name='optionSet' class="box-container">
    <div name='oneOption'><br/>
        选项名称:<input type='text' name='title' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
        选项类型:<select name='type' onchange='changeType(this)'>
            <option value='0'>单选题</option>
            <option value='1'>复选题</option>
            <option value='2'>简单题</option>
        </select>
        <input type='button' name='delNewAddOptoin' value='删除题目' onclick='delNewOption(this)' class="btn btn-embossed btn-primary btnsearch">
        <br/>
        <div name='sinple'>
            <ul name='choose' class='chooseSty'>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg' id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg' id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
            </ul>

            <center> <input type='button' name='addChooseOne' value='添加选项(最多6项)' onclick='addChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>
        <div name="mutilWDiv" id='containerHide'>
            <div name='mutilDiv'>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg' id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
            </div>
            <center><input type='button' name='addMutilOne' value='添加选项(最多6项)' onclick='addMutilChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>
        <div name='simpleAnswer'  id='containerHide' style="line-height:20px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
            积分:<input type='text' name='simpleScore' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
            字数范围:<input type='text' name='simpleMinLen'  class="form-control input-sm" style="width: 50px"> ~
            <input type='text' name='simpleMaxLen'  class="form-control input-sm" style="width: 50px">
        </div>
    </div>
</div>

<input type='button' name='addChoose' value='添加题目' onclick='addOptions()'>
<div class="panel-heading index-icon-1"><span class="box-title">奖项设置</span></div>
<div name='setGift' class="box-container">
<div name='scoreMinMaxOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
    <strong>条件:</strong>低分值:<input type='text' name='conditionMinScore' class="form-control input-sm" style="width: 50px">
    ~ 高分值:<input type='text' id='maxScore' name='conditionMaxScore' class="form-control input-sm" style="width: 50px">
    <strong>设置标签:</strong><input type='text' name='conditionLabel' class="form-control input-sm" style="width: 150px"><br/>
    <strong>结果:</strong>所获标签:<input type='text' name='getLabel' class="form-control input-sm" style="width: 150px">
    所获积分:<input type='text' name='getScore' class="form-control input-sm" style="width: 150px"> 所获奖券:
    <input type='text' name='getActivities' class="form-control input-sm" style="width: 150px">
    <input type='button' value='delete' name='delSetGift' onclick='setGiftDel(this)' class="btn btn-embossed btn-primary btnsearch">
</div>
</div>
<input type='button' name='addScoreMinMax' value='添加奖项' onclick='addGift()'><br/>
<input type='button' name='save' id='save' value='添加题目'>

<!--隐藏标签-->
<div name='hideMutilOne' id='containerHide'>
    <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
        <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
            选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
            分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
            正确答案:<input type='checkbox' name='correct'/><br/>
            <input type="hidden" name="uploadFile"/>
            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
        </div>
        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
        </div>
    </div>
</div>


<div name='hideAddChoose' id='containerHide'>
    <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
        <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
            <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
            <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                <input type='hidden' name='chooseID'>
                选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                <input type="hidden" name="uploadFile"/>
                <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
            </div>
            <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic' id='containerHide'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
            </div>
        </div>
    </li>
</div>


<div name='uphiddenOption' id='containerHide'>
    <div name='oneOption' >
        <br/>
        选项名称:<input type='text' name='title' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
        选项类型:<select name='type' onchange='changeType(this)'>
        <option value='0'>单选题</option>
        <option value='1'>复选题</option>
        <option value='2'>简单题</option>
    </select>
        &nbsp;&nbsp;
        <input type='button' name='delNewAddOptoin' value='删除题目' onclick='delNewOption(this)' class="btn btn-embossed btn-primary btnsearch">
        <br/>
        <div name='sinple'>
            <ul name='choose' class='chooseSty'>
            </ul>
            <center><input type='button' name='addChooseOne' value='添加选项(最多6项)'  onclick='addChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>

        <div name="mutilWDiv" id='containerHide'>
            <div name='mutilDiv'>
            </div>
            <center><input type='button' name='addMutilOne' value='添加选项(最多6项)' onclick='addMutilChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>
    </div>
</div>

<div name='hideSinple' id='containerHide'>
    <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
        <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
            <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
            <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                <input type='hidden' name='chooseID'>
                选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                <input type="hidden" name="uploadFile"/>
                <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
            </div>
            <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
            </div>
        </div>
    </li>
</div>

<div name='hideMutil'  id='containerHide'>
    <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
        <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
            选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
            分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
            正确答案:<input type='checkbox' name='correct'/><br/>
            <input type="hidden" name="uploadFile"/>
            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
        </div>
        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
        </div>
    </div>
</div>


<div name='hideSimple' id='containerHide' >
    <div name='simpleAnswer'  id='containerHide' style="line-height:20px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
        积分:<input type='text' name='simpleScore' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
        字数范围:<input type='text' name='simpleMinLen'  class="form-control input-sm" style="width: 50px"> ~
        <input type='text' name='simpleMaxLen'  class="form-control input-sm" style="width: 50px">
    </div>

</div>

<div name='hideSetGift' id='containerHide' >
    <div name='scoreMinMaxOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
        <strong>条件:</strong>低分值:<input type='text' name='conditionMinScore' class="form-control input-sm" style="width: 50px">
        ~ 高分值1:<input type='text' name='conditionMaxScore' class="form-control input-sm" style="width: 50px">
        <strong>设置标签:</strong><input type='text' name='conditionLabel'><br/>
        <strong>结果:</strong>所获标签:<input type='text' name='getLabel' class="form-control input-sm" style="width: 150px">
        所获积分:<input type='text' name='getScore' class="form-control input-sm" style="width: 150px"> 所获奖券:
        <input type='text' name='getActivities' class="form-control input-sm" style="width: 150px">
        <input type='button' value='delete' name='delSetGift' onclick='setGiftDel(this)' class="btn btn-embossed btn-primary btnsearch">
    </div>
</div>

<div name='hideScoreMinMaxOne1' id='containerHide'>
    <div name='scoreMinMaxOne'>
        <strong>条件:</strong>低分值:<input type='text' name='conditionMinScore'>~高分值:<input type='text' name='conditionMaxScore'> <strong>设置标签:</strong><input type='text' name='conditionLabel'><br/>
        <strong>结果:</strong>所获标签:<input type='text' name='getLabel'> 所获积分:<input type='text' name='getScore'> 所获奖券:<input type='text' name='getActivities'>
    </div>
</div>

<div name='hiddenOption' id='containerHide'>
    <div name='oneOption'><br/>
        选项名称:<input type='text' name='title' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
        选项类型:<select name='type' onchange='changeType(this)'>
            <option value='0'>单选题</option>
            <option value='1'>复选题</option>
            <option value='2'>简单题</option>
        </select>
        <input type='button' name='delNewAddOptoin' value='删除题目' onclick='delNewOption(this)' class="btn btn-embossed btn-primary btnsearch">
        <br/>
        <div name='sinple'>
            <ul name='choose' class='chooseSty'>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
                <li style='line-height:40px; border-bottom: 2px solid gray; margin-top: 10px;'>
                    <div name='chooseOne' style='clear:both;overflow: hidden;padding-bottom:20px;'>
                        <input type='button' name='delChoose' value='删除' onclick='delChoose(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                        <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                            <input type='hidden' name='chooseID'>
                            选项:<input type='text' name='chooseName' class="form-control input-sm" style="width: 250px">
                            分值:<input type='text' name='chooseScore' class="form-control input-sm" style="width: 50px"><br>
                            下一题/标签:<input type='text' name='chooseNext' class="form-control input-sm" style="width: 150px">
                            &nbsp;&nbsp;正确答案:<input type='checkbox' name='correct' /><br/>
                            <input type="hidden" name="uploadFile"/>
                            <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                        </div>
                        <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                                <span name='upPic'>
                                    <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                                    <span><a href="javascript:" onclick="delPic(this)">删除</a>

                                    </span>
                                </span>
                        </div>
                    </div>
                </li>
            </ul>

            <center><input type='button' name='addChooseOne' value='添加选项(最多6项)' onclick='addChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>
        <div name="mutilWDiv" id='containerHide'>
            <div name='mutilDiv'>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
        <span name='upPic'>
            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
        </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                    <span name='upPic'>
                        <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                        <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
                    </span>
                    </div>
                </div>
                <div name='mutilOne' style="line-height:40px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
                    <input type='button' name='delMutilOne' value='删除' onclick='delMutilOneF(this)' class='btn btn-defalut btn-social-googleplus pull-left"'>
                    <div style='padding: 0px 20px;float:left;width:450px;height:100px;'>
                        选项:<input type='text' name='mutilTitle' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
                        分值：<input type='text' name='mutilScore' class="form-control input-sm" style="width: 50px"><br/>
                        正确答案:<input type='checkbox' name='correct'/><br/>
                        <input type="hidden" name="uploadFile"/>
                        <input type="file" name="file" class="file" onchange="fileSelected(this)"/>
                    </div>
                    <div style='float:left;width:200px;height:100px;padding-top: 10px' name='divImg'  id="containerHide">
                        <span name='upPic'>
                            <img name="picimg" class='media-object' style="width: 64px; height: 64px;" src="">
                            <span><a href="javascript:" onclick="delPic(this)">删除</a></span>
                        </span>
                    </div>
                </div>
            </div>
            <center><input type='button' name='addMutilOne' value='添加选项(最多6项)' onclick='addMutilChoose(this)' class="btn btn-embossed btn-primary btnsearch"></center>
        </div>
        <div name='simpleAnswer'  id='containerHide' style="line-height:20px; border-bottom: 2px solid gray; overflow: hidden; padding: 10px;margin-left: 30px">
            积分:<input type='text' name='simpleScore' class="form-control input-sm" style="width: 250px">&nbsp;&nbsp;
            字数范围:<input type='text' name='simpleMinLen'  class="form-control input-sm" style="width: 50px"> ~
            <input type='text' name='simpleMaxLen'  class="form-control input-sm" style="width: 50px">
        </div>
    </div>
</div>