<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />


<div class="wrapper">
    <div class="coupon-banner"><img src="/lavico/public/images/answer_banner.jpg" /></div>
    <div class="activity-rules">
        <div class="begin"><a href="/lavico/answerQuestion/Filter?_id={@docs._id}&optionId=1&wechatid={@wechatId}">立即开始</a></div>
        <div class="text">
            <div class="title">活动及使用规则</div>
            <div class="title1">活动说明：</div>
            <div class="subtext">{@docs.explanation}</div>
            <div class="title1">奖项设置：</div>
            <div class="subtext">{@docs.description}</div>
            <div class="title1">免责声明：</div>
            <div class="subtext"><p>{@docs.relief}</p>
            </div>
        </div>
    </div>
</div>

