<script type="text/javascript">
var jsonObject=JSON.parse('{@option}');
var _id='{@_id}';
var optionCount={@optionCount};
var wechatid='{@wechatid}';

function build(){
$(".title").append(jsonObject.title);
if(jsonObject.type==2){
    $(".content").append("<textarea cols='30' rows='5' name='descContent'></textarea>");
}else{
            //判断是否有图片
            for(var i=0;i<jsonObject.choose.length;i++){
            	if(jsonObject.choose[i].uploadFile=="" || jsonObject.choose[i].uploadFile=="undefined"){

           			if(jsonObject.type==0){//simgleChoose

                        var chooseNext=jsonObject.choose[i].chooseNext;
                        if(chooseNext.substr(1,1)=="#")
                            chooseNext=chooseNext.substr(2);

                    	//show  value:"题号+选项编号+积分+下一题编号"或者“题号+选项编号+积分+标签”
                    	$(".content ul").append("<li><input type='radio' name='singleChooseInput' class='single' value='"+jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+jsonObject.choose[i].chooseNext+"'>"+jsonObject.choose[i].chooseName+"</li>");
                	}else if(jsonObject.type==1){//mutilChoose
                    	$(".content ul").append("<li><input type='checkbox' name='mutilChooseInput' value='"+jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+jsonObject.choose[i].chooseNext+"'>"+jsonObject.choose[i].chooseName+"</li>");
                    }
            	}else{//exists photo
            		if(jsonObject.type==0){//simgleChoose
                    	//show  value:"题号+选项编号+积分+下一题编号"或者“题号+选项编号+积分+标签”
                    	$(".content ul").append("<li><input type='radio' name='singleChooseInput' class='single' value='"+jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+jsonObject.choose[i].chooseNext+"'>"+jsonObject.choose[i].chooseName+"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='"+jsonObject.choose[i].uploadFile+"' name='radioimg' width='100' height='100'></li>");
                	}else if(jsonObject.type==1){//mutilChoose
                    	$(".content ul").append("<li><input type='checkbox' name='mutilChooseInput' value='"+jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+jsonObject.choose[i].chooseNext+"'>"+jsonObject.choose[i].chooseName+"<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src='"+jsonObject.choose[i].uploadFile+"' name='chkimg' width='100' height='100'></li>");
                    }
            	}
        	}

	}
	//finish btn or next btn
    if(jsonObject.optionId<optionCount){
        $('.btn').append('<input type="button" name="next" value="下一题" onclick="nextChoose()">');
    }else
    {
        $('.btn').append('<input type="button" name="next" value="完成" onclick="finish()">');
    }
}

function finish(){
    if(jsonObject.type==2){
        var content=$("textarea[name='descContent']").val();
        location.href="/lavico/answerQuestion/simpleQuestion?wechatid="+wechatid+"&finish=true&score="+jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+"&receiveAnswer="+content;
    }else{
        if($("input[name='singleChooseInput']")>0){//single
            //record score and trace
            value=$("input[name='singleChooseInput']:checked").val();
            valueArr=value.split('+');
            location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=0&optionId="+valueArr[0]+"&_id="+_id+"&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3];
        }else if($("input[name='mutilChooseInput']:checked").length>0){//mutil
           $("input[name='chk']:checked").each(function(){
                value=$(this).val();
                valueArr=value.split('+');
                if(!isNaN(parseInt(valueArr[2])))
                    score+=parseInt(valueArr[2]);//累计选项积分
            });
            location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=1&optionId="+valueArr[0]+"&_id="+_id+"&chooseId="+valueArr[1]+"&score="+score+"&chooseNext="+valueArr[3];
        }

    }
}


function nextChoose(){
    var value=0;
    var valueArr="";
    var score=0;

    if($(".content").find("textarea").length>0){//simple
		var content=$("textarea[name='descContent']").val();
		location.href="/lavico/answerQuestion/simpleQuestion?score="+jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+"&receiveAnswer="+content;

    }else if($("input[name='singleChooseInput']").length>0){//single
       value=$("input[name='singleChooseInput']:checked").val();
       valueArr=value.split('+');
       location.href="/lavico/answerQuestion/record?type=0&optionId="+valueArr[0]+"&_id="+_id+"&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3];

    }else if($("input[name='mutilChooseInput']:checked").length>0){//mutil
       $("input[name='mutilChooseInput']:checked").each(function(){
            value=$(this).val();
            valueArr=value.split('+');
            if(!isNaN(parseInt(valueArr[2])))
                score+=parseInt(valueArr[2]);//累计选项积分
        });
       location.href="/lavico/answerQuestion/record?type=1&optionId="+valueArr[0]+"&_id="+_id+"&chooseId="+valueArr[1]+"&score="+score+"&chooseNext="+valueArr[3];
    }

}

window.onload=build;
</script>

<div>
    题目名称:<span class="title">&nbsp;</span>
    <div class="content">
        <ul style="list-style: none">
        </ul>
    </div>
    <span class="btn"></span>
</div>