<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />

<style>
    ul{list-style: none}
    #chooseNa{font-size: 1.4rem;}
    /*#picImg{padding-top:20px;}
    #sed{padding: 20 0 0 0;}
    #tip{font-size: 30px; text-align: center;}*/
</style>

<script>

window.hideShareButtion.on()

var jsonObject=JSON.parse('{@option}');//获取此题
var themeType = '{@themeType}';
var _id='{@_id}';//获取题ID
var optionCount={@optionCount};//获取题组总题数
var wechatid='{@wechatid}';//获取微信ID
var member_id = '{@member_id}';
var wxid = '{@wxid}';
var optionId = '{@optionId}';
var themequestion = JSON.parse('{@themequestion}')
var custReceive = JSON.parse('{@custReceive}')
var themetype = '{@themeType}'
//alert(typeof (themetype))
if(window.name != "bencalie"){
    location.reload();
    window.name = "bencalie";
}else{
    window.name = "";
}



//初始化事件
function build(){

    if(member_id=='undefined'){
        if(jsonObject.parm=="1"){
            window.popupStyle2.on("请先申请会员卡或者绑定会员,然后参加活动!",function(event){
                if(event == "confirm"){
                    window.location.href='/lavico/member/card_blank/register?wxid='+wxid
                }
            })
            return false;
        }
    }
    //添加标题显示
    $(".title").append(jsonObject.title);
    //判断是否为“主观题”
    if(jsonObject.type==2){
        $(".content").append("<div style='padding-top: 15px;'><textarea cols='20' rows='12' name='descContent' class='textarea' ></textarea></div>");

    }else{
        //非“主观题”判断是否有图片
        for(var i=0;i<jsonObject.choose.length;i++){
            if(jsonObject.choose[i].uploadFile=="" || jsonObject.choose[i].uploadFile=="undefined"){
                //无图片,判断是否为单选题
                if(jsonObject.type==0){
                    //获取单选题“下一题字段”
                    var chooseNext=jsonObject.choose[i].chooseNext;
                    //判断第一个字母是否为#号

                    //组织显示项,value:'题号+选项编号+积分+下一题编号+停止标签+自定义标签'
                    //显示数据后跟是否正确图片
                    $(".content ul").append("<li><span name='correntImg' id='sed' style='visibility:hidden'><img src=/lavico/public/images/"+
                            jsonObject.choose[i].isCorrect+".jpg></span>&nbsp;&nbsp;<input onclick='showCorrent(this)' style='display: none'  type='radio' id='for"+i+"' name='singleChooseInput' class='single ' value='"
                            + jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+
                            jsonObject.choose[i].chooseNext+"+"+jsonObject.choose[i].stopLabel+"+"+jsonObject.choose[i].customerLabel+"'><label  for='for"+i+"'><span id='chooseNa"+i+"' class='answer_check select1 lab'>"+jsonObject.choose[i].chooseName+
                            "</span></label></li>");

                    //$(".content ul").append("<li><div class='answer_check select1'>系上面两颗</div><div class='img'><img src='images/suit_pic01.jpg' /></div></li>");

                }else if(jsonObject.type==1){
                    //多项选择题 value:'题号+选项编号+积分+下一题'
                    $(".content ul").append("<li><input type='checkbox'  style='display: none'  onclick='showCorrents(this)' name='mutilChooseInput' id='for"+i+"' value='"+jsonObject.optionId+
                            "+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+
                            jsonObject.choose[i].chooseNext+"'><label for='for"+i+"'><span id='chooseNa"+i+"' class='answer_check selects1 lab'>"+jsonObject.choose[i].chooseName+"</span></label></li>");
                }
            }else{
                //选项中存在照片
                if(jsonObject.type==0){
                    //show  value:"题号+选项编号+积分+下一题编号+停止标签+自定义标签
                    $(".content ul").append("<li><span name='correntImg' id='sed' style='visibility:hidden'><img  src=/lavico/public/images/"+
                            jsonObject.choose[i].isCorrect+".jpg></span>&nbsp;&nbsp;<input onclick='showCorrent(this)' style='display: none'  type='radio' id='for"+i+"' name='singleChooseInput' class='single ' value='"
                            + jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+
                            jsonObject.choose[i].chooseNext+"+"+jsonObject.choose[i].stopLabel+"+"+jsonObject.choose[i].customerLabel+"'><label  for='for"+i+"'><span id='chooseNa"+i+"' class='answer_check select1 lab'>"+jsonObject.choose[i].chooseName+
                            "</span></label><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="+
                            jsonObject.choose[i].uploadFile+" id='picImg' name='radioimg' width='280' height='280'></li>");
                }else if(jsonObject.type==1){
                    //多项选择题 value:'题号+选项编号+积分+下一题'
                    $(".content ul").append("<li><input type='checkbox'  style='display: none' onclick='showCorrents(this)' name='mutilChooseInput' id='for"+i+"' value='"+
                            jsonObject.optionId+"+"+jsonObject.choose[i].chooseID+"+"+jsonObject.choose[i].chooseScore+"+"+
                            jsonObject.choose[i].chooseNext+"'><label for='for"+i+"'><span id='chooseNa"+i+"'  class='answer_check selects1 lab'>"+jsonObject.choose[i].chooseName+
                            "</span></label><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  src='"+jsonObject.choose[i].uploadFile+
                            "' name='chkimg' width='180' height='180' id='picImg'></li>");
                }
            }
        }
    }

    Request={
        QueryString:function(item) {
            var svalue=location.search.match(new RegExp("[\?\&]" + item + "=([^\&]*)(\&?)","i"));
            return svalue?svalue[1]:svalue;
        }
    }
    var value=Request.QueryString("optionId");
    for(var i=0;i<custReceive.length;i++){
        if(custReceive[i].themetype=="1"){
            if(custReceive[i].optionId==value){
                if(custReceive[i].chooseId == "主观题"){
                    $("textarea[name='descContent']").val(custReceive[i].resultValue);
                    $("#tip").html("您已经答过此题");
                }else if(custReceive[i].type==0){
                    $("#for"+custReceive[i].chooseId).attr('checked','checked');
                    $("#chooseNa"+custReceive[i].chooseId).removeClass("select1");
                    $("#chooseNa"+custReceive[i].chooseId).addClass("select");
                    $("#tip").html("您已经答过此题");
                }else if(custReceive[i].type==1){
                    var chooseid=custReceive[i].chooseId;
                    var arry=chooseid.split(",");
                    var str;
                    for(var h=0;h<arry.length;h++){
                        if(h==0){
                            str = arry[0].substr(1,1);
                        }else if(h==(arry.length)-1){
                            str += arry[(arry.length)-1].substr(0,1);
                        }else{
                            str += arry[h].substr(0,1);
                        }
                    }
                    for(var s=0;s<str.length;s++){
                        $("#for"+str[s]).attr('checked','checked');
                        $("#chooseNa"+str[s]).removeClass("selects1");
                        $("#chooseNa"+str[s]).addClass("selects");
                        $("#tip").html("您已经答过此题");
                    }
                }
            }
        }else{
            if(custReceive[i].optionId==value){
                if(custReceive[i].chooseId == "主观题"){
                    $("textarea[name='descContent']").val(custReceive[i].resultValue);
                    $("textarea[name='descContent']").attr("readonly","readonly");
                    $("#tip").html("您已经答过此题");
                }else if(custReceive[i].type==0){
                    $("#for"+custReceive[i].chooseId).attr('checked','checked');
                    var leng = $("input[name='singleChooseInput']").length;
                    for(var h = 0;h<leng;h++){
                        $("#for"+h).attr('disabled',true);
                        $("#tip").html("您已经答过此题");
                    }
                    $("span[name='correntImg']").css("visibility","visible");
                    $("#chooseNa"+custReceive[i].chooseId).removeClass("select1");
                    $("#chooseNa"+custReceive[i].chooseId).addClass("select");
                }else if(custReceive[i].type==1){
                    var chooseid=custReceive[i].chooseId;
                    var arry=chooseid.split(",");
                    var str;
                    for(var h=0;h<arry.length;h++){
                        if(h==0){
                            str = arry[0].substr(1,1);
                        }else if(h==(arry.length)-1){
                            str += arry[(arry.length)-1].substr(0,1);
                        }else{
                            str += arry[h].substr(0,1);
                        }
                    }
                    for(var s=0;s<str.length;s++){
                        $("#for"+str[s]).attr('checked','checked');
                        var length = $("input[name='mutilChooseInput']").length;
                        for(var h=0;h<length;h++){
                            $("#for"+h).attr('disabled',true);
                            $("#tip").html("您已经答过此题");
                        }
                        $("#chooseNa"+str[s]).removeClass("selects1");
                        $("#chooseNa"+str[s]).addClass("selects");
                    }
                }
            }
        }

    }

    //当前显示编号是否已经至最后一题，显示“下一题”或“完成”
    if(jsonObject.optionId<optionCount){
        $('.btn').append('<input type="button" name="next" value="下一题" onclick="nextChoose()">');
    }else{
        $('.btn').append('<input type="button" name="next" value="完成" onclick="finish()">');
    }
    //location.reload()
    //window.location.href=window.location.href;
}

//点击选项后“触发”显示正确答案事件(单选)
function showCorrent(t){
    //<span name='correntImg'>
    //alert(t);
    choose();

    $("li .lab").removeClass("select");
    $("li .lab").addClass("select1");

    $(t).next().find("span").removeClass("select1");
    $(t).next().find("span").addClass("select");

    //$("span[name='correntImg']").show();
    if(themeType==1){
        //型男测试
        $("span[name='correntImg']").css("visibility","hidden");//隐藏
    }else if(themeType==3){
        //竞猜型
        $("span[name='correntImg']").css("visibility","hidden");//隐藏
    }else{
        $("span[name='correntImg']").css("visibility","visible");//显示
        $("input[name='singleChooseInput']").attr("disabled",true);//
    }

    //追加cookie
    var date=new Date();
    date.setTime(date.getTime()+24*3600*1000);
    var v=$("input").val();
    if ($(this).attr("checked") == "checked") {
        //alert($(this).attr("value"));
    }
    document.cookie="val="+escape(v)+",optionId="+escape(jsonObject.optionId)+",expires="+escape(date.toGMTString());

    if(themeType!=1){
        if(jsonObject.optionId<optionCount){
            //下一题
            showCorrents_next();
        }else{
            //完成
            showCorrents_finish();
        }
    }
}

//点击选项后“触发”显示正确答案事件(复选)
function showCorrents(t){
    $(t).next().find("span").toggleClass("selects1");
    $(t).next().find("span").toggleClass("selects");

    $("span[name='correntImg']").css("visibility","visible");
    $("input[name='singleChooseInput']").attr("disabled",true);
    //追加cookie
    var date=new Date();
    date.setTime(date.getTime()+24*3600*1000);
    var v=$("input").val();
    document.cookie="val="+escape(v)+",optionId="+escape(jsonObject.optionId)+",expires="+escape(date.toGMTString());
    if(themeType!=1){
        if(jsonObject.optionId<optionCount){
            //下一题
            showCorrents_next();
        }else{
            //完成
            showCorrents_finish();
        }
    }
}

//finish完成按钮“触发"事件
function finish(){
    var isRecord = '{@isRecord}';
    if(jsonObject.parm == "1"){
        if(isRecord=="1"){
            window.popupStyle2.on("您已经答过此题,不能再答题!您将会看到你上次答题的结果!",function(event){
                if(event == "confirm"){
                    location.href="/lavico/answerQuestion/finish?_id="+_id+"&wechatid="+wechatid+"&memberid="+member_id+"&themetype="+themeType+"&stutas=true"+"&parm="+jsonObject.parm;
                }
            })
            return;
        }
    }else{
        if(isRecord=="1"){
            window.popupStyle2.on("您已经答过此题,不能再答题!您将会看到你上次答题的结果!",function(event){
                if(event == "confirm"){
                    location.href="/lavico/answerQuestion/guessfinish?_id="+_id+"&wechatid="+wechatid+"&memberid="+member_id+"&themetype="+themeType+"&stutas=true"+"&parm="+jsonObject.parm;
                }
            })
            return;
        }
    }


    var value=0;
    var valueArr="";
    var score=0;
    var valueSelect="";
    //判断是否为主观题
    if(jsonObject.type==2){

        //获取填写值
        var content=$("textarea[name='descContent']").val();

        if(content==""){
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }

        //跳转“答案记录题”
        location.href="/lavico/answerQuestion/simpleQuestion?wechatid="+wechatid+"&finish=true&score="+
                jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+"&receiveAnswer="+content+"&memberid="+member_id+"&themetype="+themetype+"&type=2";
    }else{
        //单选
        if($("input[name='singleChooseInput']").length>0){
            //
            if($("input[name='singleChooseInput']:checked").length==0) {
                window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
                })
                return;
            }
            //获取单选值
            value=$("input[name='singleChooseInput']:checked").val();
            valueArr=value.split('+');
            //alert(valueArr[0])
            //跳转“记录页”
            location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=0&optionId="+valueArr[0]+
                    "&_id="+_id+"&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+
                    "&customerLabel="+valueArr[5]+"&memberid="+member_id+"&themetype="+themetype;
        }else if($("input[name='mutilChooseInput']:checked").length>0){
            //
            if($("input[name='mutilChooseInput']:checked").length==0) {
                window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
                })
                return;
            }
            //多选
            var selectChooseIdArr="";

            $("input[name='mutilChooseInput']:checked").each(function(){
                value=$(this).val();
                valueArr=value.split('+');

                selectChooseIdArr+=valueArr[1]+",";//点击的所有选项ID
                if(!isNaN(parseInt(valueArr[2])))
                    score+=parseInt(valueArr[2]);//累计选项积分
            });
            location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=1&optionId="+
                    valueArr[0]+"&_id="+_id+"&chooseId="+selectChooseIdArr+"&score="+score+"&chooseNext="+valueArr[3]+"&memberid="+member_id+"&themetype="+themetype;
        }

    }
}


function choose(){
    Request={
        QueryString:function(item) {
            var svalue=location.search.match(new RegExp("[\?\&]" + item + "=([^\&]*)(\&?)","i"));
            return svalue?svalue[1]:svalue;
        }
    }
    var value=Request.QueryString("optionId");
    for(var i=0;i<custReceive.length;i++){
        if(custReceive[i].themetype =="1"){
            if(custReceive[i].optionId==value){
                if(custReceive[i].chooseId == "主观题"){
                    $("textarea[name='descContent']").val(custReceive[i].resultValue);
                }else if(custReceive[i].type==0){
                    var leng = $("input[name='singleChooseInput']").length;
                    for(var h = 0;h<leng;h++){
                        $("#for"+h).attr('disabled',false);
                    }
                    $("#chooseNa"+custReceive[i].chooseId).removeClass("select");
                    $("#chooseNa"+custReceive[i].chooseId).addClass("select1");
                }else if(custReceive[i].type==1){
                    var chooseid=custReceive[i].chooseId;
                    var arry=chooseid.split(",");
                    var str;
                    for(var h=0;h<arry.length;h++){
                        if(h==0){
                            str = arry[0].substr(1,1);
                        }else if(h==(arry.length)-1){
                            str += arry[(arry.length)-1].substr(0,1);
                        }else{
                            str += arry[h].substr(0,1);
                        }
                    }
                    for(var s=0;s<str.length;s++){
                        //$("#for"+str[s]).attr('checked','checked');
                        var length = $("input[name='mutilChooseInput']").length;
                        for(var h=0;h<length;h++){
                            $("#for"+h).attr('disabled',false);
                        }
                        $("#chooseNa"+str[s]).removeClass("selects");
                        $("#chooseNa"+str[s]).addClass("selects1");
                    }
                }
            }
        }

    }
}

//next下一题按钮“触发”事件
function nextChoose(){
    //check();
    var value=0;
    var valueArr="";
    var score=0;
    var valueSelect="";
    //判断-是否主观题
    if($(".content").find("textarea").length>0){

        //获取主观题内容
        var content=$("textarea[name='descContent']").val();

        //跳转主观题记录页面--传送内容:积分&题组号&题目号&回复内容
        location.href="/lavico/answerQuestion/simpleQuestion?wechatid="+wechatid+"&score="+jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+
                "&receiveAnswer="+content+"&memberid="+member_id+"&themetype="+themetype+"&type=2";


    }else if($("input[name='singleChooseInput']").length>0){
        //
        if($("input[name='singleChooseInput']:checked").length==0) {
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }
        //单选，获取选择的值
        value=$("input[name='singleChooseInput']:checked").val();

        //拆分value数组
        valueArr=value.split('+');
        //跳转“记录结果页” 传值：微信id&单选类型&当前题号&题组号&选项号&积分&下一题题号&停止标签&自定义标签
        location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&type=0&optionId="+valueArr[0]+"&_id="+_id+
                "&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+"&customerLabel="
                +valueArr[5]+"&memberid="+member_id+"&themetype="+themetype;


    }else if($("input[name='mutilChooseInput']:checked").length>0){
        //
        if($("input[name='mutilChooseInput']:checked").length==0) {
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }
        //多选
        var selectChooseIdArr="";
        //循环被选中的所有数据
        $("input[name='mutilChooseInput']:checked").each(function(){
            //获取当项值
            value=$(this).val();
            //拆分alue
            valueArr=value.split('+');
            //拼接,点击的所有选项ID
            selectChooseIdArr+=valueArr[1]+",";
            //累计选项积分
            if(!isNaN(parseInt(valueArr[2])))
                score+=parseInt(valueArr[2]);
        });
        //跳转“记录结果页”，传值：微信ID&单选类型&当前题号&题组号&选项号&积分&下一题
        location.href="/lavico/answerQuestion/record?wechatid="+wechatid+"&type=1&optionId="+valueArr[0]+"&_id="+_id+
                "&chooseId="+selectChooseIdArr+"&score="+score+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+
                "&customerLabel="+valueArr[5]+"&memberid="+member_id+"&themetype="+themetype;
    }else{
        window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
        })
    }
}

function showCorrents_next(){
    var value=0;
    var valueArr="";
    var score=0;
    var valueSelect="";
    //判断-是否主观题
    if($(".content").find("textarea").length>0){
        //获取主观题内容
        var content=$("textarea[name='descContent']").val();
        //跳转主观题记录页面--传送内容:积分&题组号&题目号&回复内容
        $.get("/lavico/answerQuestion/simpleQuestion?wechatid="+wechatid+"&score="+jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+
                "&receiveAnswer="+content+"&memberid="+member_id+"&themetype="+themetype+"&type=2&status=true",function(data){})
    }else if($("input[name='singleChooseInput']").length>0){
        if($("input[name='singleChooseInput']:checked").length==0) {
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }
        //单选，获取选择的值
        value=$("input[name='singleChooseInput']:checked").val();

        //拆分value数组
        valueArr=value.split('+');
        //跳转“记录结果页” 传值：微信id&单选类型&当前题号&题组号&选项号&积分&下一题题号&停止标签&自定义标签
        $.get("/lavico/answerQuestion/record?wechatid="+wechatid+"&type=0&optionId="+valueArr[0]+"&_id="+_id+
                "&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+"&customerLabel="
                +valueArr[5]+"&memberid="+member_id+"&themetype="+themetype+"&status=true",function(data){})
    }else if($("input[name='mutilChooseInput']:checked").length>0){
        //
        if($("input[name='mutilChooseInput']:checked").length==0) {
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }
        //多选
        var selectChooseIdArr="";
        //循环被选中的所有数据
        $("input[name='mutilChooseInput']:checked").each(function(){
            //获取当项值
            value=$(this).val();
            //拆分alue
            valueArr=value.split('+');
            //拼接,点击的所有选项ID
            selectChooseIdArr+=valueArr[1]+",";
            //累计选项积分
            if(!isNaN(parseInt(valueArr[2])))
                score+=parseInt(valueArr[2]);
        });
        //跳转“记录结果页”，传值：微信ID&单选类型&当前题号&题组号&选项号&积分&下一题
        $.get("/lavico/answerQuestion/record?wechatid="+wechatid+"&type=1&optionId="+valueArr[0]+"&_id="+_id+
                "&chooseId="+selectChooseIdArr+"&score="+score+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+
                "&customerLabel="+valueArr[5]+"&memberid="+member_id+"&themetype="+themetype+"&status=true",function(data){})
    }else{
        window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
        })
    }
}

function showCorrents_finish(){
    var value=0;
    var valueArr="";
    var score=0;
    var valueSelect="";
    //判断是否为主观题
    if(jsonObject.type==2){

        //获取填写值
        var content=$("textarea[name='descContent']").val();

        if(content==""){
            window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
            })
            return;
        }
        //跳转“答案记录题”
        $.get("/lavico/answerQuestion/simpleQuestion?wechatid="+wechatid+"&finish=true&score="+
                jsonObject.answerScore+"&_id="+_id+"&optionId="+jsonObject.optionId+"&receiveAnswer="+content+"&memberid="+member_id+"&themetype="+themetype+"&type=2&status=true",function(data){})
    }else{
        //单选
        if($("input[name='singleChooseInput']").length>0){
            //
            if($("input[name='singleChooseInput']:checked").length==0) {
                window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
                })
                return;
            }
            //获取单选值
            value=$("input[name='singleChooseInput']:checked").val();
            valueArr=value.split('+');
            //跳转“记录页”
            $.get("/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=0&optionId="+valueArr[0]+
                    "&_id="+_id+"&chooseId="+valueArr[1]+"&score="+valueArr[2]+"&chooseNext="+valueArr[3]+"&stopLabel="+valueArr[4]+
                    "&customerLabel="+valueArr[5]+"&memberid="+member_id+"&themetype="+themetype+"&status=true",function(data){})
        }else if($("input[name='mutilChooseInput']:checked").length>0){
            //
            if($("input[name='mutilChooseInput']:checked").length==0) {
                window.popupStyle2.on("您还没有选择,请先完成此题",function(event){
                })
                return;
            }
            //多选
            var selectChooseIdArr="";

            $("input[name='mutilChooseInput']:checked").each(function(){
                value=$(this).val();
                valueArr=value.split('+');
                selectChooseIdArr+=valueArr[1]+",";//点击的所有选项ID
                if(!isNaN(parseInt(valueArr[2])))
                    score+=parseInt(valueArr[2]);//累计选项积分
            });
            $.get("/lavico/answerQuestion/record?wechatid="+wechatid+"&finish=true&type=1&optionId="+
                    valueArr[0]+"&_id="+_id+"&chooseId="+selectChooseIdArr+"&score="+score+"&chooseNext="+valueArr[3]+"&memberid="+member_id+"&themetype="+themetype+"&status=true",function(data){})
        }

    }
}
window.onload =function() {
    build();
}
</script>

<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />
<div class="wrapper" style="background-color: #e2e2e2;">
    <div class="answer-title">
        <p><span class="title2">本次共有 {@optionCount} 个问题，当前是第 {@optionId} 题</span></p>
    </div>
    <div id="tip"></div>
    <div class="answer">
        <div class='answer-content'><div class='title'></div>
            <div class="content">
                <ul>
                </ul>
            </div>
        </div>
    </div>

    <div class="pages">
        <div class="pages-content" >
            <!--<input type="button" onclick="self.location=document.referrer" name="btnBack" value=" 上一题" class="fl pre"/>-->
            <if condition="{@optionId==1}">
                <a class="fl pre" onclick="javascript:history.go(-1);" style="display:none">上一题</a>
                <if condition="{@optionCount!=optionId}">
                    <a class="fr next" href="javascript:nextChoose()" style="float:none; display:block;margin:0 auto;">下一题</a>
                    <else/>
                    <a class="fr next" href="javascript:finish()" style="float:none; display:block;margin:0 auto;">完&nbsp;&nbsp;成 </a>
                </if>
                <else/>
                <a class="fl pre" onclick="javascript:history.go(-1);">上一题</a>
                <if condition="{@optionCount!=optionId}">
                    <a class="fr next" href="javascript:nextChoose()" style="float:none;">下一题</a>
                    <else/>
                    <a class="fr next" href="javascript:finish()" style="float:none; display:block;margin:0 auto;">完&nbsp;&nbsp;成  </a>
                </if>
            </if>
        </div>
    </div>
</div>
<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>
<script type="text/javascript">
</script>