<div class="wrapper">
  <div class="answer-title">
    <p><span class="title2">本次共有 5 个问题，当前是第 1 题</span></p>
  </div>
   <div class="answer">
    <div class="answer-content">
    <div class="title">三粒扣西服扣子正式场合的正确系法是 ?</div>
    <div class="answer_check select1">系上面两颗</div>
    <div class="img"><img src="images/suit_pic01.jpg" /></div>
    <div class="answer_check select1">中间一颗</div>
    <div class="img"><img src="images/suit_pic01.jpg" /></div>
    </div>
  </div>
  <div class="pages">
  <div class="pages-content">
  <a class="fl pre" href="answer_num1.html"> < 上一题</a>
  <a class="fr next" href="answer_num3.html">下一题 > </a></div>
  </div>
</div>
<script type="text/javascript">
window.load=function(){
        $(".answer_check").click(function(){
			$(".answer_check").removeClass("select");
			$(".answer_check").addClass("select1");
			$(this).removeClass("select1");
			$(this).addClass("select");			
		});
};
</script>

