<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />
<script>
//    window.onload=function(){
//        var flag="{@flag}";
//        if(flag=="1")
//        {
//            window.popupStyle2.on("您还不是LaVico的会员，请先注册会员",function(event){
//                if(event == "confirm"){
//                    location.href="/lavico/member/index?wxid={@wechatId}";
//                }
//            })
//        }
//    }
var doc = JSON.parse('{@themeQuestion}');
var wechatId = '{@wechatId}';
var memberid = '{@memberid}';
var isReg=function(){

    var flag="{@flag}";
        if(flag=="1")
        {

            window.popupStyle2.on("您还不是LaVico的会员，请先注册会员!",function(event){
                if(event == "confirm"){
                    location.href="/lavico/member/index?wxid={@wechatId}";
                }
            })
            return false;
        }
    var flag="{@isok}";
    if(flag=="0")
    {

        window.popupStyle2.on("您已经答过此题,不能再答题!您将会看到你上次答题的结果!!!",function(event){
            if(event == "confirm"){
                location.href="/lavico/answerQuestion/finish?_id="+doc._id+"&wechatid="+wechatId+"&memberid="+memberid+"&themetype="+doc.themeType+"&stutas=true";
            }
        })
        return false;
    }
}
</script>

<div class="wrapper">
    <div class="coupon-banner">
        <if condition="@docs.themeType=='1'">
            <img src="/lavico/public/images/test-man.jpg" style="text-align:center;" />
            <else/>
            <img src="/lavico/public/images/answer_banner.jpg" />
        </if>
    </div>
    <div class="activity-rules">
        <div class="begin"><a href="/lavico/answerQuestion/answer?_id={@docs._id}&optionId=1&wechatid={@wechatId}&memberid={@memberid}" onclick="return isReg()" style="text-decoration:none;">立即开始</a></div>
        <!--<if condition="@ fromWelab==''">-->
        	<!--<div class="begin"><a href="/lavico/answerQuestion/Filter?_id={@docs._id}&optionId=1&wechatid={@wechatId}&memberid={@memberid}" onclick="return isReg()">立即开始</a></div>-->
		<!--</if>-->
        <!--<div class="begin"><a href="/lavico/answerQuestion/answer?_id={@docs._id}&optionId=1&wechatid={@wechatId}&memberid={@memberid}" onclick="return isReg()">立即开始</a></div>-->
        <!--<if condition="@ fromWelab==''">-->
        	<!--<div class="begin"><a href="/lavico/answerQuestion/Filter?_id={@docs._id}&optionId=1&wechatid={@wechatId}&memberid={@memberid}" onclick="return isReg()" style="text-decoration: underline">立即开始</a></div>-->
		<!--</if>-->

        <div class="text">
            <div class="title">活动及使用规则</div>
            <div class="title1">活动说明：</div>
            <div class="subtext">{@docs.explanation}
                <p>该活动只有朗维高会员才有权限参与，如果你还不是会员,请点击菜单-我的会员卡-<a href="/lavico/member/card_blank/register?wxid={@wechatId}" target="_blank" style="color:#bda172; text-decoration:underline;">注册会员
                </a></p></div>
            <div class="title1">奖项设置：</div>
            <div class="subtext">{@docs.description}</div>
            <div class="title1">免责声明：</div>
            <div class="subtext"><p>{@docs.relief}</p>
            </div>
        </div>
    </div>
</div>

