<script>
    window.hideShareButtion.on()
    window.onload=function(){
        var label ='{@label}';
        var sa = label.replace(/[ ]/g,"");
        var str = sa.substr(0,1);
        var art;
        var cha;
        var getlabel;
        if(str=="A"||str=="B"||str=="C"||str=="D"||str=="E"||str=="F"){

            art = sa.substr(1);
            if(art.indexOf(":")>=0){
                cha=(0==art.indexOf(':')?art.substr(1):art);
                getlabel=cha;
            }else{
                getlabel =art;
            }
        }else{
            getlabel=sa;
        }
        $("#getlabel").html(getlabel);
    }
</script>
<style>
    .points{
        position:absolute;
        top:40%;
        right:7%;
        width:35% ;
        text-align:left;
    }
</style>
<if condition="{@showtype==0}">
    <div class="wrapper">
        <div class="header">
            <img src="/lavico/public/images/head_bg.jpg" />
        </div>
        <div class="coupon">
            <div class="points-content">
                <img src="/lavico/public/images/lavico.jpg" />
                <div class="points" style="top:31%">
                    <foreach for="{@jsonResult}" var="resultString">
                        <label style="font-size: 1.5rem">{@resultString.getTipContent}</label>
                    </foreach>
                </div>
            </div>
            <div class="look-text">
                <p class="click-look">
                    <a href="/lavico/member/index?wxid={@wechatid}">会员中心</a>
                </p>
            </div>
        </div>
    </div>
<elseif condition="{@showtype=='1'}"/>
    <div class="wrapper">
        <div class="header"><img src="/lavico/public/images/head_bg.jpg" /></div>
        <div class="coupon">
            <div class="points-content">
                <img src="/lavico/public/images/points_banner-604X319.jpg" />
                <div class="points_txt">

                    <foreach for="{@jsonResult}" var="resultString">
                        <label style="font-size: 2.4rem">{@resultString.getScore}积分</label>
                    </foreach>
                </div>
            </div>
        </div>
        <foreach for="{@jsonResult}" var="resultString">
            <div class="look-text">
                <p class="get">
                    <if condition="{@stutas=='true'}">
                        <if condition="{@resultString.getScore=='0'}">
                            对不起,您上次答题获得:
                            <else/>
                            您上次答题获得:
                        </if>
                        <else/>
                        <if condition="{@resultString.getScore=='0'}">
                            对不起,您获得:
                            <else/>
                            恭喜您获得:
                        </if>
                    </if>
                    {@resultString.getScore}积分<br />
                    可在“积分明细”内查询</p>
                <p class="click-look"><a href="/lavico/member/card_member/points/index?wxid={@wechatid}">点击查看</a></p>
            </div>
        </foreach>
    </div>
    <elseif condition="{@showtype=='2'}"/>
    <div class="wrapper">
        <div class="mobile">
            <div class="points-content">
                <img src="/lavico/public/images/lavico.jpg" />
                <div class="points">
                    <foreach for="{@jsonResult}" var="resultString">
                        <label style="font-size: 1.8rem" id="getlabel"></label>
                    </foreach>
                </div>
            </div>
            <div class="line">
            </div>
            <p style="margin-top: 10px;">
                <if condition="{@pram!='2'}">
                    可在“专属礼券”内查询
                    <else/>
                    <if condition="{@memberid=='undefined'}">
                        注册LaVico朗维高会员后领取优惠券
                        <else/>
                        可在“专属礼券”内查询
                    </if>

                </if>
            </p>
            <if condition="{@resultString.getActivities!=''}">
                <div class="mobile-btn linebottom">
                    <a href="/lavico/answerQuestion/mantest_getGift?getActivities={@resultString.code}&code={@resultString.code}&wxid={@wechatid}&stuas=true&volumename={@resultString.volumename}&code={@code}" onclick="return isReg()">
                        领取优惠券
                    </a>
                </div>
                <else/>
                <div class="mobile-btn linebottom">
                    <a href="/lavico/answerQuestion/mantest_getGift?getActivities=no&code={@resultString.code}&wxid={@wechatid}&volumename={@resultString.volumename}&code={@code}" onclick="return isReg()">
                        领取优惠券
                    </a>
                </div>
            </if>
        </div>
</if>
<script>
    function isReg(){
        var isok = '{@isok}';
        var pram = '{@pram}';
        if(pram == "2"){
            if(isok == "1"){
                window.popupStyle2.on("注册LaVico朗维高会员后领取优惠券!",function(event){
                    if(event == "confirm"){
                        var url = encodeURIComponent(location.href);
                        location.href="/lavico/member/card_blank/register?wxid={@wechatid}&go="+url;
                    }
                })
                return false;
            }
        }

    }
</script>

