
<div class="wrapper">
  <div class="answer-title">
    <p><span class="title2">本次共有 5 个问题，当前是第 1 题</span></p>
  </div>
  <div class="answer">
    <div class="answer-content">
    <div class="title">你喜欢的风格是</div>
    <div class="answer_check selects1">潮流</div>
    
    <div class="answer_check selects1">日韩</div>
    
    <div class="answer_check selects1">欧美</div>
    
    <div class="answer_check selects1">民族</div>
    
    </div>
  </div>
  <div class="pages">
  <div class="pages-content">
  <a class="fl pre" href="mantest_num2.html"> < 上一题</a>
  <a class="fr next" href="mantest_num4.html">下一题 > </a></div>
  </div>
</div>
<script type="text/javascript">
	$(document).ready(function(e) {
        $(".answer_check").click(function(){
			$(".answer_check").removeClass("selects");
			$(".answer_check").addClass("selects1");
			$(this).removeClass("selects1");
			$(this).addClass("selects");			
		});
    });
</script>

