<ul class="breadcrumb clearfix">
      <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
      <li class="b02"><a href="/lavico/answerQuestion/themeList" class="stay">问答管理</a> <em></em></li>
      <li class="active"><span>规则说明</span></li>
   </ul>
<script src="/welab/public/ckeditor/ckeditor.js"></script>
<input type="hidden" id="_id" value="{@_id}"/>
<style>

   </style>
<div class="panel panel-default formText" >
    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left" href="/lavico/answerQuestion/themeList"><i class="fui-arrow-left"></i> 问答管理</a>
        <a class="btn btn-success btn-social-googleplus pull-right" href="javascript:;" onclick="save()" ><i class="glyphicon glyphicon-circle-arrow-down"></i> 保存</a>
    </div>
    <div class="panel-body" style="background:#f9fafb;">
          <div class="col-md-12">
              <p>{@doc.theme}</p>
              <form class="form-horizontal" role="form">
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2">活动小图<span>(50×27)</span></label>
                      <div class="col-sm-10" style="padding-top: 8px;">
                          <input id="thumb"  name="thumb" type="file" class="input-xlarge"  style="width:206px"  placeholder="请输入...." onchange="fileSelected(this.id);">
                          &nbsp;<span calss="progressNumber"></span>

                          <div class="alert alert-success picView file_box">
                              <img id="thumb_upload" class="media-object image_data" style="height: 128px;" src="{@doc.thumb}">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2">活动大图<span>(500×277)</span></label>
                      <div class="col-sm-10" style="padding-top: 8px;">
                          <input id="pic"  name="pic" type="file" class="input-xlarge"  style="width:206px"  placeholder="请输入...." onchange="fileSelected(this.id);">
                          &nbsp;<span calss="progressNumber"></span>

                          <div class="alert alert-success picView file_box">
                              <img id="pic_upload" class="media-object image_data" style="height: 128px;" src="{@doc.pic}">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2">活动说明</label>
                      <div class="col-sm-10">
                          <textarea class="form-control postData" rows="3"  id="explanation" style="width: 600px;height:400px;"  placeholder="说明"></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2">活动规则</label>
                      <div class="col-sm-10">
                          <textarea  class="form-control postData" rows="3"  id="description" style="width: 600px;height:400px;" placeholder="奖项设置"></textarea>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2">免责声明</label>
                      <div class="col-sm-10">
                          <textarea class="form-control postData" rows="3"  id="relief" style="width: 600px;height:400px;" placeholder="免责声明"></textarea>
                      </div>
                  </div>

              </form>
          </div>
      </div>
    </div>
    <script>
    //图片上传功能
    var lastPic = ""
    function fileSelected(inputid) {

        $("#"+inputid).next(".progressNumber").text("")
        var file = document.getElementById(inputid).files[0];
        if (file) {

            var fileSize = 0;
            if (file.size > 1024 * 1024)
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            else
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

            lastPic = inputid
            uploadFile();
        }
    }

    function uploadFile() {
        var fd = new FormData();
        fd.append(lastPic, document.getElementById(lastPic).files[0]);
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.open("POST", "/welab/Uploadify?$layout=false&$render=false");
        xhr.send(fd);
    }

    function uploadProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);

            $("#"+lastPic).next(".progressNumber").text(percentComplete.toString() + '%')
        }
        else {
            $("#"+lastPic).next(".progressNumber").text('unable to compute')
        }
    }

    function uploadComplete(evt) {
        var json = eval('(' + evt.target.responseText + ')');
        var filename = json.model.fileName;
        $("#"+lastPic+"_upload").attr("src",filename)
    }

    function uploadFailed(evt) {
        alert("上传失败");
    }

    function uploadCanceled(evt) {
        alert("已经取消上传");
    }
</script>
    <script>
      window.save = function(){

              var description = encodeURIComponent($("#description").val());
              var relief = encodeURIComponent($("#relief").val());
              var explanation = encodeURIComponent($("#explanation").val());

              var aFormInput = {};
              aFormInput.thumb = $('#thumb_upload').attr('src');
              aFormInput.pic = $('#pic_upload').attr('src');
              aFormInput.description = description;
              aFormInput.relief = relief;
              aFormInput.explanation = explanation;
              var post = {} ;
              post.data = [{name:'postData',value:JSON.stringify(aFormInput)},{name:'_id',value:$("#_id").val()}];
              post.type = "POST";
              post.url = "/lavico/answerQuestion/RuleDescription:save";

              $.request(post,function(err,nut){
                  nut.msgqueue.popup();
                  //$.controller("/lavico/answerQuestion/themeList",null,"lazy");
              }) ;
      }
    </script>
    <script>

      var description = decodeURIComponent('{@doc.description}');
      var relief = decodeURIComponent('{@doc.relief}');
      var explanation = decodeURIComponent('{@doc.explanation}');
      document.getElementById("description").value = description;
      document.getElementById("relief").value = relief;
      document.getElementById("explanation").value = explanation;

    </script>
