<script>
window.onload=function(){
	$("input[name=name]").val("hello11");
	

	$("input[name=name]").clone(true).val("world222").appendTo("div[name=divName]");

	//$("div[name='divName']").append($("input[name=acc]:hidden")).show().val("world222");
	//$("div[name='divName' input[name=acc]:hidden]").show();
	//$("div[name='divName' input[name=acc]").val("world222");

	
}
</script>

<div name="divName">
<input type="type" name="name">

</div>

<div name="hidd" style="display:none">
<input type="type" name="acc">
</div>