<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/welab/user/list" class="stay">用户</a> <em></em></li>
    <li class="active"><span>用户管理</span></li>
</ul>


<div name="container" class="panel panel-default">
    <strong>lavico答题抢积分活动统计</strong>
    <div name="whereScreening">
        <div name="whereTitle" class="panel-heading">
            <input type="button" name="btnWhere" value="筛选条件" class="btn btn-primary handle_btn">
        </div>
        <div name="whereContent" class="panel-body">
            <form action="/lavico/answerQuestion/statistics/robScore:search" method="post">
                筛选日期:从<input type="text" name="beginTime" class="form-control input-sm" style="width:150px">
                ~
                <input type="text" name="endTime"  class="form-control input-sm" style="width:150px">
                <br><br>
                题目名称:&nbsp;&nbsp;&nbsp;<input type="text" name="txtTheme"  class="form-control input-sm" style="width:150px">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="btnSearch" value="开始统计" class='btn btn-defalut btn-social-googleplus"'>
            </form>
        </div>
    </div>
</div>