<script src="/lavico/public/Chart.js/Chart.js"></script>
<script>

function initD(){

    $("a[name='showDetailInfo']").click(function(){

            $("div[name='showDetail']").slideToggle("slow");
    });
}

window.onload=initD;
</script>
<style>
    #hide{display: none;}
</style>

<div name="container" class="panel panel-default">
    <strong>lavico答题抢积分活动统计</strong>
    <div name="whereScreening" >
        <div name="whereTitle" class="panel-heading">
            <input type="button" name="btnWhere" value="筛选条件" class="btn btn-primary handle_btn">
        </div>
        <div name="whereContent" class="panel-body">
            <form action="/lavico/answerQuestion/statistics/robScore:search" method="post">
                筛选日期:从<input type="text" name="beginTime" class="form-control input-sm" style="width:150px">
                ~
                <input type="text" name="endTime" class="form-control input-sm" style="width:150px">
                <br><br>
                题目名称:&nbsp;&nbsp;&nbsp;<input type="text" name="txtTheme"  class="form-control input-sm" style="width:150px">
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="btnSearch" value="开始统计" class='btn btn-defalut btn-social-googleplus"'>
            </form>
        </div>
    </div>
        <div name="showResult">
            <div name="pic" style="clear:both">
                图表
                <div class="panel-body " style="float: left">
                    <div class="myChart">
                        <canvas id="myChart1" width="215" height="212" style="margin-bottom: 10px;"></canvas>
                        <div id="myChart_Data1" style="display: none">{@myChart_Data1}</div>
                    </div>
                    <ul class="textual_data_i">
                        <li class="mb10" style="color:#3498db"><span>完成人数:{@finishCount}</span></li>
                        <li class="mb10" style="color:#b1d4e5"><span>参与人数:{@goCount}</span></li>
                    </ul>
                </div>

                <div class="panel-body " style="float: left">
                    <div class="myChart">
                        <canvas id="myChart2" width="215" height="212" style="margin-bottom: 10px;"></canvas>
                        <div id="myChart_Data2" style="display: none">{@myChart_Data2}</div>
                    </div>
                    <ul class="textual_data_i">
                        <li class="mb10" style="color:#3498db"><span>第1位:0</span></li>
                        <li class="mb10" style="color:#b1d4e5"><span>第2位:0</span></li>
                        <li class="mb10" style="color:#b1d4e5"><span>第3位:0</span></li>
                    </ul>
                </div>

            </div>



            </div>
            <div name="queScore" class="panel-body" style="clear: both">
                活动名称:{@theme}<br>
                搜索时间:{@searchBeginTime}~{@searchEndTime}<br>
                筛选类型:
                <if condition="@themeType==0">
                    答题抢积分
                    <else if condition="@themeType==1">
                        型男测试
                        <else>
                            问卷调查
                </if>
                <div name="allCount" class="childview">
                    <table border="1" class="table table-hover" id="tagList">
                        <tr><td>参与人数</td><td>完成人数</td><td>查看具体信息</td></tr>
                        <tr><td>{@goCount}</td><td>{@finishCount}</td><td>
                            <a href="javascript:" name="showDetailInfo">查看具体信息</a></td>
                        </tr>
                    </table>
                </div>
                <div name="showDetail" id="hide" class="panel-body">
                    <table border="1" class="table table-hover" id="tagList">
                        <tbody name="showInfo">
                            <tr><td>用户卡号</td><td>手机卡号</td><td>性别</td><td>年龄</td><td>真实姓名</td><td>参与时间</td></tr>

                            <foreach for="@jsonO" var="doc">
                                <tr><td>{@doc.codeId}</td><td>{@doc.mobile}</td><td>{@doc.gender}</td><td>{@doc.age}</td><td>{@doc.realname}</td><td>{@doc.time}</td></tr>
                            </foreach>
                        </tbody>
                    </table>
                    <include file="welab/templates/paginator.html" model="@page" model.url="/lavico/announcement/announcementIndex?page=%pagenum%" />
                </div>
            </div>
        </div>
    </if>
</div>