<div name="getMember" class="maginTop20">
    <div>
        <input type="hidden" name="_id" value="{@_id}">
        <div style="margin-left: 17px;"><a href="/lavico/answerQuestion/statistics/statistics_true:exportXsl?_id={@_id}">全部导出</a></div>
    </div>

    <table class="table table-hover" id="tagList">
        <thead>
        <tr class="staCount borderBtm">
            <td style="width: 30px;"><input type="checkbox" name="all"></input></td>
            <td class="width50">时间</td>
            <td class="width50">姓名</td>
            <td class="width50">性别</td>
            <td class="width50">年龄</td>
            <td class="width50">城市</td>
            <td class="width50">获得礼券</td>
            <td class="width50">获得标签</td>
            <td class="width50">奖励积分</td>
        </tr>
        </thead>
        <tbody>
    <foreach for="@data" var="onef">
        <tr class="borderBtm">
            <td style="width: 30px;"><input type="checkbox" name="all"></input></td>
            <td class="width50">{@onef.createTime}</td>
            <td class="width50"> {@onef.realname}</td>
            <td class="width50">{@onef.gender}</td>
            <td class="width50">{@onef.birthday}</td>
            <td class="width50">{@onef.city}</td>
            <td class="width50">{@onef.getGift}</td>
            <td class="width50">{@onef.getLabel}</td>
            <td class="width50">{@onef.compScore}</td>
        </tr>
    </foreach>
        </tbody>
    </table>
    <div style="margin-left: 17px;">
        <include file="welab/templates/paginator.html" model="@page" model.url="/lavico/answerQuestion/statistics/statistics_true:finishPeople?_id={@_id}&finishCount={@finishCount}&totalPop={@totalPop}&page=%pagenum%" />
    </div>
</div>
