<style>
    .floatRight{float: right;}
    .width50{width:50px;}
    .width100{width:100px;}
    .width150{width:150px;}
    .width250{width:250px;}
    .width350{width:350px;}
    .height35{heigth:35px;}
    .staCount{background-color:#e8e8e8;}
    .lineCenter{text-align: center;}
    .maginTop20{margin-top:20px;}
    .tableSty{width: 97%; line-height: 35px;margin: 0px auto; border: 1px solid darkgray;}
    .borderBtm{border-bottom:1px solid darkgray;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/answerQuestion/themeList?themetype={@themetype}" class="stay">问答测试</a> <em></em></li>
    <li class="active"><span>统计</span></li>
</ul>

<div name="container" class="panel panel-default">
    <div name="title" style="padding: 10px;">
        <div class="height35">
            <input type="button" name="btnBack" value="返回" onclick="history.back()" class="btn btn-embossed">&nbsp;&nbsp;<span style="font-size: 20px;">详情</span>
        </div>
        <div nam="main">
            <div name="getMember" class="maginTop20">
                <table class="table table-hover" id="tagList">
                    <thead>
                    <tr>
                        <th>答题时间</th>
                        <th>参与人数</th>
                        <th>完成人数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach for="@newArr" var="oneDoc" key="key">
                        <tr class="borderBtm">
                            <td class="width50">{@oneDoc.year}</td>
                            <td class="width50">{@oneDoc.no_finish}</td>
                            <td class="width50">{@oneDoc.finishcount}</td>

                        </tr>
                    </foreach>
                    </tbody>
                </table>

            </div>
        </div>
    </div>