<div name="getLabel" class="maginTop20">
    <table class="table table-hover" id="tagList">
        <thead>
            <tr class="staCount borderBtm">
                <th class="width250">获得标签</th>
                <th class="width50">获得</th>
                <th class="width50">获得率</th>
            </tr>
        </thead>
        <tbody>
            <foreach for="@docs_1.scoreMinMax" var="doc">
                <if condition="@doc.getLabel!=''">
                    <tr class="borderBtm">
                        <td class="width250">{@doc.getLabel}</td>
                        <td class="width50">{@doc.sinCount}</td>
                        <td class="width50" name="alltd">
                            <if condition="{@all==null}">
                                0% {@all}
                                <else/>
                                {@parseInt(doc.sinCount/all*100)}%
                            </if>

                        </td>
                    </tr>
                </if>
            </foreach>
        </tbody>
    </table>
</div>