<div name="getScore" class="maginTop20">
    <table class="tableSty">
        <tr class="staCount borderBtm">
            <td class="width250">获得奖励</td>
            <td class="width50">获得</td>
            <td class="width50">获得率</td>
        </tr>
        <foreach for="@docs_2.scoreMinMax" var="doc">
            <tr class="borderBtm">
                <td class="width250">{@doc.getScore}</td>
                <td class="width50">{@doc.sinScore}</td>
                <td class="width50">{@parseInt(doc.sinScore/all2*100)}%</td>
            </tr>
        </foreach>
    </table>
</div>