<style>
    .checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
        background-color: #E7E7E7;
    }
</style>
<div name="getMember" class="maginTop20">
    <div>
        <input type="hidden" name="_id" value="{@_id}">
        <div style="margin-left: 17px; height: 30px;">
            <a href="/lavico/answerQuestion/statistics/statistics_true:exportXsl?_id={@_id}" class="btn btn-xs btn-primary mhm pull-left">>全部导出</a>
            <a href="javascript:;" class="btn btn-xs btn-primary mhm pull-left" style="display: none"  onclick="sa()">筛选导出</a>
        </div>
    </div>

    <table class="table table-hover" id="tagList">
            <tr>
                <th style="width: 30px;">
                    <input type="checkbox" onclick="CheckAll('selectAll',this)">
                </th>
                <th class="width50">时间</th>
                <th class="width50">姓名</th>
                <th class="width50">性别</th>
                <th class="width50">年龄</th>
                <th class="width50">城市</th>
                <th class="width50">获得礼券</th>
                <if condition="{@themetype==1}">
                    <th class="width50">获得标签</th>
                </if>
                <th class="width50">奖励积分</th>
            </tr>
            <foreach for="@data" var="onef">
                <tr>
                    <td style="width: 30px;">
                        <input type="checkbox" name="is_s" value="{@onef.name}" _id="{@onef.name}" >
                    </td>
                    <td class="width50">{@onef.createTime}</td>
                    <td class="width50"> {@onef.realname}</td>
                    <td class="width50">{@onef.gender}</td>
                    <td class="width50">{@onef.birthday}</td>
                    <td class="width50">{@onef.city}</td>
                    <td class="width50">{@onef.getGift}</td>
                    <if condition="{@themetype==1}">
                        <td class="width50">{@onef.getLabel}</td>
                    </if>
                    <td class="width50">{@onef.compScore}</td>
                </tr>
            </foreach>
    </table>
    <div style="margin-left: 17px;">
        <include file="welab/templates/paginator.html" model="@page" model.url="/lavico/answerQuestion/statistics/statistics_true:finishPeople?_id={@_id}&finishCount={@finishCount}&totalPop={@totalPop}&page=%pagenum%" />
    </div>
</div>
<script>
    function CheckAll(value,obj)  {
        var num = document.getElementsByName("is_s");
        for(var i=0;i<num.length;i++){
            if(num[i].type == "checkbox"){
                var e = num[i];
                if (value=="selectAll"){
                    e.checked=obj.checked
                }else{
                    e.checked=!e.checked;
                }
            }
        }
    }

    function getReplyList(){
        var aList = [];
        var num = document.getElementsByName("is_s");
        for(var i=0;i<num.length;i++){
            if(num[i].checked){
                aList.push(num[i].value);
            }
        }
        if( aList.length == 0){
            $.globalMessenger().post({
                message: '请选择至少一条数据',
                type: 'error',
                showCloseButton: true})
            return ;
        }else{
            return aList;
        }
    }

    function sa(){
        if(getReplyList()){
            var _id = $("input[name='_id']").val();
            window.location.href="/lavico/answerQuestion/statistics/statistics_true:filterexport?_id="+_id+"&filter="+getReplyList().join(",");
            return false;
        }

    }
</script>
