<style>
    .checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
        background-color: #E7E7E7;
    }
</style>
<div name="getMember" class="maginTop20">
    <div>
        <input type="hidden" name="_id" value="{@_id}">
        <div style="margin-left: 17px; height: 30px; float: left">
            <a href="/lavico/answerQuestion/statistics/statistics_true:exportXsl?_id={@_id}&themetype={@themetype}" class="btn btn-xs btn-primary mhm pull-left">全部导出</a>
            <a href="javascript:;" class="btn btn-xs btn-primary mhm pull-left" style="display: none"  onclick="sa()">筛选导出</a>

        </div>
        <div style="float: right; width: 306px;">
            <input type="text" id="startDate" name="startDate" class="form-control input-sm" style="width: 95px" value="{@ startDate}">
            <input type="text" id="stopDate" name="stopDate" class="form-control input-sm" style="width: 95px" value="{@ stopDate}">
            <input type="button" class="btn btn-xs btn-primary mhm" value="搜索" onclick="search()">
        </div>
    </div>

    <table class="table table-hover" id="tagList" style="clear: both">
            <tr>
                <th style="width: 30px;">
                    <input type="checkbox" onclick="CheckAll('selectAll',this)">
                </th>
                <th class="width50">时间</th>
                <th class="width50">姓名</th>
                <th class="width50">性别</th>
                <th class="width50">年龄</th>
                <th class="width50">城市</th>
                <!--<th class="width50">获得礼券</th>-->
                <if condition="{@themetype==1}">
                    <th class="width50">获得标签</th>
                </if>
                <if condition="{@themetype==3}">
                    <th class="width50">获得标签</th>
                </if>
                <th class="width50">奖励积分</th>
                <if condition="{@themetype==3}">
                    <th class="width50">标注标签</th>
                </if>
            </tr>
            <foreach for="@data" var="onef">
                <tr>
                    <td style="width: 30px;">
                        <input type="checkbox" name="is_s" value="{@onef.name}" _id="{@onef.name}" >
                    </td>
                    <td class="width50">{@onef.createTime}</td>
                    <td class="width50"> {@onef.realname}</td>
                    <td class="width50">{@onef.gender}</td>
                    <td class="width50">{@onef.birthday}</td>
                    <td class="width50">{@onef.city}</td>
                    <!--<td class="width50">{@onef.getGift}</td>-->
                    <if condition="{@themetype==1}">
                        <td class="width50">{@onef.getLabel}</td>
                    </if>
                    <if condition="{@themetype==3}">
                        <td class="width50">{@onef.getLabel}</td>
                    </if>
                    <td class="width50">{@onef.compScore}</td>
                    <if condition="{@themetype==3}">
                        <td class="width50">{@onef.customerLabel}</td>
                    </if>
                </tr>
            </foreach>
    </table>
    <div style="margin-left: 17px;">
        <include file="welab/templates/paginator.html" model="@page"
                 model.url="/lavico/answerQuestion/statistics/statistics_true:finishPeople?_id={@_id}&themetype={@themetype}&finishCount={@finishCount}&totalPop={@totalPop}&startTime={@startDate}&stopDate={@stopDate}&page=%pagenum%" />
    </div>
</div>
<script>

    function search(){
        var id = '{@_id}';
        var themetype = '{@themetype}';
        var finishCount = '{@finishCount}';
        var totalPop = '{@totalPop}';
        var startTime = $("#startDate").val();
        var stopDate = $("#stopDate").val();
        window.location.href = "/lavico/answerQuestion/statistics/statistics_true?_id="+id+"&themetype="+themetype+"&finishCount="+ finishCount+"&totalPop="+totalPop+"&startTime="+startTime+"&stopDate="+stopDate;
    }

    function CheckAll(value,obj)  {
        var num = document.getElementsByName("is_s");
        for(var i=0;i<num.length;i++){
            if(num[i].type == "checkbox"){
                var e = num[i];
                if (value=="selectAll"){
                    e.checked=obj.checked
                }else{
                    e.checked=!e.checked;
                }
            }
        }
    }

    function getReplyList(){
        var aList = [];
        var num = document.getElementsByName("is_s");
        for(var i=0;i<num.length;i++){
            if(num[i].checked){
                aList.push(num[i].value);
            }
        }
        if( aList.length == 0){
            $.globalMessenger().post({
                message: '请选择至少一条数据',
                type: 'error',
                showCloseButton: true})
            return ;
        }else{
            return aList;
        }
    }

    function sa(){
        if(getReplyList()){
            var _id = $("input[name='_id']").val();
            window.location.href="/lavico/answerQuestion/statistics/statistics_true:filterexport?_id="+_id+"&filter="+getReplyList().join(",");
            return false;
        }

    }
</script>
