<style>
    .floatRight{float: right;}
    .width50{width:50px;}
    .width100{width:100px;}
    .width150{width:150px;}
    .width250{width:250px;}
    .width350{width:350px;}
    .height35{heigth:35px;}
    .staCount{background-color:#e8e8e8;}
    .lineCenter{text-align: center;}
    .maginTop20{margin-top:20px;}
    .tableSty{width: 97%; line-height: 35px;margin: 0px auto; border: 1px solid darkgray;}
    .borderBtm{border-bottom:1px solid darkgray;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/answerQuestion/statistics/statistics_list?themetype={@themetype}" class="stay">问答测试</a> <em></em></li>
    <li class="active"><span>统计</span></li>
</ul>

<div name="container" class="panel panel-default">
    <div class="panel-heading" style="height: 50px">
        <div class="btn-group" style="float: left;">
            <div class="btn-group" style="float: left; margin-top: 6px">
                <a href="javascript:history.back();"><i class="fui-arrow-left"></i>返回</a>
            </div>
        </div>

    </div>
    <div class="panel-heading" style="height: 50px;margin-top: 10px;">
        <div class="btn-group" style="float: left;">
            <div class="btn-group" style="float: left; margin-top: 6px">
                <h7 style="margin-top: 2px; color: #1ABC9C">{@resultJson.title}</h7>
            </div>
        </div>

    </div>


    <div name="getTheme" class="maginTop20">
        <table class="tableSty">
            <tr class="staCount borderBtm">
                <th class="width50" style="font-size: 14px; color: #1ABC9C;text-align: center">选项名称</th>
                <th class="width50" style="font-size: 14px; color: #1ABC9C;text-align: center">总共参与人数</th>
                <th class="width50" style="font-size: 14px; color: #1ABC9C;text-align: center">参与人数</th>
                <th class="width50" style="font-size: 14px; color: #1ABC9C;text-align: center">比列</th>
                <th class="width50" style="font-size: 14px; color: #1ABC9C;text-align: center">操作</th>
            </tr>
            <foreach for="@resultJson.choose" var="oneDoc" key="key">
                <tr class="borderBtm">
                    <td class="width50" style="font-size: 14px;border: 3px solid #e8e8e8">{@oneDoc.chooseName}</td>
                    <if condition="@key==0">
                        <td class="width50" rowspan="{@resultJson.choose.length}" style="text-align: center;border: 3px solid #e8e8e8" >{@allPartakeNum}</td>
                    </if>
                    <td class="width50" style="text-align: center;border: 3px solid #e8e8e8" >{@oneDoc.selectCount}</td>
                    <if condition="{@allPartakeNum==0}">
                        <td class="width50" style="text-align: center;border: 3px solid #e8e8e8">0%</td>
                        <else/>
                        <td class="width50" style="text-align: center;border: 3px solid #e8e8e8">{@parseInt(oneDoc.selectCount/allPartakeNum*100)}%</td>
                    </if>
                    <td class="width50" style="font-size: 14px;text-align: center;border: 3px solid #e8e8e8"><a href="statistics_singleDetail?themeId={@themeId}&optionId={@optionId}&chooseID={@oneDoc.chooseID}&themetype={@themetype}">查看详情</a></td>
                </tr>
            </foreach>
        </table>
    </div>

    <view name="visitedPartake"/>
</div>



