<div name="getLabel" class="maginTop20">
    <table class="tableSty ">
        <tr class="staCount borderBtm">
            <td class="width250">获得标签</td>
            <td class="width50">获得</td>
            <td class="width50">获得率</td>
        </tr>
        <foreach for="@docs_1.scoreMinMax" var="doc">
            <if condition="@doc.getLabel!=''">
                <tr class="borderBtm">
                    <td class="width250">{@doc.getLabel}</td>
                    <td class="width50">{@doc.sinCount}</td>
                    <td class="width50" name="alltd">
                        <if condition="{@doc.sinCount==null}">
                            0%
                            <else/>
                            {@parseInt(doc.sinCount/all*100)}%
                        </if>

                    </td>
                </tr>
            </if>
        </foreach>
    </table>
</div>