<style>
    .floatRight{float: right;}
    .width50{width:50px;}
    .width100{width:100px;}
    .width150{width:150px;}
    .width250{width:250px;}
    .width350{width:350px;}
    .height35{heigth:35px;}
    .staCount{background-color:#e8e8e8;}
    .lineCenter{text-align: center;}
    .maginTop20{margin-top:20px;}
    .tableSty{width: 97%; line-height: 35px;margin: 0px auto; border: 1px solid darkgray;}
    .borderBtm{border-bottom:1px solid darkgray;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/answerQuestion/statistics/statistics_list" class="stay">问答测试</a> <em></em></li>
    <li class="active"><span>统计</span></li>
</ul>

<div name="container" class="panel panel-default">
    <div name="title" style="padding: 10px;">
        <div class="height35">
            <input type="button" onclick="history.back()" name="btnBack" value="返回" class="btn btn-embossed">&nbsp;&nbsp;<span style="font-size: 20px;">{@docs.doc.theme}</span>
        </div>
    </div>

    <div nam="main">
        <div name="getCount">
        <table class="tableSty">
            <tr class="staCount borderBtm">
                <td class="width250">名称</td>
                <td class="width50">类型</td>
                <td class="width50">参与</td>
                <td class="width50">完成</td>
                <td class="width50">全对</td>
                <td class="width50">完成率</td>
                <td class="width50">全对率</td>
                <td class="width50">操作</td>
            </tr>
            <tr class="borderBtm">
                <td class="width250" id="abc">{@docs.doc.theme}</td>
                <td class="width50">
                <if condition="{@docs.doc.themeType==0}">
                    对错型
                <elseif condition="{@docs.doc.themeType==1"/>
                    测试型
                <else/>
                    主观型
                </if>
                </td>
                <td class="width50">{@docs.totalPop}</td>
                <td class="width50">{@docs.finishCount}</td>
                <td class="width50">{@allCountPeople}</td>
                <td class="width50" name="wcl">
                <if condition="{@docs.finishCount==0}">
                    0%
                <else/>
                    {@parseInt(docs.finishCount/docs.finishCount*100)}%
                </if>
                </td>
                <td class="width50" name="qdl">
                    <if condition="{@allCountPeople==0}">
                        0%
                    <else/>
                        {@parseInt(docs.totalPop/allCountPeople*100)}%
                    </if>
                </td>
                <td class="width50"><a href="statistics_Detail?themeId={@docs.doc._id}">查看详情</a></td>
            </tr>
        </table>
        </div>

        <view name="lab"/>
        <view name="score"/>


        <div name="getTheme" class="maginTop20">
            <table class="tableSty">
                <tr class="staCount borderBtm">
                    <td class="width50">序号</td>
                    <td class="width250">题目</td>
                    <td class="width50">题型</td>
                    <td class="width50">正确率</td>
                    <td class="width50">操作</td>
                </tr>
             <foreach for="@docs.doc.options" var="doc3">
                 {@docs.options}
                <tr class="borderBtm">
                    <td class="width50">{@doc3.optionId}</td>
                    <td class="width250">{@doc3.title}</td>
                    <td class="width50">
                        <if condition="@doc3.type==0">
                            单选题
                        <elseif condition=""/>
                            多选题
                        <else/>
                            主观题
                        </if>
                    </td>
                    <td class="width50">
                        <foreach for="@allRight" var="right">
                            <if condition="{@right.themeId==docs.doc._id && right.optionId==doc3.optionId}">
                                {@parseInt(right.rightNum/right.allNum*100)}%
                            </if>
                        </foreach>
                    </td>
                    <td class="width50"><a href="statistics_oneDetail?themeId={@docs.doc._id}&optionId={@doc3.optionId}">统计</a></td>
                </tr>
             </foreach>
            </table>
        </div>

        <view name="finishPeople"/>



    </div>
</div>