<style>
    .floatRight{float: right;}
    .width50{width:50px;}
    .width100{width:100px;}
    .width150{width:150px;}
    .width250{width:250px;}
    .width350{width:350px;}
    .height35{heigth:35px;}
    .staCount{background-color:#e8e8e8;}
    .lineCenter{text-align: center;}
    .maginTop20{margin-top:20px;}
    .tableSty{width: 97%; line-height: 35px;margin: 0px auto; border: 1px solid darkgray;}
    .borderBtm{border-bottom:1px solid darkgray;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="#" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="#" class="stay">问答测试</a> <em></em></li>
    <li class="active"><span>统计</span></li>
</ul>

<div name="container" class="panel panel-default">
    <div name="title" style="padding: 10px;">
        <div class="height35">
            <input type="button" name="btnBack" value="返回" class="btn btn-embossed">&nbsp;&nbsp;<span style="font-size: 20px;">所有问答测试</span>
            <a href="/lavico/answerQuestion/question/addQuestion"  name="btnSave" class="btn btn-embossed btn-primary" style="float: right; margin-left: 300px;">新增题目</a>
    </div>
    <div nam="main">
        <div name="getMember" class="maginTop20">
            <table class="tableSty">
                <tr class="staCount borderBtm">
                    <td class="width150">名称</td>
                    <td class="width50">状态</td>
                    <td class="width50">开始时间</td>
                    <td class="width50">结束时间</td>
                    <td class="width50">类型</td>
                    <td class="width50">完/参</td>
                    <td class="width50">完成率</td>
                    <td class="width150">操作</td>
                </tr>
            <foreach for="@docs" var="doc" key="key">
                <tr class="borderBtm">
                    <td class="width150"><a target="_blank" href="/lavico/answerQuestion/question/updateQuestion?_id={@doc.themeId}">{@doc.theme}</a></td>
                    <td class="width50" id="openClose">
                        <if condition="{@doc.isOpen==0}">
                            进行中
                        <else/>
                            已关闭
                        </if>
                    </td>
                    <td class="width50">{@doc.beginTime}</td>
                    <td class="width50">{@doc.endTime}</td>
                    <td class="width50">
                        <if condition="{@doc.themeType==0}">
                            对错型
                        <elseif condition="{@doc.themeType==1}"/>
                            测试题
                        <else/>
                            调查题
                        </if>
                    </td>
                    <td class="width50">&nbsp;&nbsp;{@doc.finishCount}/{@doc.totalPop}</td>
                    <td style="width: 30px">
                     <if condition="{@doc.totalPop==0}">
                        0%
                     <else/>
                        {@(parseInt(doc.finishCount)/parseInt(doc.totalPop))*100}%
                     </if>
                    </td>
                    <td class="width150">
                        <input type="hidden" name="_id" value="{@doc.themeId}"/>
                        <div style="float:left; padding-top: 20px;">

                            <div class="switch has-switch way">
                                <if condition="{@doc.isOpen==1}">
                                    <div class="switch-animate switch-off" data="{@doc._id}" onclick="audioClick(this)">
                                        <input type="checkbox" data-toggle="switch">
                                        <span class="switch-left">关</span>
                                        <label>&nbsp;</label>
                                        <span class="switch-right">开</span>
                                    </div>
                                <else/>
                                    <div class="switch-animate switch-on" data="{@ doc._id}" onclick="audioClick(this)">
                                        <input type="checkbox" data-toggle="switch">
                                        <span class="switch-left">关</span>
                                        <label>&nbsp;</label>
                                        <span class="switch-right">开</span>
                                    </div>
                                </if>
                            </div>

                            <input type="button"  class="btn btn-xs btn-primary mhm" style=" margin-top: -18px"  name="btnStatistics"  value="统计">
                            <input type="hidden" name="tongji" value="{@doc.finishCount}_{@doc.totalPop}_{@doc.themeId}"
                        </div>
                        <div style="float:left; padding-top: 25px;">
                            <input type="image" name="btnDel" value="删除" src="/lavico/public/images/cha.jpg" width="20" height="20">
                        </div>
                    </td>
                </tr>
            </foreach>
            </table>
            <div style="margin-left: 17px;"><include file="welab/templates/paginator.html" model="@docs" model.url="/lavico/answerQuestion/statistics/statistics_list?page=%pagenum%" /></div>
        </div>
    </div>
</div>

<script>
    function audioClick(o){
        var flag = '';
        if ($(o).hasClass("switch-off")){
            $(o).removeClass("switch-off")
            $(o).addClass("switch-on")
            flag = 'on'; //  开
            //$("#openClose").html("进行中")
            $(o).parent().parent().parent().parent().find("#openClose").html("进行中")


        }else{
            $(o).addClass("switch-off")
            $(o).removeClass("switch-on")
            flag = 'off'; // 关
            //$("#openClose").html("已关闭")
            $(o).parent().parent().parent().parent().find("#openClose").html("已关闭")
        }

        if(flag){
            var id=$("input[name=_id]").val()
            $.get("/lavico/answerQuestion/statistics/statistics_list:close",{_id:id},function(result){
                //location.href='/lavico/answerQuestion/statistics/statistics_list';
            })

        }



    }
</script>