<div name="getLabel" class="maginTop20">
    <table class="table table-hover" id="tagList">
        <thead>
            <tr class="staCount borderBtm">
                <th class="width250">获得标签</th>
                <th class="width50">获得</th>
                <th class="width50">获得率</th>
            </tr>
        </thead>
        <tbody>
            <foreach for="@docs_1.scoreMinMax" var="doc">
                <tr class="borderBtm">
                    <if condition="@doc.getLabel!=''">
                        <td class="width250">{@doc.getLabel}</td>
                        <td class="width50">{@doc.sinCount}</td>
                        <td class="width50" name="alltd">
                            <if condition="{@all==''}">
                                0%
                                <else/>
                                {@parseInt(doc.sinCount/parseInt(all)*100)}%
                            </if>
                        </td>
                    </if>
                </tr>
            </foreach>
        </tbody>
    </table>
</div>