<script>
    function check(){
        var wxid = '{@wxid}';
        var flag="{@flag}";
        if(flag=="1")
        {

            window.popupStyle2.on("您还不是LaVico的会员，请先注册会员!",function(event){
                if(event == "confirm"){
                    var _encodeUlr = encodeURIComponent("/lavico/member/card_member/coupon/index?wxid="+"{@wxid}");
                    location.href="/lavico/member/card_blank/register?wxid={@wxid}"+"&go="+_encodeUlr;
                }
            })
            return false;
        }
    }

//    window.onload =function() {
//        check();
//    }
</script>
<link rel="stylesheet" href="/lavico/public/css/LaVico_03.css" />
<script src="/lavico/public/js/iscroll.js"></script>
<if condition="@ !isFollow">
    <div style="position: fixed;width: 100%;height: 100%; top:0px; left:0px; opacity: 0;z-index: 998 " onclick="welcome()"></div>
</if>
<input type="hidden" id="pageNum" value={@pageNum}>
<input type="hidden" id="sumPageNum" value={@sumPageNum}>
<!--<if condition="@lookbookType == '整图型'">-->
    <!--<div class="wrapper" id="wrapper">-->
        <!--<div class="store-title">-->
            <!--<p class="title6">精英搭配</p>-->
        <!--</div>-->
        <!--<div class="match">-->
            <!--<div class="banner"><img src="{@doc.pic||'/lavico/public/images/elite_home_top.gif'}"></div>-->
            <!--<div class="roll-banner">-->
                <!--<div class="viewport" id="viewport">-->
                    <!--<div class="flipsnap" id="flipsnap" style="transition: -webkit-transform 350ms cubic-bezier(0, 0, 0.25, 1); -webkit-transition: -webkit-transform 350ms cubic-bezier(0, 0, 0.25, 1); -webkit-transform: translate3d(0px, 0px, 0px);">-->
                        <!--<foreach for="@doc.product" var="doc2">-->
                            <!--<div class="item">-->
                                <!--<span class="img fl"><a href="/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&pageNum={@pageNum}&productId={@doc2._id}&onlyProduct=true" onclick="check()"><img src="{@ doc2.pic||'/lavico/public/images/elite_home_list_1.png'}"></a></span>-->
                            <!--</div>-->
                        <!--</foreach>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="intro-text" id="exchangebtn">-->
                <!--<div class="text"><a href="javascript:;" class="elite_intro">{@doc.detail}</a></div>-->
                <!--<div class="arrow">-->
                    <!--<div class="arrow-left" onclick="leftPage()"></div>-->
                    <!--<a href="javascript:;" onclick="rightPage()"><div class="arrow-right"></div></a>-->
                <!--</div>-->
                <!--<div class="number">-->
                    <!--<p><span class="f25">{@pageNum}</span><span class="f22">/{@ sumPageNum}</span></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</if>-->

<!--<if condition="@lookbookType == '列表型'">-->
    <!--<div data-role="page" data-url="/Users/gao/Downloads/lavico/elite_num2.html" tabindex="0" class="ui-page ui-body-c ui-page-active" style="min-height: 513px;">-->
        <!--<div class="wrapper" style="background-color: #fff;">-->
            <!--<foreach for="@allPage.page" var="page" key="key">-->
                <!--<div class="elite_list">-->
                    <!--<div class="small_list_top">-->
                        <!--<img src="{@page.pic||'/lavico/public/images/small_list_top.jpg'}">-->
                        <!--<span class="content_up"><a href="javascript:;" onclick="showContent('{@key}');" class="ui-link"></a></span>-->
                        <!--<div class="small_content num_{@key}" style="display: none;">-->
                            <!--{@ page.detail}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="small_list">-->
                    <!--<foreach for="@page.product" var="product">-->
                        <!--<div class="small_image">-->
                            <!--<a href="/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&pageNum={@key+1}&productId={@product._id}&onlyProduct=true" onclick="check()">-->
                                <!--<img src="{@ product.pic}" class="exchangebtn">-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</foreach>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
                <!--<div class="small_middle"><img src="/lavico/public/images/small_list_middle.png" class="exchangebtn"></div>-->
            <!--</foreach>-->
        <!--</div>-->
        <!--<script>-->
            <!--function smallList() {-->
                <!--var classElements = document.getElementsByTagName("div");-->
                <!--for (var i = 0; i < classElements.length; i++) {-->
                    <!--if (classElements[i].className == 'small_list') {-->
                        <!--var nameDiv = classElements[i].getElementsByTagName("div");-->
                        <!--if (nameDiv.length === 2) {-->
                            <!--nameDiv[1].id = 'samll_50';-->
                            <!--nameDiv[0].style.width = '40%';-->
                        <!--}-->
                    <!--}-->
                <!--}-->
                <!--return classElements;-->
            <!--}-->
            <!--window.onload = function () {-->
                <!--smallList();-->
            <!--}            -->
        <!--</script>-->
    <!--</div>-->
<!--</if>-->

<if condition="@lookbookType == '瀑布流型'">
    <section id="section" style="background-color: #e4e4e4;">
        <div class="elite" id="wrap">
            <foreach for="@allPage.page" var="item" key="key">
                <div class="elite_list_lw">
                    <a href="/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&pageNum={@key+1}&productId={@item.product[0]._id}"  onclick="check()">
                        <span class="elite_img"><img src="{@item.pic||'/lavico/public/images/elite_home_top.gif'}" /></span>
                        <span class="elite_details">{@item.name}</span>
                    </a>
                </div>
            </foreach>
        </div>
        <script>
            function wrapWin() {
                var wrap = document.getElementById("wrap");
                var wrapWin = wrap.offsetWidth / 2.2;
                //console.log(wrapWin)
                var elite_list = document.getElementById("wrap").getElementsByTagName("div");
                for (var i = 0; i < elite_list.length; i++) {
                    elite_list[i].style.width = wrapWin + "px";
                }
            }

            if (wrap != undefined) {
                wrapWin();
                window.onload = function () {
                    waterFall("wrap");
                }              
            }
        </script>
    </section>
</if>

<if condition="@lookbookType == '整图型'">
    <link rel="stylesheet" href="/lavico/public/css/product.css" />
    <section id="section" class="templet_02">
        <div class="new_top">
            <img src="/lavico/public/images/new_top_Two.jpg" alt="" />
            <span>{@allPage.name}</span>
        </div>
        <ul class="new_list">
            <foreach for="@allPage.page" var="item" key="key">
                <li>
                    <a href="/lavico/lookbook/productTwo?_id={@ _id}&wxid={@ wxid}&pageNum={@key+1}&productId={@item.product[0]._id}"  onclick="check()">
                        <span class="elite_img"><img src="{@item.pic||'/lavico/public/images/elite_home_top.gif'}" /></span>
                        <p>{@item.name}</p>
                    </a>
                </li>
            </foreach>
        </ul>
    </section>
</if>

<if condition="@lookbookType == '列表型'">
    <script src="/lavico/public/js/touchScroll.js"></script>
    <script src="/lavico/public/js/touchslider.dev.js"></script>
    <section id="section" class="Template_3">
        <div class="new_top_logo"><img src="/lavico/public/images/logo_03_01.png" alt="" /></div>
        <div class="swipe" id="wrapper_03_01">
            <ul id="slider" style="display: none">
                <foreach for="@allPage.page" var="item" key="key">
                    <li><a href="/lavico/lookbook/productThere?_id={@ _id}&wxid={@ wxid}&pageNum={@key+1}&productId={@item.product[0]._id}"><img src="{@item.pic||'/lavico/public/images/elite_home_top.gif'}" alt="" /></a></li>
                </foreach>
            </ul>
            <div id="navSli">
                <ul id="indicator_03_01"></ul>
            </div>
            <span class="shadow"></span>
        </div>
        <div class="switch_list">
            <a href="javascript:;" onclick="leftPage()" class="switch_left">左右</a>
            <h2>{@allPage.name}</h2>
            <a href="javascript:;" onclick="rightPage()" class="switch_right">左右</a>
        </div>
        <ul class="collocation_list" id="collocation_list">

        </ul>
        <div style="display: none" id="jsonData">{@all}</div>
        <input type="hidden" id="wxid" value="{@wxid}">
        <input type="hidden" id="id" value="{@ _id}">
    </section>
    <script>
        var wrapper = document.getElementById("wrapper_03_01");
        var wrapper_Li = document.getElementById("slider").getElementsByTagName("li");
        var wrapper_L = document.getElementById("slider").getElementsByTagName("li").length;
        function wrapperWidth() {
            wrapper_W = wrapper.offsetWidth;
            for (var i = 0; i < wrapper_Li.length; i++) {
                wrapper_Li[i].style.width = wrapper_W + "px";
            }
            document.getElementById("slider").style.width = wrapper_W * wrapper_L + "px";
        }

        wrapperWidth();

        window.onresize = function () {
            wrapperWidth();
        }

        var indicator_Li = document.getElementById("indicator_03_01").getElementsByTagName("li");
        var section_W = document.getElementById("section").offsetWidth;
        var indicator = document.getElementById("indicator_03_01");

        for (var i = 0; i < wrapper_Li.length; i++) {
            var indicator_add_Li = document.createElement("li")
            indicator.appendChild(indicator_add_Li);
            indicator_Li[0].className = 'active';
            indicator_Li[i].style.width = (section_W / wrapper_L) / section_W * 100 + "%";
        }
    </script>
    <script type="text/javascript">
        var active = 0;
        var t2;
        function init(){
            var slider = $("#slider");
            if (slider.css("display") == "none") {
                slider.show();
            }
            var data = JSON.parse($("#jsonData").text())
            var as = document.getElementById('indicator_03_01').getElementsByTagName('li');
            for (var i = 0; i < as.length; i++) {
                (function () {
                    var j = i;
                    as[i].onclick = function () {
                        t2.slide(j);
                        return false;
                    }
                })();
            }
            t2 = new TouchSlider({
                id: 'slider', speed: 600, timeout: 6000, before: function (index) {
                    as[active].className = '';
                    active = index;
                    as[active].className = 'active';
                    $(".collocation_list").html("");
                    loaded();
                }
            });
        }
        window.onload=function(){
            init();
            loaded();
        }
        function loaded() {
            var data = JSON.parse($("#jsonData").text())
            var wxid = $("#wxid").val();
            var id = $("#id").val();
            $(".switch_list").find("h2").text(data.page[active].name)
            if(data.page[active]){
                var json = data.page[active].product.length;
                for(var i=0; i<json;i++){
                    $(".collocation_list").append("<li>" +
                            "<img src='"+data.page[active].product[i].pic+"' class='collocation_list_left' />"
                            +"<article class='collocation_list_right'>" +
                            "<h3>"+data.page[active].product[i].name+"</h3>" +
                            "<p>"+data.page[active].product[i].detail +"</p>" +
                            "<a href='/lavico/lookbook/productThere?_id="+id+"&wxid="+wxid+"&pageNum="+(active+1)+"&productId="+data.page[active].product[i]._id+"'><img src='/lavico/public/images/collocation_but.png'/></a>" +
                            "</article>" +
                            "</li>");
                }
            }
        }

        function leftPage(){
            if(active == 0){
                window.popupStyle2.on('已经是第一页',function(event){
                })
            }else{
                t2.slide(active-1)
                $(".collocation_list").html("");
                loaded();
            }
        }
        function rightPage(){
            var data = JSON.parse($("#jsonData").text())
            if((active+1) == data.page.length ){
                window.popupStyle2.on('已经是最后一页',function(event){
                })
            }else{
                t2.slide(active+1)
                $(".collocation_list").html("");
                loaded();
            }
        }
    </script>
</if>


<if condition="@lookbookType != '列表型'">

<script src="/lavico/public/js/waterfall.js"></script>
<script src="/lavico/public/js/flipsnap.js"></script>
<script type="text/javascript" src="/lavico/public/js/jquery.touchwipe.1.1.1.js"></script>
<script>
    var n = 0;
    function showContent(m){
        if(n==0){
            $(".num_"+m).show();
            $(".img_" + m).attr("src", "/lavico/public/images/down.png");
            $(".num_" + m).siblings(".content_up").find("a").css({ "background": "url(/lavico/public/images/match_top.png) center no-repeat", "background-size": "20px" });
            n = 1;
        }else{
            $(".num_" + m).hide();
            $(".num_" + m).siblings(".content_up").find("a").css({ "background": "url(/lavico/public/images/match_bottom.png) center no-repeat", "background-size": "20px" });
            n = 0;
        }

    }


    function favorites(wxid,pid){
        $.ajax({
            url:'/lavico/lookbook/favorites:save',
            type:'POST',
            data:{
                'wxid':wxid,
                'pid':pid
            },
            success:function(data){
                alert(data.msg)
            },
            error:function(msg){
                console.log(msg);
            }
        });
    }

    var wrapper = document.getElementById("wrapper");


    function flipsnapRoll() {
        flipsnapLen = document.getElementById("flipsnap").getElementsByTagName("div");
        var itemWin = wrapper.offsetWidth / 3;
        for (var i = 0; i < flipsnapLen.length; i++) {
            flipsnapLen[i].style.width = itemWin + "px";
        }
        var temWin8 = flipsnapLen[0].offsetWidth + 2;
        var flipsnap = document.getElementById("flipsnap");
        flipsnap.style.width = temWin8 * flipsnapLen.length + "px";
    }

    function flipH() {
        var flipsnapH = document.getElementById("flipsnap").offsetHeight;
        for (var i = 0; i < flipsnapLen.length; i++) {
            flipsnapLen[i].style.height = flipsnapH + "px";
        }
    }

    if (wrapper != undefined) {
        flipsnapRoll();
        window.onload = function () {
            Flipsnap('.flipsnap');
            flipH();
        }

        window.onresize = function () {
            flipsnapRoll();
            flipH();
        }
    }

</script>
</if>