<style>
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>

<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用</a> <em></em></li>
    <li class="b02"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b03"><a href="/lavico/lookbook/index" >精英搭配</a></li>
    <li class="b03"><a href="#" class="stay">统计</a></li>
    <li class="pull-right"><a href="/lavico/lookbook/index"><i class="fui-arrow-left"></i>返回</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading" style="height: 50px">

        <div class="btn-group" style="float: left; margin-top: 6px">
            <a href="/lavico/lookbook/index"><i class="fui-arrow-left"></i>返回</a>
        </div>
        <div class="btn-group" style="float: left; margin-left: 15px">
            <h6 style="margin-top: 2px; color: #1ABC9C">2014秋冬搭配手册</h6>
        </div>
        <div style="float: right;">
            <div style="float: right; width: 306px;">
                <form method="get">
                <input type="text" id="startDate" name="startDate" class="form-control input-sm" style="width: 95px" value="{@ startDate}">
                <input type="text" id="stopDate" name="stopDate" class="form-control input-sm" style="width: 95px" value="{@ stopDate}">
                <input type="submit" class="btn btn-xs btn-primary mhm" value="搜索">
                </form>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <table class="table" id="tagList">
            <thead>
            <tr>
                <th>名称</th>
                <th>收藏数</th>
            </tr>
            </thead>
            <tbody>
            <foreach for="@doc.page" var="doc">

                <foreach for="@doc.product" var="doc2">
                <tr>
                    <td>{@ doc2.name}</td>
                    <td>{@ doc2.sumFavorites}</td>
                </tr>
                </foreach>
            </foreach>
            </tbody>
        </table>

    </div>
</div>


<script src="/welab/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link href="/welab/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">