<input type="hidden" id="pageNum" value={@pageNum}>
<input type="hidden" id="current" >
<input type="hidden" id="productId" value={@productId}>
<div style="display: none" id="jsonPage">{@jsonDoc}</div>
<script src="/lavico/public/js/iscroll.js"></script>
<section id="section">
    <div class="elite_title">
        <p>
            <if condition="@ source!='view'">
                <span class="title5"><a href="/lavico/lookbook/detail?_id={@ _id}&wxid={@ wxid}&fromWelab={@fromWelab}">qweqweqweqwe</a></span>
            <else />
                <span class="title5"><a href="javascript:;" onclick="_cb()">返回列表</a></span>
            </if>
            <span class="title2">单品</span>
            <span class="title6">
                <if condition="@ fromWelab==''">
                    <if condition="@ source!='view'">
                        <a href="javascript:;" class="collectionbtn" onclick="favorites('{@ wxid}','333')">收藏</a>
                    </if>
                </if>
            </span>
        </p>
    </div>
    <div id="wrapMain">
        <div id="scroller">
            <ul id="thelist">
                <foreach for="@doc.product" var="page">
                    <foreach for="@page.bigPic" var="doc2">
                        <li><img src="/lavico/public/images/suits_mod.jpg" /></li>
                    </foreach>
                </foreach>
            </ul>
        </div>
    </div>
    <article class="article" id="article"><h3>多色POLO衫</h3><p>热情洋溢的彩色polo衫，如同夏季香甜果汁，沁人心脾；舒适透气面料加以简洁时尚的设计，清新灵动。</p></article>
    <div id="nav">
        <div id="prev" onclick="myScroll.scrollToPage('prev', 0);return false">prev</div>
        <div id="next" onclick="myScroll.scrollToPage('next', 0);return false">next</div>
    </div>
    <script>
        var myScroll;
        function loaded() {
            myScroll = new iScroll('wrapMain', {
                snap: true,
                momentum: false,
                hScrollbar: false,
                onScrollEnd: onScrollEnd
            });
        }

        function onScrollEnd(){

            console.log(myScroll.currPageX)
        }


        document.addEventListener('DOMContentLoaded', loaded, false);

        function wrapWin() {
            var wrapMain = document.getElementById("wrapMain");
            var MainWin = wrapMain.offsetWidth;
            var listLi = document.getElementById("thelist").getElementsByTagName("li");
            for (var i = 0; i < listLi.length; i++) {
                listLi[i].style.width = MainWin + "px";
            }
            var theLength = document.getElementById("thelist").getElementsByTagName("li").length;
            document.getElementById("scroller").style.width = MainWin * theLength + "px";
        }

        wrapWin();

        window.onresize = function () {
            wrapWin();
        }
    </script>
</section>

<script>
    function _cb(){

        var cb = decodeURIComponent(window.location.search.match(/%7B(.*)%7D/)[1]);
        if(cb){
            location.href = cb;
        }else{

            location.href = "/lavico/lookbook/favorites?wxid={@ wxid}&fromWelab={@fromWelab}";
        }

    }

    function leftPage(){

        var bigPicIndex = parseInt($("#bigPicIndex").val())
        var sumBigPicIndex = parseInt($("#sumBigPicIndex").val())
        var cb = window.location.search.match(/cb=(.*)$/) ? window.location.search.match(/cb=(.*)$/)[1] : false;
        if(bigPicIndex <= 1){
            var page = JSON.parse($("#jsonPage").text())
            var nowProductNum = 0;
            for(var i=0;i<page.product.length;i++){
                if(page.product[i]._id == $("#productId").val()){
                    nowProductNum = i+1
                }
            }

            if(nowProductNum > 1){
                var url =  "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&fromWelab={@fromWelab}&pageNum={@pageNum}&productId="+page.product[nowProductNum-2]._id+"&bigPicIndex="+(page.product[nowProductNum-2].bigPic ? page.product[nowProductNum-2].bigPic.length:0)+"&source={@source}"
                location.href = cb ? url + (cb?"&cb="+cb:"") : url;
            }else{
                window.popupStyle2.on('已经是第一页',function(event){

                })
            }
            return;
        }
        var url = "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&fromWelab={@fromWelab}&pageNum={@pageNum}&productId=232323&bigPicIndex=" + (bigPicIndex -1)+"&source={@source}"
        location.href = cb ? url + (cb?"&cb="+cb:"") : url;
    }

    function rightPage(){

        var bigPicIndex = parseInt($("#bigPicIndex").val())
        var sumBigPicIndex = parseInt($("#sumBigPicIndex").val())
        var cb = window.location.search.match(/cb=(.*)$/) ? window.location.search.match(/cb=(.*)$/)[1] : false;
        if(bigPicIndex >= sumBigPicIndex){

            var page = JSON.parse($("#jsonPage").text())
            var nowProductNum = 0;
            for(var i=0;i<page.product.length;i++){
                if(page.product[i]._id == $("#productId").val()){
                    nowProductNum = i+1
                }
            }

            if(nowProductNum < page.product.length){
                var url = "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&fromWelab={@fromWelab}&pageNum={@pageNum}&productId="+(page.product[nowProductNum]._id)+"&source={@source}"
                location.href = cb ? url + (cb?"&cb="+cb:"") : url;
            }else{
                window.popupStyle2.on('已经是最后一页',function(event){

                })
            }

            return;
        }
        var url = "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&fromWelab={@fromWelab}&pageNum={@pageNum}&productId=23232323&bigPicIndex=" + (bigPicIndex +1)+"&source={@source}"
        location.href = cb ? url + (cb?"&cb="+cb:"") : url;
    }
    function favorites(wxid,pid){

        var isvip = '{@isVip}'
        if(isvip == "false"){

            window.popupStyle2.on("您还不是LaVico的会员，请先注册会员",function(event){

                if(event == "confirm"){
                    location.href="/lavico/member/card_blank/register?wxid={@ wxid}"
                }
            })

            return false;
        }


        $.ajax({
            url:'/lavico/lookbook/favorites:save',
            type:'POST',
            data:{
                'wxid':wxid,
                'pid':pid,
                'memberID':'{@ memberID}'
            },
            success:function(data){

                $(".fade2").find(".fad2Tit").text(data.msg)
                $(".fade2").show()
            },
            error:function(msg){
                console.log(msg);
            }
        });
    }
</script>