
<input type="hidden" id="pageNum" value={@pageNum}>
<input type="hidden" id="bigPicIndex" value={@bigPicIndex}>
<input type="hidden" id="sumBigPicIndex" value={@sumBigPicIndex}>
<input type="hidden" id="bigPicIndex" value={@bigPicIndex}>

<div class="wrapper" id="exchangebtn">
    <div class="elite_title">
        <p>

            <if condition="@ source!='view'">
            <span class="title5"><a href="/lavico/lookbook/detail?_id={@ _id}&wxid={@ wxid}">{@ lookbookName}</a></span>
            <else/>
                <span class="title5"><a href="/lavico/lookbook/favorites?wxid={@ wxid}">返回列表</a></span>
            </if>
            <span class="title2">单品</span>
            <span class="title6">

                <if condition="@ source!='view'">
                    <a href="javascript:;" class="collectionbtn" onclick="favorites('{@ wxid}','{@ product._id}')">收藏</a>
                </if>
            </span>
        </p>
    </div>
    <div style="position:relative;">
        <div class="elite_img"><img src="{@ product.bigPic ? product.bigPic[bigPicIndex-1].pic : '/lavico/public/images/suits_mod.jpg'}"></div>
        <div class="prev_btn" onclick="leftPage()"></div>
        <div class="next_btn" onclick="rightPage()"></div>
    </div>
    <div class="intros">
        <div class="title">{@ product.name}</div>
        <div class="content">{@ product.detail}</div>
    </div>
</div>

<div class="fade2">
    <div class="second-price">
        <p class="msg"><span class="mt70 fad2Tit">收藏成功</span></p>
        <p class="confirm"><input type="submit" class="goon_btn" border="0" value="继续浏览" onclick="$('.fade2').hide()"></p>
    </div>
</div>


<script>

    function leftPage(){

        var bigPicIndex = parseInt($("#bigPicIndex").val())
        var sumBigPicIndex = parseInt($("#sumBigPicIndex").val())
        if(bigPicIndex <= 1){
            alert("已经是第一页")
            return;
        }
        location.href = "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&pageNum={@pageNum}&productId={@ product._id}&bigPicIndex=" + (bigPicIndex -1)
    }

    function rightPage(){

        var bigPicIndex = parseInt($("#bigPicIndex").val())
        var sumBigPicIndex = parseInt($("#sumBigPicIndex").val())
        if(bigPicIndex >= sumBigPicIndex){
            alert("已经是最后一页")
            return;
        }
        location.href = "/lavico/lookbook/product?_id={@ _id}&wxid={@ wxid}&pageNum={@pageNum}&productId={@ product._id}&bigPicIndex=" + (bigPicIndex +1)
    }
    function favorites(wxid,pid){
        $.ajax({
            url:'/lavico/lookbook/favorites:save',
            type:'POST',
            data:{
                'wxid':wxid,
                'pid':pid
            },
            success:function(data){

                $(".fade2").find(".fad2Tit").text(data.msg)
                $(".fade2").show()
            },
            error:function(msg){
                console.log(msg);
            }
        });
    }
</script>