<style>
    .floatRight{float: right;}
    .width50{width:50px;}
    .width100{width:100px;}
    .width150{width:150px;}
    .width250{width:250px;}
    .width350{width:350px;}
    .width70{width:70px;}
    .height35{heigth:35px;}
    .staCount{background-color:#e8e8e8;}
    .lineCenter{text-align: center;}
    .maginTop20{margin-top:20px;}
    .tableSty{width: 97%; line-height: 35px;margin: 0px auto; border: 1px solid darkgray;}
    .borderBtm{border-bottom:1px solid darkgray;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用</a> <em></em></li>
    <li class="b02"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b03"><a href="/lavico/bargain/catgory/Catlist" class="stay">侃价分类管理</a><em></em></li>
    <li class="active"><span>列表</span></li>
</ul>

<div name="container" class="panel panel-default formText">

    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left stay" href="#">所有侃价分类</a>
        <a class="btn btn-defalut btn-social-googleplus pull-left stay" href="/lavico/bargain/index" style="margin-left: 5px;">
            侃价列表
        </a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="/lavico/bargain/categorys/addCat" ><i class="fui-check-inverted"></i> 新增分类</a>
    </div>

    <div name="title" style="padding: 10px;">
        <div nam="main">
            <div class="childview">
                <view name="page" />
            </div>
        </div>
    </div>
</div>