<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/welab/MessageList" class="stay">消息</a> <em></em></li>
    <li class="active"><span>消息管理</span></li>
</ul>
<!--data start-->
<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-primary handle_btn" type="button" onclick="$('#searchView').fadeIn('100')">条件筛选</button>
        <a class="btn btn-primary handle_btn userSetTagView" href="javascript:;" style="background-color: #1abc9c" >设定标签</a>
    </div>
    <include file="lavico/templates/welab/message/searchForm.html" />
    <div class="panel-body">
        <div class="childview">
            <view name="page" />
        </div>
    </div>
</div>
<!--data end-->


<!-- 设置标签 -->
<div class="modal fade" id="tagModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">设置标签</h4>
            </div>
            <div class="modal-body">
                <select id="tag"  class="form-control input-sm" style="width: 250px">
                    <option value="-1" selected="selected">请选择标签</option>
                    <foreach for="{@taglist}" var="tags">
                        <option value="{@tags.title}">{@tags.title}</option>
                    </foreach>
                </select>
                <!--<input type="text" name="tags" id="tags" placeholder="设置多个标签请用“,”或者“回车”分隔" class="form-control input-sm tm-input tm-input-info" style="width:240px;"/>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary userTagBtn">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="/lavico/public/js/searchbox.js"></script>
<link href="/welab/public/css/searchbox.css" rel="stylesheet">


<link type="text/css" href="/welab/public/css/bootstrap-tagmanager.css">
<script type="text/javascript" src="/welab/public/js/bootstrap-tagmanager.js"></script>