<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/announcement/announcementIndex" class="stay">公告列表</a> <em></em></li>
    <li class="active"><span>新增公告</span></li>
</ul>

<div name="container" class="panel panel-default formText">

    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left stay" href="/lavico/announcement/announcementIndex"><i class="fui-arrow-left"></i> 返回</a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="javascript:;" onclick="save()"><i class="fui-check-inverted"></i> 保存</a>
    </div>

    <div name="addContent" class="panel-body">
        <strong>内容设置:</strong><span name="resultShowArea" style="font-size: 20px;"></span><br><br>
        正文标题:<input type="text" name="announcementTitle" class="form-control input-sm" style="width: 350px"/><br><br>
        正文内容:<textarea rows="5" cols="25" name="announcementContent" id="content" class="form-control input-sm" style="width: 450px"></textarea>
        <br/> <br/>
    </div>
</div>