<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/announcement/announcementIndex" class="stay">公告列表</a> <em></em></li>
    <li class="active"><span>添加公告</span></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <div style="height: 35px;">
            <input type="button" name="btnback" value="返回" class="btn btn-embossed">&nbsp;&nbsp;<span style="font-size: 20px;">所有公告</span>
            <input type="button" name="btnAdd" value="新增公告" class="btn btn-embossed btn-primary" style="float: right; margin-left: 300px;">
        </div>
    </div>
    <div class="panel-body">
        <div class="childview">
            <view name="page" />.
        </div>
    </div>
</div>