<style>
    #diH{height: 35px;}
    #spanSty{font-size: 20px;}
    #inpAdd{float: right; margin-left: 300px;}
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/announcement/addAnnouncement" class="stay">添加公告</a> <em></em></li>
    <li class="active"><span>公告列表</span></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <div style="width: 300px;">
            <a href="/lavico/announcement/addAnnouncement" class="btn btn-xs btn-primary mhm stay">增加</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="childview">
            <view name="page" />.
        </div>
    </div>
</div>