<div class="wrapper">
  <div class="store-title">
    <p>
      <span class="title1">
        <a href="javascript:history.go(-1)">返回</a>
      </span>
      <span class="title2">{@doc.title}</span>
    </p>
  </div>
  <div class="notice-list">
    <div class="notice-listContent">
      <if condition="{@isok==true}">
        <p class="my-card" style="line-height:26px;">{@doc.content}</p>
        <else/>
        <p class="my-card" style="line-height:26px;">暂无内容</p>
      </if>
      <div class="blank"></div>
    </div>
  </div>
</div>



