
<div class="wrapper">
  <div class="store-title">
    <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">会员</a></span><span class="title2">会员公告</span></p>
  </div>
  <div class="notice-list">
    <div class="notice-listContent">
      <ul>
        <foreach for="@docs" var="doc">
            <li><a href="/lavico/announcement/showIndex:show?_id={@doc._id}&wxid={@wxid}">
              <p class="name">{@doc.title}</p>
              <p>{@(new Date(doc.createTime)).getFullYear()}-{@(new Date(doc.createTime)).getMonth()}-{@(new Date(doc.createTime)).getDate()}</p>
              </a>
            </li>
        </foreach>

      </ul>
    </div>
  </div>
</div>

