<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/announcement/announcementIndex" class="stay">公告列表</a> <em></em></li>
    <li class="active"><span>编辑</span></li>
</ul>

<div name="container" class="panel panel-default">
    <div name="title" class="panel-heading">
        <div style="height: 35px;">
            <input type="button" name="btnBack" value="返回" class="btn btn-embossed">&nbsp;&nbsp;<span style="font-size: 20px;">编辑公告</span>
            <input type="button" value="保存" name="btnSave" class="btn btn-embossed btn-primary" style="float: right; margin-left: 300px;">
        </div>
    </div>
    <div name="addContent">
        <div style="padding: 5px;">
            链接：<input id="link" name="link" type="text" value="{host}/lavico/announcement/showIndex:show?_id={@id}&wxid={wxid}"/><br><br>
            <strong>内容设置:</strong><span name="resultShowArea" style="font-size: 20px;"></span><br><br>
            正文标题:<input type="text" value="{@doc.title}" name="announcementTitle" class="form-control input-sm" style="width: 350px"/><br><br>
            正文内容:<textarea rows="5" cols="25" name="announcementContent" id="content" class="form-control input-sm" style="width: 450px">{@doc.content}</textarea>
            <input type="hidden" name="id" value="{@doc._id}">
            <br/> <br/>
        </div>
    </div>
</div>