<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">返回</a> <em></em></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">

        <div style="width: 300px;">
            <a href="/lavico/activity" class="btn btn-xs btn-primary mhm stay">刷新</a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table" id="tagList">
            <thead>
            <tr>
                <th>活动CODE</th>
                <th>活动名称</th>
                <th>促销活动礼品</th>
                <th><span class='th_left'>优惠面值</span><span class='th_center'>类型</span><span class='th_right'>已发/总数</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <foreach for="@list" var="doc">
                <tr>
                    <td><a href="/lavico/activity/index:modify_html?aid={@ doc.PROMOTION_CODE}" class='mhm stay'>{@ doc.PROMOTION_CODE}</a></td>
                    <td>{@ doc.PROMOTION_NAME}</td>
                    <td>{@ doc.PROMOTION_DESC}</td>
                    <td>
                      <table class="children_table">
                        <tbody>
                          <foreach for='@doc.coupons' var='value'>
                            <tr>
                              <td>{@value.QTY}</td>
                              <td><if condition="{@value.TYPE == '01'}">现金抵用券<elseif condition="{@value.TYPE == '02'}"/>礼品券</if>,<if condition="{@value.CLS == '101'}">现金抵用券<elseif condition="{@value.CLS == '102'}"/>礼品券<elseif condition="{@value.CLS == '103'}"/>生日券</if></td>
                              <td>{@value.USED}/{@value.COUNT}</td>
                            </tr>                            
                          </foreach>
                        </tbody>
                      </table>
                    </td>                    
                    <td>
                        <a href="/lavico/activity/index:history?_id={@ doc._id}" class="btn btn-xs btn-primary mhm stay">记录</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <include file="welab/templates/paginator.html" model="@page" model.url="/lavico/activity/index?page=%pagenum%" />
    </div>
</div>
<style>
#tagList tr td .children_table tr td{
  #background:white;
}
#tagList tr th{
  text-align:center;
}
#tagList tr th .th_left{
  float:left;
  padding:0px 15px;
}
#tagList tr th .th_center{
  text-align:left;
  padding:0px 15px;
}
#tagList tr th .th_right{
  float:right;
  padding:0px 15px;
} 
#tagList tr td .children_table tr td{
  border-bottom: 5px #edeff0 solid;
  border-top: 5px #edeff0 solid;
}
#tagList tr td .children_table tr th{
  border: none;
  padding: 12px 15px;
  vertical-align: middle;
  border-bottom: 5px #edeff0 solid;
  border-top: 5px #edeff0 solid;
} 
</style>
<script>

</script>
