<input type='hidden' id='uid' value="{@uid}" />
<input type='hidden' id='aid' value="{@aid}" />
<input type='hidden' id='member_id' value="{@member_id}" />
<if condition="@ !isFollow">
    <div style="position: fixed;width: 100%;height: 100%; top:0px; left:0px; opacity: 0;z-index: 998 " onclick="welcome()"></div>
</if>
<div class="wrapper">
    <div class="coupon-banner"><img src="/lavico/public/images/coupons-list.jpg" /></div>
    <div class="activity-rules">

        <if condition="@ fromWelab==''">
            <div class="begin"><a id="shake_start">立即开始</a></div>
        </if>
        <div class="text">
            <div class="title">活动及使用规则</div>
            <div class="subtext">
                <p>朗维高“来张优惠券”不止是摇出各种额度的优惠券那么简单，还有意想不到的专属礼遇特别奉献。就像潘多拉的魔盒充满着不可获知的惊喜！</p>
                <p>该活动只有朗维高会员才有权限参与，如果你还不是会员,请点击菜单-我的会员卡-<a href="/lavico/member/card_blank/register?wxid={@uid}" target="_blank" style="color:#bda172; text-decoration:underline;">注册会员</a></p>
            </div>
            <div class="title1">奖项设置：</div>
            <div class="subtext">
                <p>1.不同额度的优惠券</p>
                <p>2.每次摇一摇将消耗你的会员积分。</p>
            </div>
            <div class="title1">免责声明：</div>
            <div class="subtext">
                <p>1.券请在指定期限内兑换使用，过期作废</p>
                <p>2.券仅限会员本人使用，不可借用</p>
                <p>3.除有特殊说明，否则券不可累积使用</p>
                <p>4.本活动最终解释权归朗维高品牌所有</p>
            </div>
        </div>
    </div>
</div>