<script>
    window.hideShareButtion.on()
</script>
<div class="wrapper">
    <div class="header"><img src="/lavico/public/images/head_bg.jpg" /></div>
    <div class="coupon">
        <div class="coupon-content"><img src="{@lottery_info.PROMOTION_PIC}" /></div>
    </div>
    <div class="look-text">
        <p class="get">恭喜您获得{@lottery_info.display_name}<br />
            <if condition="@bind=='true'">
                可在“专属礼券”内查询
              <else/>
                注册LaVico朗维高会员后领取优惠券
            </if>
        </p>
        <p class="click-look"><a id="goToCoupons" href="{@url}">查看优惠券</a></p>
    </div>
</div>

