<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs nav-head">
            <li class="active"><a href="/welab/summary/userTrend" class="stay">趋势</a></li>
            <li><a href="/welab/summary/userProperty" class="stay">属性</a></li>
            <li><a href="/welab/summary/userActive" class="stay">活跃度</a></li>
            <li><a href="/welab/summary/userInfluence" class="stay">影响力</a></li>
            <li><a href="/welab/summary/userLoyalty" class="stay">忠诚度</a></li>
            <li><a href="/welab/summary/userLost" class="stay">流失</a></li>
        </ul>
    </div>

    <div class="box-container" style="border-bottom:2px #ddd solid;">
        <div class="row data-row">
            <div class="col-md-2"><span class="text"><b class="dot3"></b>取消注册</span><a href="#this"><span class="number c3">{@unsubscribeCustomers}</span></a></div>
            <div class="col-md-3">
                <div class="num">
                    <div class="tooltip fade right in">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">{@ subscribeCustomers ? parseFloat(((unsubscribeCustomers / subscribeCustomers)*100).toFixed(1)) : '0'}%</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"><span class="text"><b class="dot9"></b>关注</span><a href="#this"><span class="number c9">{@subscribeCustomers}</span></a></div>
            <div class="col-md-3">
                <div class="num">
                    <div class="tooltip fade left in">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">{@parseFloat(((registerCustomers / subscribeCustomers)*100).toFixed(1))||0}%</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"><span class="text"><b class="dot5"></b>注册</span><a href="#this"><span class="number c5">{@registerCustomers}</span></a></div>
        </div>
    </div>


    <div class="panel-body">
        <ul class="nav nav-pills mb20">
            <li style="margin-right:15px;">
                <div class="btn-group btn-group-class1">
                    <button class="btn active" field="subscribeCustomers" color="94,208,186">新关注</button>
                    <button class="btn active" field="unsubscribeCustomers" color="189,195,202">取消关注</button>
                    <button class="btn active" field="growthSubscribeCustomers" color="108,170,217">净增关注</button>
                    <button class="btn active" field="registerCustomers" color="240,129,118">新注册</button>
                </div>
            </li>
            <li style="margin-right:15px;">
                <div class="btn-group btn-group-class2">
                    <button class="btn" field="totalSubscribeCustomers" color="94,208,186">累计关注</button>
                    <button class="btn" field="totalRegisterCustomers" color="240,129,118">累计注册</button>
                </div>
            </li>
            <li style="margin-right:15px;">
                <input class="form-control input-sm input-date" id="datetimepicker_s" type="text" value="{@start}"> -
                <input class="form-control input-sm input-date" id="datetimepicker_t" type="text" value="{@end}">
            </li>
            <li class="pull-right">
                <div class="btn-group btn-group-time btn-group-class3">
                    <button class="btn active">日</button>
                    <button class="btn">周</button>
                    <button class="btn">月</button>
                </div>
            </li>
        </ul>
        <div class="myChart mb20">
            <canvas id="myChart" width="916" height="270" ></canvas>
            <div style="display: none" id="_jsonData">{@jsonData}</div>
            <table class="table table-striped" id="tagList">
                <thead>
                <tr>
                    <th class="header headerSortUp">时间<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">新关注<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">取消关注<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">净增关注<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">累计关注<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">新关注<span class="icon ml10">&nbsp;&nbsp;</span></th>
                    <th class="header">累计注册<span class="icon ml10">&nbsp;&nbsp;</span></th>
                </tr>
                </thead>
                <tbody>
                <foreach for="@byDays" var="doc" key="key">
                    <tr>
                        <td>{@key.substr(0,10)}</td>
                        <td>{@doc.subscribeCustomers.count}</td>
                        <td>{@doc.unsubscribeCustomers.count}</td>
                        <td>{@doc.subscribeCustomers.count - doc.unsubscribeCustomers.count}</td>
                        <td>{@doc.totalSubscribeCustomers - doc.totalUnsubscribeCustomers}</td>
                        <td>{@doc.registerCustomers}</td>
                        <td>{@doc.totalRegisterCustomers}</td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
    </div>
</div>