<input type="hidden" id="wxid" name="wxid" value="{@wxid}" />

<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a id="memberUrl" href="javascript:void(0);">会员</a></span><span class="title3">绑定会员卡 - 资料验证</span></p>
    </div>
    <div class="link-cardContent">
        <div class="title">如果您还不是我们的会员，请<a id="registerUrl" href="javascript:void(0);">申请</div>
        <div class="input-tel">
            <p><span class="fl text"><strong class="star-sign">*</strong>手机</span><span class="fl"><input type="text" value="13816900290" /></span><span class="verify">获取验证码</span></p>
            <div class="clear"></div>
            <p class="mt10"><span class="fl text"><strong class="star-sign">*</strong>验证码</span><span class="fl"><input type="text" value="5917" /></span></p>
            <div class="clear"></div>
            <p class="note">如申领时遇到问题<br />
                请拨打 400-1008-886 联系</p>
            <p class="submit"><input type="submit" class="subbtn" border="0" value="提交" /></p>
            <div class="blank"></div>
        </div>
    </div>
    <div class="fade">
        <div class="input-member">
            <p class="msg">抱歉，此号码绑定不成功<br />
                可能您尚未成为LaVico会员<br />
                点击此处</p>
            <p class="confirm"><input type="submit" class="applybtn" border="0" value="申领会员卡" /></p>
            <p class="msg msg1">如有疑问，欢迎咨询客服热线：<br />
                400-1008-886</p>
        </div>
    </div>
    <div class="fade1">
        <div class="input-member">
            <p class="msg">恭喜您绑定成功<br />
                点击此处</p>
            <p class="confirm"><input type="submit" class="gonhome_btn" border="0" value="进入会员中心" /></p>

        </div>
    </div>
    <div class="fade2">
        <div class="input-member">
            <p class="msg">抱歉，此号码绑定不成功<br />
                可能您的卡号已被注销<br />
                您可以点击此处</p>
            <p class="confirm"><input type="submit"  class="applybtn" border="0" value="申领会员卡" /></p>
            <p class="msg msg1">如您变更了手机号码，无法获取短信验证码，<br />
                或有其他问题，请联系客服：400-1008-886</p>
        </div>
    </div>
    <div class="fade3">
        <div class="input-member">
            <p class="msg">请输入您的实体会员卡号</p>
            <p class="input-card"><input type="text" value="6226 0458 3697 4321" /></p>
            <p class="confirm"><input type="submit" class="bangding_btn" border="0" value="提交" /></p>

        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(e) {

        $(".subbtn").click(function(){
            $(".fade3").css("display","block");
        });
        $(".applybtn").click(function(){
            window.location.href="member_num24.html";
        });
        $(".gonhome_btn").click(function(){
            window.location.href="member_num4.html";
        });
        $(".bangding_btn").click(function(){
            $(".fade1").css("display","block");
            $(".fade3").css("display","none");
        });

        $(".bangding_btn").click(function(){
            $(".fade1").css("display","block");
            $(".fade3").css("display","none");
        });
    });
</script>
