<input type="hidden" id="wxid" name="wxid" value="{@wxid}" />
<input type="hidden" id="error" name="error" value="{@error}" />
<!--发送验证码状态-->
<input id="id_code" type="hidden" value=""/>
<!--用户手机号码验证状态-->
<input id="tel_checked_status" type="hidden" value=""/>
<input type="hidden" id="memberId"  value="" />
<div class="wrapper">

    <div class="store-title">
        <p><span class="title1"><a id="memberUrl">会员</a></span><span class="title3">会员绑定 - 资料验证</span></p>
    </div>
    <div class="link-cardContent">
        <div class="title">如果您还不是lavico的会员，请<a id="registerUrl">注册</a>会员</div>
        <div class="input-tel">
            <p><span class="fl text"><strong class="star-sign">*</strong>手机</span><span class="fl" style="width:77%;"><input id="userTel" type="text" value="" style="width:60%;" /><span class="verify get_id_code" id="submit_1">获取验证码</span></span></p>
            <div class="clear"></div>
            <p class="mt10"><span class="fl text"><strong class="star-sign">*</strong>验证码</span><span class="fl" style="width:77%;"><input type="text" id="userCaptcha" name="userCaptcha" value="" style="width:60%;" /></span></p>
            <div class="clear"></div>
            <p class="mt10">
                 <span class="fl text">
                    <strong class="star-sign">*</strong>姓名</span>
                <span class="fl" style="width:72%"><input type="text" id="userName" name="userName" style="width:100%;" /></span>
            </p>
            <div class="clear"></div>
            <p class="note">如绑定时遇到问题<br />
                请拨打 <a class="tel" href="tel:4001008866">400-100-8866</a> 联系</p>
            <p class="submit"><input type="submit" id="submit_3" class="subbtn" border="0" value="提交" /></p>
            <div class="blank"></div>
        </div>
    </div>

    <!--弹出框-->

    <div class="fade popup">
        <div class="input-member">
            <p class="msg">恭喜您绑定成功<br />
                点击此处</p>
            <p class="confirm"><input type="submit" class="gonhome_btn" border="0" value="进入会员中心" /></p>

        </div>
    </div>

    <div class="fade1 popup" id="member_manage">
        <div class="input-member">
            <p class="msg">恭喜您绑定成功<br />
                点击此处</p>
            <p class="confirm"><input type="submit" class="gonhome_btn" border="0" value="进入会员中心" /></p>

        </div>
    </div>

    <div class="fade3 popup" id="true_card_number">
        <div class="input-member">
            <p class="msg">请输入您的实体会员卡号</p>
            <p class="input-card"><input type="text" id="userCardNumber" name="userCardNumber" value="" /></p>
            <p class="confirm"><input type="submit" id="submit_2" class="bangding_btn" border="0" value="提交" /></p>
        </div>
    </div>

    <div class="fade4 popup" id="telephone_cardnumber_no_match">
        <div class="input-member">
            <p class="msg">系统没有查找到此卡号<br />请核对后重新输入<br />

            <p class="confirm"><input type="submit" id="submit_2" class="bangding_btn cancel" border="0" value="好的" /></p>

            </p>
        </div>
    </div>

    <!--弹出框-->

</div>
<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>