<style type="text/css">
    #sex {
        width: 100%;
        height: 40px;
        opacity: 0;
        -moz-opacity: 0;
        position: relative;
        left: 1px;
        z-index:10;
        font-size: 1.4rem;
        line-height: 30px;
        top:-40px;
    }
    #year {
        width: 100%;
        height: 40px;
        opacity: 0;
        -moz-opacity: 0;
        position: relative;
        top: -40px;
        z-index:10;
    }
    #month, #day {
        width: 100%;
        height: 40px;
        opacity: 0;
        -moz-opacity: 0;
        position: relative;
        top: -40px;
        z-index:10;
    }
</style>
<div class="wrapper">

    <!--用户微信ID-->
    <input type='hidden' id='uid' value='{@uid}'>
    <input type="hidden" id="error" name="error" value="{@error}" />

    <div class="store-title">
        <p><span class="title1"><a id="memberUrl" href="javascript:void(0);">会员</a></span><span class="title5" id="registerUrl">注册会员 - 资料填写</span></p>
    </div>
    <div class="apply">
        <div class="title">
            <p class="text">如果您已是lavico的会员，请<a id="bindUrl" href="javascript:void(0);">绑定</a>会员</p>
        </div>
        <div class="form clear">
            <div class="input clear">
                <div class="left fl"><span class="star-sign">*</span>姓名</div>
                <div class="name-right fl" style="width:72%;"><input id='name' border="0" type="text" value="" /></div>
            </div>
            <div class="input clear">
                <div class="left fl"><span class="star-sign">*</span>性别</div>
                <div class="sex-right fl" style="width:18%;"><div class="input_select_div">
                    <input type="text" name="brand" class="input_select_sex" value="请选择" id="model_sex_input" readonly/>
                    <select id="sex">
                        <option value='1'>男</option>
                        <option value='0'>女</option>
                    </select>
                </div> </div>
            </div>
            <div class="input clear">
                <div class="left fl"><span class="star-sign">*</span>生日</div>
                <div class="birth-right fl">
                    <div class="sex-right fl">
                        <div class="input_select_div_f">
                            <input type="text" name="brand" class="input_select_year" value="年" id="model_sex_input" readonly />
                            <select id="year" class="select1"></select>
                        </div>
                    </div>
                    <div class="sex-right fl">
                        <div class="input_select_div_f">
                            <input type="text" name="brand" class="input_select_sex" value="月" id="model_sex_input" readonly />
                            <select id="month" class="select2"></select>
                        </div>
                    </div>
                    <div class="sex-right fl">
                        <div class="input_select_div_f">
                            <input type="text" name="brand" class="input_select_sex" value="日" id="model_sex_input" readonly />
                            <select id="day" class="select3"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input clear">
                <div class="left fl"><span class="star-sign">*</span>手机</div>
                <div class="tel-right fl"><input AutoComplete='on' id='mobile' border="0" type="text" value="" /><div class="verify" id="get_id_code">获取验证码</div></div>
            </div>
            <div class="input clear">
                <div class="left fl"><span class="star-sign">*</span>验证码</div>
                <div class="tel-right fl"><input id="id_code" border="0" type="text" value="" /></div>
            </div>
            <div class="note">如申领时遇到问题<br />
                请拨打 <a class="tel" href="tel:4001008866">400-100-8866</a> 联系</div>
            <div class="submit_btn"><input type="button" value="提交" class="subbtn" id='submit'/></div>
        </div>
    </div>
</div>
<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>



