<meta name="viewport" content="width=360,user-scalable=no" />
<!--<a href="http://www.baidu.com">点击绑定实体卡</a><br/><br/>-->
	<span>姓名</span><input id='name' value='' /><br/>
	<span>性别</span>
	<select id='sex'>
		<option value='1'>男</option>
		<option value='0'>女</option>
	</select><br/>
	<span>生日</span>
		<select id="year"></select>年  
		<select id="month"></select>月  
		<select id="day"></select>日  <br/>
	<span>手机</span><input AutoComplete='on' id='mobile' />
    <input type='button' value='获取验证码' id='get_id_code' /><br/>
	<span>验证码</span><input id='id_code' value='' /><br/>
	<br/>
<input type='button' id='submit' value='提交' />
<input type='hidden' id='uid' value='{@ uid}'>
<div id="loading" class="loading" style="display: none;">正在发送数据......</div>

