<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">返回</a> <em></em></li>
</ul>

<div class="panel panel-default formText">
    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left stay" href="/lavico/bargain/index"><i class="fui-arrow-left"></i> 返回首页</a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="javascript:;" onclick="save()"><i class="fui-check-inverted"></i> 保存</a>
    </div>
        <div class="panel-body" style="background:#f9fafb;">
            <div class="col-md-4">
                <img id="showPic" style="width: 300; height: 380" src="{@ doc.pic || '/lavico/public/images/u6.jpg'}">
            </div>
            <div class="col-md-8">

                <div style="padding: 15px">
                    <table cellpadding="10">
                        <tbody><tr>
                            <th>产品ID</th>
                            <td>
                                <input type="text" id="id" class="form-control input-sm postData" style="width: 150px" value="{@ doc.id}">
                            </td>
                        </tr>
                        <tr>
                            <th>产品名称</th>
                            <td>
                                <input type="text" id="name" class="form-control input-sm postData" style="width: 150px" value="{@ doc.name}">
                            </td>
                        </tr>
                        <tr>
                            <th>产品简介</th>
                            <td>
                                <input type="text" id="introduction" class="form-control input-sm postData" style="width: 150px" value="{@ doc.introduction}">
                            </td>
                        </tr>
                        <tr>
                            <th>市场零售价</th>
                            <td>
                                <input type="text" id="price" class="form-control input-sm postData" style="width: 150px" value="{@ doc.price}">
                            </td>
                        </tr>
                        <tr>
                            <th>最低价格</th>
                            <td>
                                <input type="text" id="minPrice" class="form-control input-sm postData" style="width: 150px" value="{@ doc.minPrice}">
                            </td>
                        </tr>
                        <tr>
                            <th>剩余数量</th>
                            <td>
                                <input type="text" id="surplus" class="form-control input-sm postData" style="width: 150px" value="{@ doc.surplus}">
                            </td>
                        </tr>
                        <tr>
                            <th>外观图片</th>
                            <td>
                                <input type="file" class="input-xlarge"  style="width:206px" name="pic" placeholder="请输入...." id="pic" onchange="fileSelected();">
                                &nbsp;<span id="progressNumber"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>颜色</th>
                            <td>
                                <input type="text" class="form-control input-sm tm-input tm-input-info" name="colors" id="colors" dbValue="{@ doc.colors}" placeholder="设置多个标签请用'，'或者'回车'分隔" style="width: 230px;">
                            </td>
                        </tr>
                        <tr>
                            <th>尺码</th>
                            <td>
                                <input type="text" class="form-control input-sm tm-input tm-input-info" name="sizes" id="sizes" dbValue="{@ doc.sizes}" placeholder="设置多个标签请用'，'或者'回车'分隔" style="width: 230px;">
                            </td>
                        </tr>
                        <tr>
                            <th>开始时间</th>
                            <td>
                                <input type="text" id="startDate" class="form-control input-sm postData" style="width: 150px" value="{@ doc.startDate && new Date(doc.startDate+28800000).toISOString().substr(0,10)}">
                            </td>
                        </tr>
                        <tr>
                            <th>结束时间</th>
                            <td>
                                <input type="text" id="stopDate" class="form-control input-sm postData" style="width: 150px" value="{@ doc.stopDate && new Date(doc.stopDate+28800000).toISOString().substr(0,10)}">
                            </td>
                        </tr>
                        </tbody></table>
                        <input type="hidden" id="_id" value="{@ doc._id}">
                </div>


            </div>
        </div>
</div>

        <script src="/welab/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <link href="/welab/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

        <link type="text/css" href="/welab/public/css/bootstrap-tagmanager.css">
        <script type="text/javascript" src="/welab/public/js/bootstrap-tagmanager.js"></script>

        <script>

            function save ( ){

                var aFormInput = {}

                var _inputCheck = true;
                $(".postData").each(function(i,o){


                    if(! $(o).val()){

                        _inputCheck = false;
                        $.globalMessenger().post({
                            message: $(o).parent().prev().text() + " 不能为空！",
                            type: 'error',
                            showCloseButton: true})
                    }

                    aFormInput[$(o).attr("id")] = $(o).val()
                })

                aFormInput['pic'] = $("#showPic").attr("src")
                if($("input[name='colorsVal']").val()) aFormInput['colors'] = $("input[name='colorsVal']").val().split(",")
                if($("input[name='sizesVal']").val()) aFormInput['sizes'] = $("input[name='sizesVal']").val().split(",")

                if(_inputCheck){
                    var oLinkOptions = {} ;
                    oLinkOptions.data = [{name:'postData',value:JSON.stringify(aFormInput)},{name:'_id',value:$("#_id").val()}];
                    oLinkOptions.type = "POST";
                    oLinkOptions.url = "/lavico/bargain/form:save";

                    $.request(oLinkOptions,function(err,nut){
                        if(err) throw err ;

                        nut.msgqueue.popup() ;
                        $.controller("/lavico/bargain/index",null,"lazy");
                    }) ;
                }
            }


            function fileSelected() {

                document.getElementById('progressNumber').innerHTML = "";
                var file = document.getElementById('pic').files[0];
                if (file) {
                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';


                    uploadFile();
                }
            }

            function uploadFile() {
                var fd = new FormData();
                fd.append("pic", document.getElementById('pic').files[0]);
                var xhr = new XMLHttpRequest();
                xhr.upload.addEventListener("progress", uploadProgress, false);
                xhr.addEventListener("load", uploadComplete, false);
                xhr.addEventListener("error", uploadFailed, false);
                xhr.addEventListener("abort", uploadCanceled, false);
                xhr.open("POST", "/welab/Uploadify?$layout=false&$render=false");
                xhr.send(fd);
            }

            function uploadProgress(evt) {
                if (evt.lengthComputable) {
                    var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
                }
                else {
                    document.getElementById('progressNumber').innerHTML = 'unable to compute';
                }
            }

            function uploadComplete(evt) {
                var json = eval('(' + evt.target.responseText + ')');

                var filename = json.model.fileName;

                $("#showPic").attr("src",filename)
            }

            function uploadFailed(evt) {
                alert("There was an error attempting to upload the file.");
            }

            function uploadCanceled(evt) {
                alert("The upload has been canceled by the user or the browser dropped the connection.");
            }

        </script>