<script src="/welab/public/js/dragsort/jquery.dragsort-0.5.1.min.js"></script>
<style>
    tr.placeHolder { background-color:white; border:dashed 1px #1abc9c; height: 100px; }
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/lavico/bargain/form" class="stay">添加侃价</a> <em></em></li>
    <li class="active"><span>列表管理</span></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">

        <div style="width: 300px;">
            <a href="/lavico/bargain/form" class="btn btn-xs btn-primary mhm">增加</a>
        </div>
    </div>
    <div class="panel-body">

        <table class="table" id="tagList">
            <thead>
            <tr>
                <th>产品名称</th>
                <th>状态</th>
                <th>市场零售价</th>
                <th>最低价格</th>
                <th>最高价格</th>
                <th>剩余数量</th>
                <th>完成人数</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach for="@page.docs" var="doc">
                <tr data-itemid="{@ doc._id}:{@ doc.orderId}" style="height: 80px;">
                    <td width="5%">{@ doc.name}</td>
                    <td id="docstatus" width="10%">{@ doc.stat}</td>
                    <td width="3%">{@ doc.price}</td>
                    <td width="3%">{@ doc.minPrice}</td>
                    <td width="3%">{@ doc.maxPrice}</td>
                    <td width="3%">{@ doc.surplus}</td>
                    <td width="3%">{@ doc.num || 0}</td>
                    <td width="10%">{@ new Date(doc.startDate+28800000).toISOString().substr(0,10)}</td>
                    <td width="10%">{@ new Date(doc.stopDate+28800000).toISOString().substr(0,10)}</td>
                    <td>

                        <div class="switch has-switch way">
                            <div class="switch-animate switch-{@ doc.switcher}" data="{@ doc._id}" onclick="audioClick(this)">
                                <input type="checkbox" data-toggle="switch">
                                <span class="switch-left">开</span>
                                <label>&nbsp;</label>
                                <span class="switch-right">关</span>
                            </div>
                        </div>
                        <a href="/lavico/bargain/form?_id={@ doc._id}&type=1" class="btn btn-xs btn-primary mhm stay">修改</a>
                        <a href="/lavico/bargain/statistics?_id={@ doc._id}" class="btn btn-xs btn-primary mhm">统计</a>
                        <a href="javascript:;" onclick="func_remove('{@ doc._id}',this)" class="btn btn-xs mhm">删除</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>

        <input id="currentPage" type="hidden" value="{@page.currentPage}"/>
        <include file="welab/templates/paginator.html" model="@page" model.url="/lavico/bargain/index?page=%pagenum%" />
        <!--  /pagination  -->

    </div>
</div>

        <script>
            function func_remove(_id,event){

                if (confirm("真的要删除吗？")){

                    $.ajax({
                        url: "/lavico/bargain/form:remove?_id="+_id,
                        cache: false
                    }).done(function( json ) {
                                if(json.err == 0){
                                    $(event).parents("tr").fadeOut();
                                }else{
                                    $.globalMessenger().post({
                                        message: json.msg,
                                        type: 'error',
                                        showCloseButton: true})
                                }
                            });

                }else{
                    return false;
                }
            }

            function copyToClipboard(txt) {

                if (window.clipboardData) {
                    window.clipboardData.clearData();
                    window.clipboardData.setData("Text", txt);
                    alert("复制成功！")
                } else if (navigator.userAgent.indexOf("Opera") != -1) {
                    window.location = txt;
                    alert("复制成功！");
                } else if (window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                    } catch (e) {
                        alert("被浏览器拒绝！\n请在浏览器地址栏输入'about:config'并回车\n然后将 'signed.applets.codebase_principal_support'设置为'true'");
                    }
                    var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
                    if (!clip)
                        return;
                    var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
                    if (!trans)
                        return;
                    trans.addDataFlavor('text/unicode');
                    var str = new Object();
                    var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);
                    var copytext = txt;
                    str.data = copytext;
                    trans.setTransferData("text/unicode", str, copytext.length * 2);
                    var clipid = Components.interfaces.nsIClipboard;
                    if (!clip)
                        return false;
                    clip.setData(trans, null, clipid.kGlobalClipboard);
                    alert("复制成功！")
                }else if(typeof(copy) == "function"){
                    copy(txt);
                    alert("复制成功！")
                }else{
                    alert("浏览器不支持,请手动复制。"+txt)
                }
            }
        </script>

<script>
    function audioClick(o){
        var flag = '';
        if ($(o).hasClass("switch-off")){
            $(o).removeClass("switch-off")
            $(o).addClass("switch-on")
            flag = 'on'; //  开
            $(o).parent().parent().parent().find("td#docstatus").html("进行中")

        }else{
            $(o).addClass("switch-off")
            $(o).removeClass("switch-on")
            flag = 'off'; // 关
            $(o).parent().parent().parent().find("td#docstatus").html("已关闭")
        }
        if(flag){
            var oLinkOptions = {} ;
            oLinkOptions.data = [{name:'switcher',value:flag},{name:'_id',value:$(o).attr('data')}];
            oLinkOptions.type = "POST";
            oLinkOptions.url = "/lavico/bargain/openOrClose";
            $.request(oLinkOptions,function(err,nut){
                if(err) throw err;
                nut.msgqueue.popup();
            });
        }
    }

</script>
