<div class="wrapper">
    <div class="coupon-banner"><img src="/lavico/public/images/bargain_banner.jpg"></div>
    <div class="activity-rules">
        <if condition="@doc.length == 1">
            <div class="begin"><a href="/lavico/bargain/detail?wxid={@wxid}&_id={@doc[0]._id}'">立即开始</a></div>
        </if>
        <div class="text">
            <div class="title">活动及使用规则</div>
            <div class="title1">活动说明：</div>
            <div class="subtext">活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明活动说明</div>
            <div class="title1">奖项设置：</div>
            <div class="subtext">设置设置设置设置设置设置设置设置设置设置设置设置设置设置设置设置设置设置设置</div>
            <div class="title1">免责声明：</div>
            <div class="subtext"><p>1.礼品券只有会员和VIP用户可获得</p>
                <p>2.礼品券有效期为一年，时间自获赠当起计算。</p>
                <p>3.礼品券将在过期后自动从“我的账户”中减除。</p>
            </div>
        </div>
    </div>
</div>

