<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/bargain/detail?_id={@_id}&wxid={@wxid}">侃价商品</a></span><span class="title2">参与门店</span></p>
    </div>
    <div class="store-list">
        <div class="store-listContent">
            <ul>
                <foreach for="@doc.shops2" var="doc">
                <li><a href="javascript:location.href='/lavico/store/searchByCity:show?CODE={@doc.CODE}&_id={@_id}&wxid={@wxid}'">
                    <p class="name">{@ doc.name}</p>
                    <p class="adree" style="max-width: 500px;"><span>地址：</span>{@ doc.address}</p>
                    <p class="tel">电话：{@ doc.tel}</p>
                </a></li>
                </foreach>
            </ul>
        </div>
    </div>
</div>