<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/bargain/detail?_id={@_id}&wxid={@wxid}">侃价商品</a></span><span class="title2">参与门店</span></p>
    </div>
    <div class="store-list">
        <div class="store-listContent">
            <ul>
                <foreach for="@doc.shops2" var="doc">
                <li>
                    <a href="javascript:location.href='/lavico/store/searchByCity:show?CODE={@doc.CODE}&_id={@_id}&wxid={@wxid}&city={@doc.city}'">
                        <p class="name">{@ doc.name}</p>
                        <p class="adree"><span class="adree_left">地址：</span><span class="adree_right">{@doc.address}</span></p>
                        <p class="tel"><span class="adree_left">电话：</span><span class="adree_right">{@doc.tel}</span></p>
                    </a>
                </li>
                </foreach>
            </ul>
        </div>
    </div>
</div>