<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/lavico/bargain" class="stay">列表管理</a> <em></em></li>
    <li class="active"><span>
        规则设置
    </span></li>
</ul>

<div class="panel panel-default formText">
    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left stay" href="/lavico/bargain/index"><i class="fui-arrow-left"></i> 返回首页</a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="javascript:;" onclick="save()"><i class="fui-check-inverted"></i> 保存</a>
    </div>


    <div class="panel-body" style="background:#f9fafb;">
        <div class="col-md-8">
            <div style="padding: 15px">
                <table cellpadding="10">
                    <tbody>
                    <tr>
                        <th style="font-size: 14px;">活动图</th>
                        <td colspan="2">
                            <div class="col-sm-10" style="padding-top: 8px;">
                                <input id="pic"  name="pic" type="file" class="input-xlarge"  style="width:206px"  placeholder="请输入...." onchange="fileSelected1(this);">
                                    &nbsp;
                                <span calss="progressNumber"></span>
                                <div class="alert alert-success picView file_box">
                                    <img id="pic_upload" class="media-object image_data" style="height: 128px;" src="{@doc.pic_kv}">
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th style="font-size: 14px;">详细说明</th>
                        <td colspan="2">
                            <div class="col-sm-10">
                                <textarea  class="form-control" rows="3"  id="description" style="width: 420px;height:400px;" placeholder="详细说明">{@doc.description}</textarea>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/welab/public/ckeditor/ckeditor.js"></script>
<script>
    var lastPic = ""
    function fileSelected1(pic) {
        uploadFile1(pic);
    }
    function uploadFile1(pic) {
        picShowDisc=pic;
        var fd = new FormData();
        fd.append("pic",pic.files[0]);
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress1, false);
        xhr.addEventListener("load", uploadComplete1, false);
        xhr.addEventListener("error", uploadFailed1, false);
        xhr.addEventListener("abort", uploadCanceled1, false);
        xhr.open("POST", "/welab/Uploadify?$layout=false&$render=false");
        xhr.send(fd);
    }
    function uploadProgress1(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        }
        else {
        }
    }
    function uploadComplete1(evt) {
        var json = eval('(' + evt.target.responseText + ')');
        //隐藏域
        $(picShowDisc).parent().next().show()
        $("#pic_upload").attr("src",json.model.fileName)
    }

    function uploadFailed1(evt) {
        alert("上传失败");
    }

    function uploadCanceled1(evt) {
        alert("已经取消上传");
    }
</script>
