<style>
    label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: bold;
    }
</style>
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用</a> <em></em></li>
    <li class="b02"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b03"><a href="/lavico/shake" >摇一摇</a></li>
    <li class="b03"><a href="#" class="stay">编辑</a></li>
    <li class="pull-right"><a href="/lavico/shake"><i class="fui-arrow-left"></i>返回</a></li>
</ul>

<div class="panel panel-default formText" >
    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left" href="/lavico/shake"><i class="fui-arrow-left"></i> 返回</a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="javascript:;" onclick="save();"><i class="fui-check-inverted"></i> 保存</a>
    </div>
    <div class="panel-body" style="background:#f9fafb;">

        <div class="col-md-12">
            <form class="form-horizontal" role="form">
                <h6>基础设置</h6>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">图文URL</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="host-url" readonly value="http://{@host}/lavico/activity/shake?uid={wxid}&aid={@shake._id}" style="width: 300px;color: #9B9B9B;float: left">
                        <button type="button" id="btnCopy" name="btnCopy" class="btn btn-primary" style="float: left;margin-left: 6px" >复制</button>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">开始/结束</label>
                    <div class="col-sm-10">
                        <input type="text" id="startDate" name="startDate" class="form-control" style="width: 150px;display:inline-block;" value="{@ shake.startDate && new Date(parseInt(shake.startDate)+28800000).toISOString().substr(0,10)}">
                        <input type="text" id="endDate" name="endDate" class="form-control" style="width: 150px;display:inline-block;" value="{@ shake.endDate && new Date(parseInt(shake.endDate)+28800000).toISOString().substr(0,10)}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control postData" id='name' name="name" placeholder="名称" style="width: 300px;" value="{@ shake.name}" oninput="$('#pagename').text(this.value)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="points" class="col-sm-2">积分消耗/每次</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control postData" id='points' name="points" placeholder="0" style="width: 300px;" value="{@ shake.points}" oninput="$('#pagename').text(this.value)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">抽奖频率</label>
                    <div class="col-sm-10">
                        <select class="form-control" id='lottery_cycle' style="width: 150px;display:inline-block;" name="type">

                                <option value="1">1天</option>

                                <option value="2">1周</option>

                                <option value="3">1月</option>

                                <option value="100">永久</option>


                        </select>
                        <input type="text" id='lottery_count' class="form-control" name="name" placeholder="抽奖频率如果设置为0，则不限制次数" style="width: 300px;display:inline-block;" value="{@ shake.lottery_count}" oninput="$('#pagename').text(this.value)">
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">活动图</label>
                    <div class="col-sm-10" style="padding-top: 8px;">
                        <input id="pic"  name="pic" type="file" class="input-xlarge"  style="width:206px"  placeholder="请输入...." onchange="fileSelected(this.id);">
                        &nbsp;<span calss="progressNumber"></span>

                        <div class="alert alert-success picView file_box">
                            <img id="pic_upload" class="media-object image_data" style="height: 128px;" src="{@shake.pic}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">详细介绍</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control postData" id='content' name="mainContent" style="width: 80%;height:600px;" oninput="$('#pagename').text(this.value)">{@shake.content}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">注意</label>
                    <div class="col-sm-10">
                        此活动只能添加定额优惠券，也就是必须有面值的券，否则会出现错误。
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2">优惠券</label>
                    <div class="col-sm-10">
                        <select class="form-control" style="width: 150px;display:inline;" id='activity_select' name="type">
                            <option value="0">请选择优惠券</option>
                            <foreach for="@list" var="doc">
                                <option value="{@doc.PROMOTION_CODE}">{@doc.PROMOTION_NAME}</option>
                            </foreach>
                        </select>
                        <button type="button" id="add-coupons" name="add-coupons" class="btn btn-primary" style="margin-left: 0" >添加</button>
                        <button type="button" id="del-coupons" name="del-coupons" class="btn btn-primary" style="margin-left: 0" >删除</button>

                    </div>
                </div>

                <div class="panel-heading index-icon-5"><span class="box-title">内容</span></div>

                <div id="promotions">
                    <foreach for="@list" var="doc">
                        <div id='{@doc.PROMOTION_CODE}' class="promotion_detail" style="display:none;">

                            <div class="panel panel-default formText pagePanel">
                                <div class="panel-body">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券号</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_CODE" data="{@doc.PROMOTION_CODE}">{@doc.PROMOTION_CODE}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券名</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_NAME" data="{@doc.PROMOTION_NAME}">{@doc.PROMOTION_NAME}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券描述</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_DESC" data="{@doc.PROMOTION_DESC}">{@doc.PROMOTION_DESC}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券类型</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_TYPE" data="{@doc.TYPE}">{@doc.TYPE}</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">面值</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_QTY" data="{@doc.QTY}">{@doc.QTY}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券图</label>
                                            <div class="col-sm-10">
                                                <if condition="@doc.pic">
                                                    <img class="PROMOTION_PIC" data="{@doc.pic}" src="{@doc.pic}" style="max-width:60%; "/>
                                                    <else/>
                                                    空(请到应用管理中的“活动券”设置)
                                                </if>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">已发放/总数</label>
                                            <div class="col-sm-10">
                                                <span class="PROMOTION_USED_TOTAL" data="{@ doc.USED}/{@doc.TOTAL}">{@ doc.USED}/{@doc.TOTAL}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">券名称（用户获取时的名称）</label>
                                            <div class="col-sm-10">
                                                <input id="{@doc.PROMOTION_CODE}-display_name" type="text" class="form-control display_name" name="display_name" placeholder="券名称" style="width: 300px;" value="{@ doc.display_name}" oninput="$('#pagename').text(this.value)">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2">抽奖概率</label>
                                            <div class="col-sm-10">
                                                <input id="{@doc.PROMOTION_CODE}-lottery_chance" type="text" value='' class="form-control postData lottery_chance" style="width:150px;display:inline-block"/>%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </foreach>
                </div>

                <input type='hidden' id='lottery_input' value='{@shake.lottery_cycle}' />
                <input type='hidden' id='_id' value='{@shake._id}' />

            </form>
        </div>
    </div>
    <div class="panel-heading clearfix">
        <a class="btn btn-defalut btn-social-googleplus pull-left" href="/lavico/shake"><i class="fui-arrow-left"></i> 返回</a>
        <a class="btn btn-success btn-social-googleplus pull-right save" href="javascript:;" onclick="save();"><i class="fui-check-inverted"></i>保存</a>
    </div>
</div>

<script src="/welab/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link href="/welab/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="/welab/public/ckeditor/ckeditor.js"></script>
<script>
/*点击复制按钮*/
var init = function (){

    var _lottery = JSON.parse('{@lottery}');
    for(var _i=0;_i<_lottery.length;_i++){
        var _PROMOTION_CODE = _lottery[_i].PROMOTION_CODE;
        var _display_name = _lottery[_i].display_name;
        var _lottery_chance = _lottery[_i].lottery_chance;
        document.getElementById(_PROMOTION_CODE).style.display = 'block';
        console.log(document.getElementById(_PROMOTION_CODE+'-display_name').value = _display_name);
        console.log(document.getElementById(_PROMOTION_CODE+'-lottery_chance').value = _lottery_chance);
    }
}
init();
</script>
<script>
    var content;
    content = decodeURIComponent('{@shake.content}');
    document.getElementById("content").value = content;

    var lottery_cycle_val = document.getElementById("lottery_input").value;
    var lottery_cycle = document.getElementById('lottery_cycle');
    for(var i=0;i<lottery_cycle.options.length;i++){
        if(lottery_cycle.options[i].value == lottery_cycle_val){
            lottery_cycle.options[i].selected = true;
            break;
        }
    }
</script>
<script>
    var lastPic = ""
    function fileSelected(inputid) {

        $("#"+inputid).next(".progressNumber").text("")
        var file = document.getElementById(inputid).files[0];
        if (file) {

            var fileSize = 0;
            if (file.size > 1024 * 1024)
                fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
            else
                fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

            lastPic = inputid


            uploadFile();

        }
    }

    function uploadFile() {
        var fd = new FormData();
        fd.append(lastPic, document.getElementById(lastPic).files[0]);
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.open("POST", "/welab/Uploadify?$layout=false&$render=false");
        xhr.send(fd);
    }

    function uploadProgress(evt) {
        if (evt.lengthComputable) {
            var percentComplete = Math.round(evt.loaded * 100 / evt.total);

            $("#"+lastPic).next(".progressNumber").text(percentComplete.toString() + '%')
        }
        else {
            $("#"+lastPic).next(".progressNumber").text('无法计算出图片的大小')
        }
    }

    function uploadComplete(evt) {
        var json = eval('(' + evt.target.responseText + ')');
        var filename = json.model.fileName;
        $("#"+lastPic+"_upload").attr("src",filename)
    }

    function uploadFailed(evt) {
        alert("上传失败");
    }

    function uploadCanceled(evt) {
        alert("已经取消上传");
    }
</script>