<div class="wrapper" style="background-color: #dcdcdc;">
  <div class="store-title">
    <p><span class="title1"><a href="/lavico/member/index?wxid={@wechatId}">会员</a></span><span class="title2">消费记录</span></p>
  </div>
  <div class="points4">

    <div class="title">
      <p class="text"><span class="fl">消费总金额</span><span class="fr">￥{@saleAllMoney}</span></p>
    </div>
    <div class="points4-content">
      <div class="point-box">

       <foreach for="@arr" var="arrOne">
            <div class="title2 clear">
              <p><span class="fl">{@arrOne.year}年</span><span class="fr">￥{@arrOne.moneyAll}</span></p>
            </div>
            <ul>
            <foreach for="@arrOne.val" var="oneYearInfo" key="key">
              <li><span class="fl"><img src="/lavico/public/images/logo.png" style="display: none"/></span><span class="fl ml20 pt15">
                <p>{@oneYearInfo.PRODUCT_NAME}</p>
                <p class="c3">{@oneYearInfo.CLASS_NAME}&nbsp;{@oneYearInfo.GOODSNO}<br/>
                    <script type="template/script">

                        function formatTime(now){
                        var year=now.getFullYear();
                        var month=(now.getMonth()+1>9)?(now.getMonth()+1):('0'+(now.getMonth()+1));
                        var date=(now.getDate()>9)?now.getDate():('0'+now.getDate());
                        var hour=(now.getHours()>9)?now.getHours():('0'+now.getHours());
                        var minute=(now.getMinutes()>9)?now.getMinutes():('0'+now.getMinutes());
                        var second=(now.getSeconds()>9)?now.getSeconds():('0'+now.getSeconds());
                        return year+"年"+month+"月"+date+"日 "+hour+":"+minute+':'+second;
                        }

                        date= formatTime(new Date(oneYearInfo.time));

                    </script>
                    {@date}
                </p>
                </span><span class="fr c2 pt55">￥{@oneYearInfo.AMT}</span>
              </li>
                </foreach>
            </ul>
       </foreach>

      </div>
    </div>


  </div>
</div>
