<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/reedem/showList?wechatId={@wxid}">积分兑换</a></span><span class="title2">兑奖细则</span></p>
    </div>
    <div class="use-rules">
        <div class="use-rulesContent">
            <div class="price_ticket"><img src="{@doc.bigPic}" /></div>
            <div class="gift-bottom" style="width:80%; padding:3% 10% 0;">
                <div class="fr right" style="width:100%">
                    <a href="/lavico/reedem/showList?wechatId={@wxid}" name="nowGet">立即兑换</a>
                </div>
            </div>
            <div class="text">{@doc.description}</div>
        </div>
        <div class="gift_border"></div>
        <div class="gift_content">
            <div class="title1">活动说明：</div>
            <div class="subtext">{@doc.explanation}</div>
            <div class="title1">免责声明：</div>
            <div class="subtext"><p>{@doc.relief}</p></div>
        </div>
    </div>
</div>