<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="/lavico/reedem/showList?wechatId={@wxid}">积分兑换</a></span><span class="title2">兑奖细则</span></p>
    </div>
    <div class="use-rules">
        <div class="use-rulesContent">
            <div class="price_ticket"><img src="{@doc.bigPic}" /></div>
            <!--<div class="gift_bg">
                <div class="gift_title">{@doc.name}</div>
            </div>-->
            <div class="text">{@doc.description}</div>
        </div>
        <div class="gift_border"></div>
        <div class="gift_content">
            <div class="title1">活动说明：</div>
            <div class="subtext">{@doc.explanation}</div>
            <div class="title1">免责声明：</div>
            <div class="subtext"><p>{@doc.relief}</p></div>
            <div class="gift-bottom" style="width:44%; margin:0 auto;">
                <div class="fr right" style="width:100%">
                    <a href="#" name="nowGet" onclick="exchange('9121535','100','001','6687044','L2013112709','5373207e5218399629000c86')">立即兑换</a>
                </div>
            </div>
        </div>
    </div>
</div>