
<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/AppList" class="stay">应用管理</a> <em></em></li>
    <li class="b02"><a href="/lavico/reedem/addReedem" class="stay">新增内容</a> <em></em></li>
    <li class="active"><span>积分兑换</span></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <div style="width: 300px;">
            <a href="/lavico/reedem/addReedem" class="btn btn-xs btn-primary mhm stay">新增内容</a>
        </div>
    </div>
    <div class="panel-body">
        <table class="table" id="tagList">
            <thead>
            <tr>
                <th style="width: 150px;">名称</th>
                <th style="width: 80px;">状态</th>
                <th style="width: 50px;">开始时间</th>
                <th style="width: 50px;">结束时间</th>
                <th style="width: 30px;">面值</th>
                <th style="width: 50px;">剩余/总数</th>
                <th style="width: 30px;">所需积分</th>
                <th style="width: 50px;">兑换人数</th>
                <th style="width: 100px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <foreach for="@list.docs" var="doc">
                <tr>
                    <td style="width: 150px;"><a href="/lavico/reedem/addReedem:modify_html?_id={@doc._id}" class='mhm stay'>{@doc.name}</a></td>
                    <td id="docstatus">{@doc.status}</td>
                    <td>{@ doc.startDate && new Date(parseInt(doc.startDate)+28800000).toISOString().substr(0,10)}</td>
                    <td>{@ doc.endDate && new Date(parseInt(doc.endDate)+28800000).toISOString().substr(0,10)}</td>
                    <td>{@ doc.QTY}</td>
                    <td>{@doc.TOTAL-doc.USED}/{@doc.TOTAL}</td>
                    <td>{@ doc.needScore}</td>
                    <td>{@doc.allExchangeCount}</td>
                    <td style="width: 100px;">
                        <div class="switch has-switch way">
                            <div class="switch-animate switch-{@ doc.switcher}" data="{@ doc._id}" onclick="audioClick(this)">
                                <input type="checkbox" data-toggle="switch">
                                <span class="switch-left">关</span>
                                <label>&nbsp;</label>
                                <span class="switch-right">开</span>
                            </div>
                        </div>
                        <a href="tongji?reedem_id={@doc._id}" class="btn btn-xs btn-primary mhm" style="margin: 5 0 5 10">统计</a>
                        <a href="reedem_list:del?_id={@doc._id}" class="btn btn-xs btn-primary mhm ">删除</a>
                    </td>

                </tr>
            </foreach>
            </tbody>
        </table>
        <include file="welab/templates/paginator.html" model="@list" model.url="/lavico/reedem/reedem_list?page=%pagenum%" />
    </div>
</div>
<style>
    #tagList tr td .children_table tr td{
        #background:white;
    }
    #tagList tr td .children_table tr td{
        border-bottom: 5px #edeff0 solid;
        border-top: 5px #edeff0 solid;
    }
</style>
<script>
    function audioClick(o){
        var flag = '';
        if ($(o).hasClass("switch-off")){
            $(o).removeClass("switch-off")
            $(o).addClass("switch-on")
            flag = 'on'; //  开
           $(o).parent().parent().parent().find("td#docstatus").html("进行中")

        }else{
            $(o).addClass("switch-off")
            $(o).removeClass("switch-on")
            flag = 'off'; // 关
            $(o).parent().parent().parent().find("td#docstatus").html("已关闭")
        }
        if(flag){
            var oLinkOptions = {} ;
            oLinkOptions.data = [{name:'switcher',value:flag},{name:'_id',value:$(o).attr('data')}];
            oLinkOptions.type = "POST";
            oLinkOptions.url = "/lavico/reedem/reedem_list:openOrClose";
            $.request(oLinkOptions,function(err,nut){
                if(err) throw err;
                nut.msgqueue.popup();
            });
        }
    }

</script>