<style>
    .flexigrid div.hDiv th, .flexigrid div.bDiv td {
        font-size: 12px;
    }

    input[type="radio"], input[type="checkbox"] {
        margin: 0;
    }
</style>

<input type="hidden" class="startDate" value="{@ startDate}">
<input type="hidden" class="stopDate" value="{@ stopDate}">
<input type="hidden" class="unwind" value="{@ unwind}">
<input type="hidden" class="_id" value="{@ _id}">

<table id="userList" style="display:none"></table>



<!-- 设置标签 -->
<div class="modal fade" id="tagModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">设置标签</h4>
            </div>
            <div class="modal-body">
                <select id="tag"  class="form-control input-sm" style="width: 250px">
                    <option value="-1" selected="selected">请选择标签</option>
                    <foreach for="{@taglist}" var="tags">
                        <option value="{@tags.title}">{@tags.title}</option>
                    </foreach>
                </select>
                <!--<input type="text" name="tags" id="tags" placeholder="设置多个标签请用“,”或者“回车”分隔" class="form-control input-sm tm-input tm-input-info" style="width:240px;"/>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary userTagBtn">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- send -->
<div class="modal fade" id="sendMessageModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">发送消息</h4>
            </div>
            <div class="modal-body">
                <textarea class="form-control input-sm" rows="3" id="sendMessageValue" style="margin: 0px 0px 10px;height: 108px;width: 525px;"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary sendMessageBtn" onclick="sendMessageBtn()">发送</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<link type="text/css" href="/welab/public/css/bootstrap-tagmanager.css">
<script type="text/javascript" src="/welab/public/js/bootstrap-tagmanager.js"></script>


<link type="text/css" href="/welab/public/Flexigrid/css/flexigrid.css">
<script type="text/javascript" src="/welab/public/Flexigrid/js/flexigrid.js"></script>


<script>

    function selectAllUser( oInput){

        $("#userList").find("tr").find("td:eq(0)").find("input").each(function(i,o){

            if( oInput.checked){
                o.checked = true;
                checkUser(o,true)
            }else{
                o.checked = false;
                checkUser(o,false)
            }
        })
    }

    function checkUser( oInput, checked){

        if( checked == undefined){
            $(oInput).parents("tr").toggleClass("trSelected")
        }else{
            if( checked){
                $(oInput).parents("tr").addClass("trSelected")
            }else{
                $(oInput).parents("tr").removeClass("trSelected")
            }
        }
    }


    function getUserList(){

        var aList = [];
        $("#userList").find("tr").each(function(i,o){

            var _oInput = jQuery(o).find("td:eq(0)").find("input")
            var _id = _oInput.attr("userid");

            if( _id && _oInput[0].checked){
                aList.push(_id);
            }
        })

        return aList;
    }


    window.onload = function(){

        /**
         * 设置标签
         */
        $(".userTagBtn").on("click",function(){

            var tags = $("#tag option:selected").val();
            if( tags == "-1"){
                $.globalMessenger().post({
                    message: '请选择一个标签.',
                    type: 'error',
                    showCloseButton: true})
                return ;
            }

            var oUserSetOption = {} ;
            oUserSetOption.data = [];
            oUserSetOption.data.push({name:"sUserList",value:getUserList().join(",")});
            oUserSetOption.data.push({name:"sTagList",value:tags});
            oUserSetOption.type = "POST";
            oUserSetOption.url = "/welab/user/tags:setUserTag";

            $.request(oUserSetOption,function(err,nut){
                if(err) throw err ;
                nut.msgqueue.popup() ;

                // 更改页面数据
                var jsonData = nut.model.jsonData;
                console.log("jsonData",jsonData)
                if(jsonData.length==0){
                    return;
                }

                $("#userList").find("tr").each(function( i, o){
                    var tds = $(o).find("td");
                    if(tds.eq(0).find("input")[0].checked){

                        for(var i=0;i<jsonData.length;i++){
                            if(jsonData[i].id == tds.eq(0).find("input")[0].id && jsonData[i].status==true){
                                var aOldTagsList = [];
                                tds.eq(9).find("span").each(function(i,o){
                                    aOldTagsList.push($(o).find("span").text());
                                })
                                var tags = $("#tag option:selected").val();
//                                var tags = $("input[type='hidden'][name='tagsVal']").val();
//                                var aNewTagsList = tags.split(",");

                                var _is = false;
                                //for (var iii=0; iii<aNewTagsList.length; iii++){
                                _is = false;
                                if(jsonData[i].tag == tags){
                                    for (var ii=0; ii<aOldTagsList.length; ii++){
                                        if( aOldTagsList[ii].toLowerCase() == tags.toLowerCase()){
                                            _is = true;
                                            break;
                                        }
                                    }
                                    if( _is == false){

                                        var _span = '<span class="tm-tag tm-tag-info" ><span>'+tags+'</span><a href="javascript:;" class="tm-tag-remove"  onclick="removeTagOrKeyword(this)">×</a></span>';
                                        tds.eq(3).find("div").append(_span);
                                    }
                                }
                                // }
                            }
                        }
                    }
                })
            }) ;

            $('#tagModal').modal('toggle');
            return false;

        });

    }
</script>
