<script>
window.onload=function(){
   var receiveResult=JSON.parse('{@scroeMinMax}');
   for(var i=0;i<receiveResult.length;i++){
       if(receiveResult[i].getLabel!="" && receiveResult[i].getLabel != "undefined"){
           $(".wd").append("<li>恭喜你获得:"+receiveResult[i].getLabel+"</li>");
       }
       if(receiveResult[i].getScore!="" && receiveResult[i].getScore!= "undefined"){
           $(".wd").append("<li>恭喜你获得:"+receiveResult[i].getScore+"积分</li>");
       }
       if(receiveResult[i].getActivities!="" && receiveResult[i].getScore!= "undefined"){
           $(".wd").append("<li>恭喜你获得:"+receiveResult[i].getActivities+"奖券</li>");
       }

   }
}
</script>
感谢你的答题
<div class="result">
<ul class="wd">

</ul>
</div>