<script type="text/javascript">
    var scoreAll=0;//总积分
    var themeID='{@themeID}';//题组编号
    var optionCount={@optionCount};
    var jsonString='{@options}';
    var jsonObject=JSON.parse(jsonString);
    var timeFlag=false;

function toDate(str){
    var sd=str.split("-");
    return new Date(sd[0],sd[1],sd[2]);
}
//var d1=toDate("2001-2-2 ");
//var d2=toDate("2001-2-3");
//alert(d1>d2);

function createTime(){
    var d = new Date();
    var vYear = d.getFullYear();
    var vMon = d.getMonth() + 1;
    var vDay = d.getDate();
    s=vYear+"-"+(vMon<10 ? "0" + vMon : vMon)+"-"+(vDay<10 ? "0"+ vDay : vDay);
    return s;
}
function build(){

    var d1=toDate("{@beginTime}");
    var d2=toDate("{@endTime}");
    var isOpen={@isOpen};//0 close
    var currentTime=toDate(createTime());
    if(isOpen!=0 || currentTime>d2 && currentTime<d1){
        $(".title").append(jsonObject.title);
        $(".optionAll").append(optionCount);//共n题
        $(".optionID").append(jsonObject.optionId);//当前第n题
        if(jsonObject.type==2){
            $(".content").append("<textarea cols='30' rows='5'></textarea>");
        }
        else{

            for(var j=0;j<jsonObject.choose.length;j++){
                //判断是否有图片
                if(jsonObject.choose[j].uploadFile=="" || jsonObject.choose[j].uploadFile == "undefined"){
                    if(jsonObject.type==0){//单选
                        //显示题目  value为"题号+选项编号+积分+下一题编号"或者“题号+选项编号+积分+标签”
                        $(".content ul").append("<li><input type='radio' name='radio' class='single' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"</li>");
                    }else if(jsonObject.type==1){//复选
                        $(".content ul").append("<li><input type='checkbox' name='chk' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"</li>");
                    }
                }else{
                    if(jsonObject.type==0){
                        $(".content ul").append("<li><input type='radio' name='radio' class='single' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"<img src='"+jsonObject.choose[j].uploadFile+"' name='radioimg' width='100' height='100'></li>");
                    }else if(jsonObject.type==1){
                        $(".content ul").append("<li><input type='checkbox' name='chk' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"<img src='"+jsonObject.choose[j].uploadFile+"' width='100' height='100' name='chkimg'></li>");
                    }
                }
            }
            /*
            for(var j=0;j<jsonObject.choose.length;j++){
                if(jsonObject.type==0){
                //单选
                //显示题目  value为"题号+选项编号+积分+下一题编号"或者“题号+选项编号+积分+标签”
                    $(".content ul").append("<li><input type='radio' name='radio' class='single' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"<img src='"+jsonObject.choose[j].uploadFile+"' width='100' height='100'></li>");
                }else if(jsonObject.type==1){
                    //复选
                    $(".content ul").append("<li><input type='checkbox' name='chk' value='"+jsonObject.optionId+"+"+jsonObject.choose[j].chooseID+"+"+jsonObject.choose[j].chooseScore+"+"+jsonObject.choose[j].chooseNext+"'>"+jsonObject.choose[j].chooseName+"<img src='"+jsonObject.choose[j].uploadFile+"' width='100' height='100'</li>");
                }
            }*/

        }
        //finish btn
        if(jsonObject.optionId<optionCount){
            $('.btn').append('<input type="button" name="next" value="下一题" onclick="nextChoose()">');
        }else
        {
            $('.btn').append('<input type="button" name="next" value="完成" onclick="finish()">');
        }

    }else{
        alert("很抱歉，此活动已经停止或关闭");
    }
}
/*
 custAnswerResult(客户主观题解答)
 _id:表编号
 custId:客户编号
 optionId:题目编号
 resultValue:回答结果
 */
function finish(){
    //判断是否为主观题,是否需要记录数据
    if(jsonObject.type==0)
        scoreAll+=jsonObject.answerScore;
    else if(jsonObject.type==1){
        $("input[name='chk']:checked").each(function(){
            value=$(this).val();
            valueArr=value.split('+');
            if(!isNaN(parseInt(valueArr[2])))
                scoreAll+=parseInt(valueArr[2]);//累计选项积分
        });
    }
    if(jsonObject.type==2){
        var content=$(".content").find("textarea").val();
        location.href="/lavico/score/recordScore?isFinish=true&scoreAll="+scoreAll+"&type="+jsonObject.type+"&_id="+themeID+"&optionID="+jsonObject.optionId+"&resultValue='"+content+"'";
    }else{
        //+"&choose='"+content+"'";
        //非主观题完成
        //alert("期待...");
        location.href="/lavico/score/recordScore?isFinish=true&scoreAll="+scoreAll+"&type="+jsonObject.type+"&_id="+themeID+"&optionID="+jsonObject.optionId+"&chooseID="+jsonObject.chooseID+"&chooseNext="+jsonObject.chooseNext;
    }
}

function nextChoose(){
    var content=$(".content").find("textarea").val();
    //判断网页中是否有多行显示框,是否为主观题
    if(content){
        //判断字数
        //ajax
        //$.get(...)
        //location.href="/lavico/score/recordScore:fontCount?type=2&scoreAll="+scoreAll+"&optionID="+jsonObject.optionId+"&_id="+themeID+"&resultValue='"+content+"'";

        scoreAll+=jsonObject.answerScore;
        //alert(scoreAll);
        location.href="/lavico/score/recordScore?scoreAll="+scoreAll+"&optionID="+jsonObject.optionId+"&_id="+themeID+"&resultValue='"+content+"'&type=2";
    }else{

        var value,valueArr;
        var ch=$("input[name='radio']:checked").length;
        if(ch!=0){
        //单选
            value=$("input[name='radio']:checked").val();
            valueArr=value.split('+');
            if(!isNaN(parseInt(valueArr[2])))
                scoreAll+=parseInt(valueArr[2]);//累计选项积分
            //alert(scoreAll);
        }else{

            $("input[name='chk']:checked").each(function(){
                value=$(this).val();
                valueArr=value.split('+');
                if(!isNaN(parseInt(valueArr[2])))
                    scoreAll+=parseInt(valueArr[2]);//累计选项积分


            });
        }
        //location.href="/lavico/score/showTheme?scoreAll="+scoreAll+"&optionID="+valueArr[0]+"&_id="+themeID+"&chooseID="+valueArr[1]+"&chooseNext="+valueArr[3];
        location.href="/lavico/score/recordScore?scoreAll="+scoreAll+"&optionID="+valueArr[0]+"&_id="+themeID+"&chooseID="+valueArr[1]+"&chooseNext="+valueArr[3];
    }
}
window.onload=build;
</script>

<div>
    <div>当前第<span class="optionID"></span>题，共<span class="optionAll"></span>题</div>
    题目名称:<span class="title">&nbsp;</span>
    <div class="content">
        <ul style="list-style: none">
        </ul>
    </div>
    <span class="btn"></span>
</div>
