<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>嘉亭荟城市生活广场 - LIFE HUB @ ANTING</title>

<meta name="keywords" content="嘉亭荟，嘉亭大厦，嘉亭菁苑，生活广场，购物，美食，生活，娱乐，办公，安亭，城市，中心，LIFE HUB ANTING"/>
<meta name="description"
      content="嘉亭荟位于嘉定安亭镇墨玉路与曹安公路交叉口，轨交11号线安亭站南侧，项目占地面积约为5.25万平方米，总建筑面积约为19.5万平方米，功能业态包括了零售、餐饮、娱乐、文化、教育、办公、居住等。"/>
<link rel="stylesheet" href="/jth/public/css/normalize.css" type="text/css" media="screen" title="no title"
      charset="utf-8"/>
<link rel="stylesheet" href="/jth/public/css/style_sp.css" type="text/css" media="screen" charset="utf-8">