<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />

<!--<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=0">-->
<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale=1, user-scalable=no">
<meta name="mobileoptimized" content="0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-touch-fullscreen" content="yes" />



<div class="popup popupStyle1">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle1').trigger('save', []);">提交</a>
        <a href="javascript:" onclick="$('.popupStyle1').trigger('cancel', []);">取消</a>
    </div>
</div>


        <script>
            window.popupStyle1 = {}
            window.popupStyle1.on = function(){
                $('.popupStyle1').on('custom', function(event, param1, param2) {
                    alert(param1 + "\n" + param2);
                });
            }
        </script>