<link rel="stylesheet" href="/lavico/public/css/base.css" />
<link rel="stylesheet" href="/lavico/public/css/main.css" />
<script src="/lavico/public/js/screenRotation.js"></script>
<!--<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=0">-->
<meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale=1, user-scalable=no">
<meta name="mobileoptimized" content="0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="true" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta content="telephone=no" name="format-detection" />

<div class="popup popupStyle1" style="z-index: 1000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle1').trigger('save', []);$('.popupStyle1').hide();$('#maskdiv').hide()">保存</a>
        <a href="javascript:" onclick="$('.popupStyle1').trigger('cancel', []);$('.popupStyle1').hide();$('#maskdiv').hide()">取消</a>
    </div>
</div>

<div class="popup popupStyle2" style="z-index: 1000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle2').trigger('confirm', []);$('.popupStyle2').hide();$('#maskdiv').hide()" style="margin:0 30%;">确定</a>
    </div>
</div>


<div class="popup popupStyle3" style="z-index: 1000">
    <p>提交提交提交提交提交提交</p>
    <div class="popup_but">
        <a href="javascript:" onclick="$('.popupStyle3').trigger('yes', []);$('.popupStyle3').hide();$('#maskdiv').hide()">是</a>
        <a href="javascript:" onclick="$('.popupStyle3').trigger('no', []);$('.popupStyle3').hide();$('#maskdiv').hide()">否</a>
    </div>
</div>

<div style="width: 100%; height: 100%; position: fixed; background-color: #ffffff; opacity: 0.1; z-index: 999; display: none; top: 0px; left: 0px;" id="maskdiv"></div>
<div class="backdrop-orientation"></div>
<div class="modal-orientation" id="orientation">
    <img src="/lavico/public/images/icon-orientation.png" alt="" />
    <!--<p>竖屏浏览，效果更佳。</p>-->
    <!--<span class="btn-close ir">关闭</span>-->
</div>
<script>
    /*掩藏分享按钮Start*/
    window.hideShareButtion = {}
    window.hideShareButtion.on = function(){

        var timeid = setInterval(function(){
            if(typeof WeixinJSBridge =="undefined")
                return ;

            clearTimeout(timeid) ;
            WeixinJSBridge.call('hideOptionMenu');
        },300) ;
    }
    window.showShareButtion = {}
    window.showShareButtion.on = function(){

        var timeid = setInterval(function(){
            if(typeof WeixinJSBridge =="undefined")
                return ;

            clearTimeout(timeid) ;
            WeixinJSBridge.call('showOptionMenu');
        },300) ;
    }
    /*掩藏分享按钮End*/


    window.popupStyle1 = {}
    window.popupStyle1.on = function(title,cb){
        $(".popupStyle1").find("p").text(title)
        $(".popupStyle1").show()
        $('#maskdiv').show()
        $('.popupStyle1').on("save", function(event) {
            cb("save")
        });
        $('.popupStyle1').on("cancel", function(event) {
            cb("cancel")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margin-top", -popupHig / 2);
    }
    window.popupStyle2 = {}
    window.popupStyle2.on = function(title,cb){
        $(".popupStyle2").find("p").text(title)
        $(".popupStyle2").show()
        $('#maskdiv').show()
        $('.popupStyle2').on("confirm", function(event) {
            cb("confirm")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margin-top", -popupHig / 2);
    }
    window.popupStyle3 = {}
    window.popupStyle3.on = function(title,cb){
        $(".popupStyle3").find("p").text(title)
        $(".popupStyle3").show()
        $('#maskdiv').show()
        $('.popupStyle3').on("yes", function(event) {
            cb("yes")
        });
        $('.popupStyle3').on("no", function(event) {
            cb("no")
        });

        var popupHig = $(".popup").height();
        $(".popup").css("margin-top", -popupHig / 2);
    }


    function bindPosition(id){
        var popupHig = $(id).height();
        $(id).css("margin-top", -popupHig / 2);
    }

    window.onresize = function () {
        var popupHig = $(".popup").height();
        $(".popup").css("margin-top", -popupHig / 2);
    }



    // 使用方法

    /*

        window.popupStyle2.on("请先申领或绑定会员卡",function(event){

        if(event == "confirm"){
        location.href="/lavico/member/card_blank/register?wxid="+$("#wxid").val()
        }
        })


        */


    // 记录分享数
    var shareTitle = "朗维高"
    var shareContent = "朗维高";
    var shareIcon = location.origin + "/lavico/public/images/logo.png"

    var timeid = setInterval(function(){
        if(typeof WeixinJSBridge =="undefined")
            return ;

        clearTimeout(timeid) ;

        WeixinJSBridge.on('menu:share:timeline', function(argv){

            $.ajax({
                url:'/lavico/log',
                type:'POST',
                data:{
                    'wxid':getWxid(),
                    'url':location.href,
                    'replyid':getReplyID(),
                    'action' : "转发朋友圈"
                },
                success:function(data){

                },
                error:function(msg){
                }
            });

            WeixinJSBridge.invoke('shareTimeline',{
                "img_url":shareIcon,
                "link":replaceWxid(location.href) + "fromWelab=timeline",
                "desc":shareContent,
                "title":shareContent
            }, function(res) {

            });
        });

        WeixinJSBridge.on('menu:share:appmessage', function(argv){

            $.ajax({
                url:'/lavico/log',
                type:'POST',
                data:{
                    'wxid':getWxid(),
                    'url':location.href,
                    'replyid':getReplyID(),
                    'action' : "转发好友"
                },
                success:function(data){

                },
                error:function(msg){
                }
            });


            var contentModel = {
                "img_url":shareIcon,
                "link":replaceWxid(location.href) + "fromWelab=friend",
                "desc":shareContent,
                "title":shareTitle
            }
            WeixinJSBridge.invoke('sendAppMessage',contentModel, function(res) {

            });
        });

    },300) ;


    function welcome(){
        window.popupStyle2.on('请搜索"LaVico朗维高"关注我们的官方微信，参加互动活动。',function(event){

        });
    }

    function getWxid (){

        var wxid = jQuery("#wxid").val();
        if(location.search.match(/wxid=(.*)$/)){

            wxid = location.search.match(/wxid=(.*)$/)[1].split("&")[0];
        }else if(location.search.match(/uid=(.*)$/)){

            wxid = location.search.match(/uid=(.*)$/)[1].split("&")[0];
        }else if(location.search.match(/wechatid=(.*)$/)){

            wxid = location.search.match(/wechatid=(.*)$/)[1].split("&")[0];
        }
        return wxid;
    }
    function getReplyID (){

        var replyid = "";
        if(location.search.match(/replyid=(.*)$/)){

            replyid = location.search.match(/replyid=(.*)$/)[1].split("&")[0];
        }
        return replyid;
    }

    function replaceWxid (url){
        url = url.replace("wxid=","by=").replace("uid=","by=").replace("wechatid=","by=")

        if(/\?/.test(url)){
            url += "&"
        }else{
            url += "?"
        }
        return url;
    }
</script>