<meta name="viewport" content="width=1024" />

<!-- Loading Bootstrap -->
<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<!-- Loading Flat UI -->
<link href="/welab/public/css/flat-ui.css" rel="stylesheet">
<!-- Loading Welab Css -->
<link href="/welab/public/css/layous.css" rel="stylesheet">
<link href="/welab/public/css/welab-v1.0.css" rel="stylesheet">


<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
<script src="/welab/public/js/html5shiv.js"></script>
<link href="/welab/public/css/bootstrap-less-ie9-patch.css" rel="stylesheet">
<![endif]-->

<div class="container">
    <!--header start-->
    <div class="header"> <a href="/" class="logo" title="WE.LAB">WE.LAB</a>



        <div class="navbarWeLab navbarWeLab-inverse">
            <!-- nav start -->
            <ul class="nav">
                <li> <a href="/welab/dashboard" onclick="changeMenu(this);" class="stay" style="border-left:0px;">控制台</a> </li>

                        <li>
                            <a class="dropdown-toggle">用户 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/user/list" class="stay" onclick="changeMenu(this);">用户管理</a></li>
                                <!-- <li><a href="/welab/summary/userTrend?nav=user" class="stay" onclick="changeMenu(this);">查看统计报告</a></li> -->
                            </ul>
                        </li>

                        <li>
                            <a class="dropdown-toggle">消息 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/MessageList" class="stay" onclick="changeMenu(this);">消息管理</a></li>
                                <!-- <li><a href="/welab/summary/messageTrend?nav=message" class="stay" onclick="changeMenu(this);">查看统计报告</a></li> -->
                            </ul>
                        </li>

                        <li>
                            <a class="dropdown-toggle">回复 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/reply/list" class="stay-top" onclick="changeMenu(this);">回复内容管理</a></li>
                            </ul>
                        </li>

                        <li>
                            <a class="dropdown-toggle">应用 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/AppList" class="stay" onclick="changeMenu(this);">应用管理</a></li>
                            </ul>
                        </li>


                        <li>
                            <a class="dropdown-toggle">统计 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/summary/pandect" class="stay" onclick="changeMenu(this);">总览</a></li>
                                <li><a href="/welab/summary/userTrend" class="stay" onclick="changeMenu(this);">用户</a></li>
                                <li><a href="/welab/summary/messageTrend" class="stay" onclick="changeMenu(this);">消息</a></li>
                                <li><a href="/welab/summary/replyTrend" class="stay" onclick="changeMenu(this);">回复</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav pull-right">

                        <li>
                            <a class="dropdown-toggle">{@ isLogin==true ? currentId.username : "未登录"} <b class="caret"></b></a>
                            <input type="hidden" id="username" value="{@ isLogin==true ? currentId.username : '未登录'}"/>
                            <ul>
                                <li><a href="/welab/setting/company" class="stay" onclick="changeMenu(this);">企业信息</a></li>
                                <li><a href="#" class="stay" onclick="changeMenu(this);">用户设定</a></li>
                                <li><a href="#" class="stay" onclick="changeMenu(this);">充值交费</a></li>
                                <!-- <li><a href="/welab/summary/pandect?nav=info" class="stay" onclick="changeMenu(this);">查看统计报告</a></li> -->
                                <if condition="@isLogin==true">
                                   <li><a href="" class="stay singout" onclick="changeMenu(this);">退出系统</a></li>
                                </if>
                            </ul>
                        </li>

                        <li>
                            <a  class="dropdown-toggle">设置 <b class="caret"></b></a>
                            <ul>
                                <li><a href="/welab/setting/binding" class="stay" onclick="changeMenu(this);">连接微信帐号</a></li>
                                <li><a href="#" class="stay" onclick="changeMenu(this);">邮件发送配置</a></li>
                                <li><a href="#" class="stay" onclick="changeMenu(this);">短信发送配置</a></li>
                                <if condition="@ setting.type == 'service'">
                                <li><a href="/welab/importUsers" class="stay" onclick="changeMenu(this);">导入已关注用户</a></li>
                                </if>
                            </ul>
                        </li>
                    </ul>
            <!-- nav end -->
        </div>
    </div>
</div>
<!--header end-->
<!--Content Start-->
<div class="container">
    <div>
        <views/>
    </div>
</div>
<!--footer start-->
<div class="footer">
    <div class="container link"> <a href="#">About</a><span>/</span><a href="#">Contact</a><span>/</span><a href="#">Blog</a> </div>
</div>
<!--footer end-->

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bootstrap-select/bootstrap-select.js"></script>
<script src="/bootstrap-switch/static/js/bootstrap-switch.js"></script>


<script src="/welab/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<link href="/welab/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

<script src="/messenger/build/js/messenger.min.js"></script>
<link href="/messenger/build/css/messenger.css" rel="stylesheet">
<link href="/messenger/build/css/messenger-theme-future.css" rel="stylesheet">



<script src="/welab/public/js/flatui-checkbox.js"></script>
<script src="/welab/public/js/flatui-radio.js"></script>


<script>

    function selectNavBar(){

        $(".nav").find("li").each(function(i,o){

            var link = $(o).find("a").attr("href")
            var locathost = location.pathname+location.search
            if(link && locathost && link!="#"){

                if(link == locathost){
                    changeMenu($(o).find("a"))
                    return false;
                }
            }
        })
    }
    function footerTop(){
        var footer = $(".footer")
        footer.css("position","absolute")

        footer.css("top",$(document).height() - 123)
    }
    function changeMenu( oMenu){

        $(".nav").eq(0).find("li").removeClass("active");

        $(oMenu).parents('li').addClass("active");
        $(oMenu).parents(".dropdown").removeClass("open");
    }

    // 格式化为货币格式
    function changvs(s){
        var s=s.toString().split(",").join("");
        if(/[^0-9\.]/.test(s)) return "invalid value";
        s=s.replace(/^(\d*)$/,"$1.");
        s=(s+"00").replace(/(\d*\.\d\d)\d*/,"$1");
        s=s.replace(".",",");
        var re=/(\d)(\d{3},)/;
        while(re.test(s))
            s=s.replace(re,"$1,$2");
        s=s.replace(/,(\d\d)$/,".$1");
        return s.replace(/^\./,"0.")
    }
    function changv(s){
        var x=s.toString().split(".")
        var x2=x.length > 1 ? '.' + x[1] : '';
        var s=x[0].toString().split(",").join("");
        if(/[^0-9\.]/.test(s)) return "invalid value";
        s=s.replace(/^(\d*)$/,"$1.");
        s=(s).replace(/(\d*\.\d\d)\d*/,"$1");
        s=s.replace(".",",");
        var re=/(\d)(\d{3},)/;
        while(re.test(s))
            s=s.replace(re,"$1,$2");
        s=s.replace(/,(\d\d)$/,".$1");
        return s.replace(/^\./,"0.").substring(0,s.lastIndexOf(","))+x2;
    }
</script>




