<!--
会员 - 我的会员卡 (已开卡状态)
接口查询：会员卡号、卡类型、未使用的礼券、信息完善与否
url:/lavico/member/card_member/index
path:/lavico/templates/member/card_member/index
-->
<div class="wrapper">
    <div class="vip-card"><img src="/lavico/public/images/vip_card.jpg" /></div>
    <div class="member">
        <div class="member-content">
            <div class="radius">
                <ul class="list">
                    <li><a id="announcement" href="{@announcement}">会员公告</a></li>
                    <li><a id="coupon" href="{@coupon}">专属礼券<span class="suba">(正加载)</span></a></li>
                    <li><a id="points" href="{@points}">积分/兑换</a></li>
                    <li><a id="buy" href="{@buy}">消费记录</a></li>
                    <li class="border-none"><a id="fav" href="{@fav}">收藏清单</a></li>
                </ul>
            </div>
            <div class="radius radius1">
                <div class="title">会员特权</div>
                <ul class="list">
                    <li><a href="javascript:void(0);">微会员尊享<span class="suba">(享受积分回馈)</span></a></li>
                    <li><a href="javascript:void(0);">VIP尊享<span class="suba">(享受九折优惠和积分)</span></a></li>
                    <li class="border-none"><a href="{@announcement}">白金VIP卡尊享<span class="suba">(享受八五折优惠和积分)</span></a></li>
                </ul>
            </div>
            <div class="radius radius1">
                <ul class="list">
                    <li><a id="info" href="{@info}">个人资料<span class="suba">(完善资料可获50积分)</span></a></li>
                    <li class="border-none"><a id="unbind" href="{@unbind}">解绑会员卡</a></li>
                </ul>
            </div>
            <div class="radius radius1">
                <ul class="list">
                    <li class="border-none"><a href="javascript:void(0);">门店查询</a></li>
                </ul>
            </div>
            <div class="blank"></div>
        </div>
    </div>

</div>
<input type="hidden" id="wxid" name="wxid" value="{@wxid}" />
