<!--
会员 - 我的会员卡 (已开卡状态)
接口查询：会员卡号、卡类型、未使用的礼券、信息完善与否
-->
<div style="text-align: center;">
    <input id="wxid" type="hidden" value="{@ wxid}"/>
    <h2>会员 - 我的会员卡 (已开卡状态)</h2>
    <p>卡号：6226 0458 3697 4321</p>
    <p>卡名：LaVico朗维高白金VIP卡</p>
    <p id="announcement">会员公告</p>
    <p id="coupon">专属礼券（3张未使用）/（参加活动可获取）</p>

    <p id="points">积分/兑换</p>
    <p id="buy">消费记录</p>
    <p id="fav">收藏清单</p>

    <h3>会员特权</h3>

    <p class="benefit">普通卡尊享</p>
    <p class="benefit">VIP卡尊享</p>
    <p class="benefit">白金VIP卡尊享</p>

    <p id="profile">个人资料</p>
    <p id="unbind">解绑会员卡</p>
    <p id="store">门店查询</p>
</div>
