<center>
<h2>会员 - 我的会员卡 - 个人资料</h2>
        <p>请完善您的个人信息，审核通过后即获得50积分
        </p>
<form>
    <label>姓名</label><input id="realname" name="realname" type="text" value="张三"/><br/>
    <label>性别</label><input id="gender" name="gender" type="text" value="男"/><br/>
    <lable>生日</lable><input id="birthday" name="birthday" type="text" value="1980-12-26"/><br/>
    <lable>手机号码</lable><input id="mobile" name="mobile" type="text" value="13816900290"/><br/>
    <lable>电子邮件</lable><input id="email" name="email" type="text" value="zealair@gmail.com"/><br/>
    <lable>行业</lable><input id="profession" name="profession" type="text" value="广告"/><br/>
    <lable>所属省份</lable><input id="province" name="province" name="province" type="text" value="上海"/><br/>
    <lable>所属城市</lable><input id="city"  name="city" name="city" type="text" value="上海"/><br/>
    <lable>具体地址</lable><input id="address" name="address" type="text" value="天钥桥路909号3号楼606"/><br/>
    <lable>喜好款式</lable><input id="favoriteStyle" name="favoriteStyle" type="text" value="修身、立体剪裁"/><br/>
    <lable>喜好颜色</lable><input id="favoriteColor" name="favoriteColor" type="text" value="黑色、蓝色、白色"/><br/>
    <input id='submit' name='submit' type="button" value="提交修改">
</form>
</center>


