<h2>会员 - 我的会员卡 - 个人资料</h2>
        <p>请完善您的个人信息，审核通过后即获得50积分
        </p>
<form>
    <label>姓名</label><input name="realname" type="text" value="张三"/>
    <label>性别</label><input name="gender" type="text" value="男"/>
    <lable>生日</lable><input name="birthday" type="text" value="1980-12-26"/>
    <lable>手机号码</lable><input name="mobile" type="text" value="13816900290"/>
    <lable>电子邮件</lable><input name="email" type="text" value="zealair@gmail.com"/>
    <lable>行业</lable><input name="profession" type="text" value="广告"/>
    <lable>所属省份</lable><input name="province" type="text" value="上海"/>
    <lable>所属城市</lable><input name="city" type="text" value="上海"/>
    <lable>具体地址</lable><input name="address" type="text" value="天钥桥路909号3号楼606"/>
    <lable>喜好款式</lable><input name="address" type="text" value="修身、立体剪裁"/>
    <lable>喜好颜色</lable><input name="address" type="text" value="黑色、蓝色、白色"/>

</form>



