<style>
    #userTel{background:#dadada;}
</style>
<div class="wrapper">
    <div class="store-title">
        <p><span class="title1"><a href="{@memberUrl}">会员</a></span><span class="title2">解除绑定</span></p>
    </div>
    <div class="remo-card">
        <if condition="{@bindStatus == 'unbind'}">

            <div class="input-tel">
                <p class="input mt10"><span class="fl text"><strong class="star-sign">*</strong>手机</span><span class="fl"><input type="text" id="userTel" name="userTel" value="{@mobile}" disabled /></span>
                <div class="clear"></div>
                <p class="note">您已经解绑，如您对解绑有疑问<br />
                    请拨打 <a class="tel" href="tel:4001008866">400-100-8866</a>  联系</p>
                <div class="blank"></div>
            </div>

        <else/>
            <div class="input-tel">
                <p class="input mt10"><span class="fl text"><strong class="star-sign">*</strong>手机</span><span class="fl"><input type="text" id="userTel" name="userTel" value="{@mobile}" disabled /></span><span class="verify"  id="get_id_code">获取验证码</span></p>
                <div class="clear"></div>
                <p class="input mt10"><span class="fl text"><strong class="star-sign">*</strong>验证码</span><span class="fl"><input type="text" id="userCaptcha" name="userCaptcha" value="" /></span></p>
                <div class="clear"></div>
                <p class="note">如您无此手机号而无法获取验证码<br />
                    请拨打 <a class="tel" href="tel:4001008866">400-100-8866</a>  联系</p>
                <p class="submit"><input type="submit" id="submit" class="subbtn" border="0" value="解除绑定" /></p>
                <div class="blank"></div>
            </div>
            <input type="hidden" id="wxid" name="wxid" value="{@wxid}" />
            <input type="hidden" id="MEMBER_ID" name="MEMBER_ID" value="{@MEMBER_ID}"/></span>
        </if>

    </div>

</div>
<img src="/lavico/public/images/verify_bg_01.png" style="display:none;"/>
<!--正在加载-->
<div id="loading" class="loading" style="position: fixed; z-index: 1000; left: 40%; top: 40%;"><img src="/lavico/public/images/loading.gif"></div>
