<ul class="breadcrumb clearfix">
    <li class="b01"><a href="/welab/dashboard" class="stay">首页</a> <em></em></li>
    <li class="b02"><a href="/welab/user/list" class="stay">用户</a> <em></em></li>
    <li class="active"><span>用户管理</span></li>
</ul>
<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-primary handle_btn" type="button" onclick="$('#searchView').fadeIn('100')">条件筛选</button>
        <a class="btn btn-primary handle_btn userSetTagView" href="javascript:;" style="background-color: #1abc9c" >设定标签</a>
        <a class="btn btn-primary handle_btn sendSMS" href="javascript:;" style="background-color: #1abc9c" >发送短信</a>
        <a class="btn btn-primary handle_btn exports" href="javascript:;" style="background-color: #1abc9c" >分页导出</a>
    </div>
    <include file="lavico/templates/welab/user/searchForm.html" />
    <div class="panel-body">
        <div class="childview">
            <View name="page" />
        </div>
    </div>
</div>
<script src="/welab/public/js/coffee-script.js"></script>
<!--David.xu重写searchbox.js At 2014-06-24-->
<script src="/lavico/public/js/searchbox.js"></script>

<link href="/welab/public/css/searchbox.css" rel="stylesheet">