<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script type="text/javascript">
window.onload=function(){
    if({@shopLng}!=null)
    {
        location.href = "http://api.map.baidu.com/direction?region=ss&origin=latlng:{@userLat},{@userLng}|name:您所在位置&destination=latlng:{@shopLat},{@shopLng}|name:LaVico专贵&mode=driving&output=html&src=yourCompanyName|yourAppName";
    }else{
        location.href="http://api.map.baidu.com/geocoder?address={@address}&output=html&src=yourCompanyName|yourAppName";
    }
}
</script>
