<style>
    *{padding: 0px;margin: 0px;}
    ul{list-style: none;width: 100%;}
    ul li{border-bottom: 1px solid gray; width: 100%; padding: 20px;font-size: 40px;line-height: 50px;}
    ul li a{display: block; width:99%; text-decoration: none;color:#000000;}
</style>
<div>看到的城市为：<span id="demo">上海</span>&nbsp;<a href="/lavico/store/searchByCity">查找其他城市</a></div>
<ul>
    <foreach for="{@city_docs}" var="docs" key="key">
        <li style="background-color: {@key%2==0?'lightgoldenrodyellow':'white'}">
            <a  href="javascript:location.href='/lavico/store/searchByCity:show?CODE={@docs.CODE}1'">
                <strong>{@docs.NAME}</strong><br>
                商店名称:{@docs.ADDR}<br>
                商店电话:{@docs.TEL}<br>
                <if condition="{@docs.ACT}">
                    <if condition="{@docs.ACT.length<10}">
                        活动:{@docs.ACT}
                        <else/>
                        活动:{@docs.ACT.subString(0,7)}...
                    </if>
                    <else/>
                    活动:当前无活动
                </if>
            </a>
        </li>

    </foreach>
