<style>
    *{padding: 0px;margin: 0px;}
    ul{list-style: none;width: 100%;}
    ul li{border-bottom: 1px solid gray; width: 100%; padding: 20px;font-size: 40px;line-height: 50px;}
    ul li a{display: block; width:99%; text-decoration: none;color:#000000;}
</style>
<ul>
    <foreach for="{@city_docs}" var="docs" key="key">
    <li style="background-color: {@key%2==0?'lightgoldenrodyellow':'white'}">
        <a  href="javascript:location.href='/lavico/store/searchByCity:show?CODE={@docs.CODE}1'">
            <strong>{@docs.NAME}</strong><br>
            商店名称:{@docs.ADDR}<br>
            商店电话:{@docs.TEL}<br>
            <if condition="{@docs.ACT==null}">
                暂无活动，敬请期待！
                <else/>
                {@docs.ACT}

            </if>
        </a>
    </li>

    </foreach>
</ul>