<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<style>
    *{padding: 0px; margin: 0px;}
    #main{width: 100%;font-size: 60px;}
    div#dv{width: 100%;}
    #name{font-size: 65;font-weight: bold;}
</style>
<script>
    var log={@searchCity.LOG},lat={@searchCity.LAT};

</script>
<div id="main">
<a href="javascript:history.back()">返回</a>
<div id="dv">
    <div id="name">{@searchCity.NAME}</div>
    店铺坐标:{@searchCity.LOG},{@searchCity.LAT}
    <if condition="{@searchCity.LOG==null}">
        <img src="/lavico/public/images/lavico_default.png" width="400" height="300">
    <else/>
        <div id="allmap" style="width: 500px;height: 500px"></div>

    </if><br>
    地址：{@searchCity.ADDR}<br>
    电话：{@searchCity.TEL}<br>
    近期活动：<br>
    {@searchCity.ACT}
</div>
</div>