<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>
<div id="allmap"></div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script>
    window.onload=function(){
        var map = new BMap.Map("allmap");
        var point = new BMap.Point({@locationLat},{@locationLng});
    alert("开始请求百度")
    map.centerAndZoom(point,12);

    function myFun(result){
        alert("请求百度结束")
        var cityName = result.name;
        map.setCenter(cityName);
        alert(cityName)
        alert("请求B页面开始")
        $.get("/lavico/store/currentCustomerLocation:show?wxid={@wxid}&cityName="+encodeURIComponent(cityName),function(doc){
            document.write(doc);
        })
        alert("请求B页面结束");

    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun)
    $("div.store-listContent").find("ul li:last-child").css("border-bottom", "none");
    }

</script>
