<div class="wrapper">
  <div class="store-title">
    <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">会员</a></span><span class="title2">门店查询</span></p>
  </div>
  <div class="inquiry">
  <div class="city fl">{@cityName}</div>
  <div class="change fr">
      <input type="button"  border="0" class="chengeCity" value="切换城市" onclick="location.href='/lavico/store/searchByCity?wxid={@wxid}'" /></div>
  </div>
  <div class="store-list">
    <div class="store-listContent">
      <ul>
          <foreach for="{@city_docs}" var="docs" key="key">
            <li><a href="javascript:location.href='/lavico/store/searchByCity:show?CODE={@docs.CODE}&wxid={@wxid}&city={@cityName}'">
              <p class="name">{@docs.NAME}</p>
              <p class="adree"><span class="adree_left">地址：</span><span class="adree_right">{@docs.ADDR}</span></p>
              <p class="tel">电话：{@docs.TEL}</p>
              <p class="tel">活动：<if condition="{@docs.ACT==null}">暂无活动，敬请期待！<else/>{@docs.ACT}</if></p>
              </a>
            </li>
          </foreach>
          
      </ul>
    </div>
  </div>
</div>
