<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script>
    window.onload=function(){
        var map = new BMap.Map("allmap");
        var point = new BMap.Point({@locationLat},{@locationLng});
    map.centerAndZoom(point,12);

    function myFun(result){
        var cityName = result.name;
        map.setCenter(cityName);
        $.get("/lavico/store/currentCustomerLocation:show?wxid={@wxid}&$webpage=false&cityName="+encodeURIComponent(cityName),function(doc){
            $("#content").html(doc)
            jQuery('#loading').hide();//隐藏加载框
        })
    }
    var myCity = new BMap.LocalCity();
    myCity.get(myFun);
    $("div.store-listContent").find("ul li:last-child").css("border-bottom", "none");
    }

</script>
<div id="content"></div>
<!--正在加载-->
<div id="loading" class="loading"><img src="/lavico/public/images/loading.gif"></div>
<div id="allmap"></div>