<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script>
var logs ='{@searchCity.LOG}';
var lats = '{@searchCity.LAT}';
var userLng='{@userLng}';
var userLat='{@userLat}';
var city = '{@city}';

</script>
<div class="wrapper">
  <div class="store-title">
    <p><span class="title1">

    <!--<if condition="{@_id!=null}">-->
        <!--<a href="/lavico/bargain/maps?_id={@_id}&wxid={@wxid}">其他门店查询</a>-->
    <!--<else/>-->
        <!--<a href="/lavico/store/currentCustomerLocation?wxid={@wxid}">其他门店查询</a>-->
        <!--&lt;!&ndash;<a href="/lavico/store/searchByCity?wxid={@wxid}">返回</a>&ndash;&gt;-->
    <!--</if>-->
        <if condition="{@city!='null'}">
            <a href="/lavico/store/searchByCity:search?wxid={@wxid}&city={@city}">其他门店查询</a>
        <else/>
            <a href="/lavico/store/searchByCity?wxid={@wxid}">其他门店查询</a>
        </if>
    </span><span class="title2">门店详情</span></p>
  </div>
  <div class="look-map">
<div class="map">
<p class="store-name">{@searchCity.NAME}</p>
<div class="baidu-map">
    <if condition="{@searchCity.LOG==null}">
        <img src="/lavico/public/images/lavico_default.png" style="width: 100%;height: auto">
    <else/>
        <div id="allmap" style="width: 100%;height: 150px"></div>
    </if>
</div>
<div class="way">
    <p class="text"><span>地址：</span><span style="width: 82%; float: left; line-height: 20px;">{@searchCity.ADDR}</span></p>
    <p>导航： <a href="javascript:;" onclick="baidumap('{@searchCity.LOG}','{@searchCity.LAT}','{@searchCity.ADDR}')" style="display:inline-block;">行车线路</a></p>
    电话：&nbsp;{@searchCity.TEL}<br />
</div>
<div class="activity-detail">
    <p class="text">
        <if condition="{@searchCity.ACT==null}">
            <!--<div class="title">暂无促销活动</div>-->
            <else/>
            <div class="title">促销活动</div>
        </if>
        {@searchCity.ACT}
    </p>
</div>
</div>
</div>
<div class="footer">
<div class="fl footer-left"><p>寻求客服帮助？<br />
请拨打我们的热线电话</p></div>
<div class="fl footer-right"><p><a href="tel:4001008866">400-100-8866</a></p></div>
</div> 
</div>
<script type="text/javascript">
    function baidumap(log,lat,address){
        console.log(log)
        console.log(lat)
        console.log(address)
        if(log!="" && userLng!="null" && userLat!="null"){
            console.log("1")
            location.href = "http://api.map.baidu.com/direction?region=ss&origin=latlng:"+userLat+","+userLng+"|name:您所在位置&destination=latlng:"+lat+","+log+"|name:LaVico专柜&mode=driving&output=html&src=yourCompanyName|yourAppName";
        }else{
            console.log("2")
            location.href="http://api.map.baidu.com/geocoder?address="+address+"&output=html&src=yourCompanyName|yourAppName";
        }
    }
</script>
<!--/lavico/store/baiduCar?wxid={@wxid}&shopLng={@searchCity.LOG}&shopLat={@searchCity.LAT}&address={@searchCity.ADDR}-->
