<div class="wrapper">
  <div class="store-title">
    <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">门店查询</a></span><span class="title2">选择城市</span></p>
  </div>
  <!--<div class="inquiry">
  <div class="city fm" style="padding-left:0px;">选择城市</div> 
  </div>-->
  <div class="city-list">
      <foreach for="{@provinceArr}" var="province">
        <h3><a style="font-size: 1.6rem; padding: 5% 0 5% 4%; border-bottom: 1px solid #eee; display: block;" class="outlet_bottom">{@province}</a></h3>
        <div class="city-listContent" style="display: none">
          <ul>
              <foreach for="{@cityArr}" var="city">
                  <if condition="{@city[0]==province}">
                      <foreach for="{@city}" var="cityOne" key="key">
                          <if condition="@key!=0">
                              <li id="c"><a href="javascript:;" onclick="checkout('{@cityOne}','{@cityOne}')" id="ci" style="font-size: 1.4rem;padding:4% 0 4% 4%;display: block; color:#000; ">{@cityOne}</a></li>
                          </if>
                      </foreach>
                  </if>
              </foreach>

          </ul>
        </div>
      </foreach>
  </div>
</div>
<div class="fade2">
<div class="second-price">
<p class="msg"><span class="mt70">要使用您当前位置</p>
<p class="confirm"><input type="submit" class="goon_btn" border="0" value="允许" /></p>
<p class="msg"><span class="mt70">&nbsp;&nbsp;</p>
<p class="confirm"><input type="submit" class="goon_btn" border="0" value="不允许" /></p>
</div>
</div>
<script type="text/javascript">
    var doc = JSON.parse('{@list}');
    function checkout(city){
        var sta=false;
        console.log("doc:",doc)
        var sa = city.substring(0,city.length-1);
        for(var i=0;i<doc.length;i++){
           // if(doc.city!=null){
                if(sa == doc[i].city){
                    sta = true;
                }
            //}
        }
        console.log(sta)
        if(sta){
            location.href="/lavico/store/searchByCity:search?city="+city+"&wxid={@wxid}";
        }else{
            window.popupStyle2.on("很抱歉，本城市没有LaVico品牌专柜，请选择其他城市查询",function(event){
                if(event == "confirm"){
                }
            })

        }
    }
    window.onload=function(){
        var i="";
        $("h3").click(function () {
            if (i != $(this).text()) {
                i = $(this).text();
                $("h3").next().slideUp("normal");
            }
            $(this).next().slideToggle("normal");
        });

        $("div.city-list").find("a.outlet_bottom").click(function () {
            var h3Len = $(".city-list").find("h3");
            for (var i = 0; i < h3Len.length; i++) {
                h3Len.find("a.outlet_bottom").css({ "background": "url(/lavico/public/images/outlet_bottom.png) 96% center no-repeat", "background-size": "16px" });
            };

            if ($(this).parent("h3").next(".city-listContent").css('display') == 'block') {
                $(this).css({ "background": "url(/lavico/public/images/outlet_bottom.png) 96% center no-repeat", "background-size": "16px" });
            }
            if ($(this).parent("h3").next(".city-listContent").css('display') == 'none') {
                $(this).css({ "background": "url(/lavico/public/images/outlet_top.png) 96% center no-repeat", "background-size": "16px" });
            }
            //console.log($(this).parent("h3").next().attr("class"))
            //console.log($(this).parent("h3").next(".city-listContent").css('display'));
        });
    }
</script>
