<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script>
var log={@searchCity.LOG},lat={@searchCity.LAT};
</script>
<div class="wrapper">
  <div class="store-title">
    <p><span class="title1">
    <if condition="{@_id!=null}">
        <a href="/lavico/bargain/maps?_id={@_id}&wxid={@wxid}">返回</a>
    <else/>
        <a href="/lavico/store/currentCustomerLocation?wxid={@wxid}">返回</a>
        <!--<a href="/lavico/store/searchByCity?wxid={@wxid}">返回</a>-->
    </if>
    </span><span class="title2">门店详情</span></p>
  </div>
  <div class="look-map">
<div class="map">
<p class="store-name">{@searchCity.NAME}</p>
<div class="baidu-map">
    <if condition="{@searchCity.LOG==null}">
        <img src="/lavico/public/images/lavico_default.png" width="556" height="336">
    <else/>
        <div id="allmap" style="width: 556px;height: 336px"></div>
    </if>
</div>
<div class="way">
<p class="text">地址：{@searchCity.ADDR}<a href="/lavico/store/baiduCar?shopLng={@searchCity.LOG}&shopLat={@searchCity.LAT}">行车线路</a><br />
电话：{@searchCity.TEL}<br />

</p></div>
<div class="activity-detail">
<div class="title">促销活动</div>
<p class="text">{@searchCity.ACT}</p>
</div>
</div>
</div>
<div class="footer">
<div class="fl footer-left"><p>寻求客服帮助？<br />
请拨打我们的热线电话</p></div>
<div class="fl footer-right"><p><a href="tel:4001008866">400-100-8866</a></p></div>
</div> 
</div>
