<div class="wrapper">
  <div class="store-title">
    <p><span class="title1"><a href="/lavico/member/index?wxid={@wxid}">门店查询</a></span><span class="title2">选择城市</span></p>
  </div>
  <!--<div class="inquiry">
  <div class="city fm" style="padding-left:0px;">选择城市</div> 
  </div>-->
  <div class="city-list">
      <foreach for="{@provinceArr}" var="province">
        <h3><a style="font-size: 1.8rem; padding: 10px 0 10px 2%; border-bottom: 1px solid #eee; display: block;" class="outlet_bottom">{@province}</a></h3>
        <div class="city-listContent" style="display: none">
          <ul>
              <foreach for="{@cityArr}" var="city">
                  <if condition="{@city[0]==province}">
                      <foreach for="{@city}" var="cityOne" key="key">
                          <if condition="@key!=0">
                              <li id="c"><a href="/lavico/store/searchByCity:search?city={@cityOne}&wxid={@wxid}" id="ci" style="font-size: 1.6rem;padding:6px 0 6px 4%;display: block; color:#000; ">{@cityOne}</a></li>
                          </if>
                      </foreach>
                  </if>
              </foreach>

          </ul>
        </div>
      </foreach>
  </div>
</div>
<div class="fade2">
<div class="second-price">
<p class="msg"><span class="mt70">要使用您当前位置</p>
<p class="confirm"><input type="submit" class="goon_btn" border="0" value="允许" /></p>
<p class="msg"><span class="mt70">&nbsp;&nbsp;</p>
<p class="confirm"><input type="submit" class="goon_btn" border="0" value="不允许" /></p>
</div>
</div>
<script type="text/javascript">

    window.onload=function(){
        var i="";
        $("h3").click(function () {
            if (i != $(this).text()) {
                i = $(this).text();
                $("h3").next().slideUp("normal");
            }
            $(this).next().slideToggle("normal");
        });

    $("div.city-list").find("a.outlet_bottom").click(function () {
        var h3Len = $(".city-list").find("h3");
        for (var i = 0; i < h3Len.length; i++) {
            h3Len.find("a.outlet_bottom").css({ "background": "url(/lavico/public/images/outlet_bottom.png) 97% center no-repeat", "background-size": "16px" });
        };
        $(this).css({ "background": "url(/lavico/public/images/outlet_top.png) 97% center no-repeat", "background-size": "16px" });
    });

    //var outlet_bottom = 0;
    
    //$("div.city-list").find("a.outlet_bottom").click(function () {
    //    if (outlet_bottom == 0) {
    //        $(this).css({ "background": "url(/lavico/public/images/outlet_top.png) 97% center no-repeat", "background-size": "16px" });
    //        outlet_bottom = 1;
            
    //        $(this).parent().siblings().children(".outlet_bottom").click(function () {
    //            $("a.outlet_bottom").css({ "background": "url(/lavico/public/images/outlet_bottom.png) 97% center no-repeat", "background-size": "16px" });

    //            $(this).css({ "background": "url(/lavico/public/images/outlet_top.png) 97% center no-repeat", "background-size": "16px" });

    //           if (outlet_bottom == 1) {
    //                $(this).css({ "background": "url(/lavico/public/images/outlet_bottom.png) 97% center no-repeat", "background-size": "16px" });
    //            }

    //        });
    //    } else if (outlet_bottom == 1) {           
    //        $(this).css({ "background": "url(/lavico/public/images/outlet_bottom.png) 97% center no-repeat", "background-size": "16px" });
    //        outlet_bottom = 0;
    //    }
    //});
}

//
//    })
//}
//
//$(document).ready(function(e) {
//	$(".city_title").click(function(){
//		$(".fade2").css("display","block");
//	});
//
//	$(".goon_btn").click(function(){
//		$(".fade2").css("display","none");
//	});
//});
</script>
