<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=88318be4b6609ecec7e76169932d0b77"></script>
<script>
var log={@searchCity.LOG},lat={@searchCity.LAT};


</script>
<div class="wrapper">
  <div class="store-title">
    <p><span class="title1">

    <if condition="{@_id!=null}">
        <a href="/lavico/bargain/maps?_id={@_id}&wxid={@wxid}">返回</a>
    <else/>
        <a href="/lavico/store/currentCustomerLocation?wxid={@wxid}">返回</a>
        <!--<a href="/lavico/store/searchByCity?wxid={@wxid}">返回</a>-->
    </if>
    </span><span class="title2">门店详情</span></p>
  </div>
  <div class="look-map">
<div class="map">
<p class="store-name">{@searchCity.NAME}</p>
<div class="baidu-map">
    <if condition="{@searchCity.LOG==null}">
        <img src="/lavico/public/images/lavico_default.png" style="width: 100%;height: auto">
    <else/>
        <div id="allmap" style="width: 100%;height: 150px"></div>
    </if>
</div>
<div class="way">
    <p class="text"><span>地址：</span>{@searchCity.ADDR}</p>
    <p>导航：<a href="/lavico/store/baiduCar?wxid={@wxid}&shopLng={@searchCity.LOG}&shopLat={@searchCity.LAT}&address='{@searchCity.ADDR}'" style="display:inline-block;">行车线路</a></p>
    电话：{@searchCity.TEL}<br />
</div>

<div class="activity-detail">
    <p class="text">
        <if condition="{@docs.ACT==null}">
            暂无活动，敬请期待！
            <else/>
            {@docs.ACT}
        </if>
    </p>
</div>
</div>
</div>
<div class="footer">
<div class="fl footer-left"><p>寻求客服帮助？<br />
请拨打我们的热线电话</p></div>
<div class="fl footer-right"><p><a href="tel:4001008866">400-100-8866</a></p></div>
</div> 
</div>
